{% extends "stripey/_layouts/cp" %}

{% set title = "Order Types"|t %}

{% set crumbs = [
{ label: "Stripey"|t, url: url('stripey') },
{ label: "Settings"|t, url: url('stripey/settings') },
{ label: "Order Types"|t, url: url('stripey/settings/ordertypes') }
] %}

{% set selectedTab = 'settings' %}

{% set content %}
<table id="ordertypes" class="data fullwidth collapsible">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Handle</th>
        <td class="thin"></td>
    </tr>
    </thead>
    <tbody>
    {% for orderType in orderTypes %}
        <tr data-id="{{ orderType.id }}" data-name="{{ orderType.name }}">
            <th scope="row" data-title="Name"><a
                        href="{{ url('stripey/settings/ordertypes/'~orderType.id) }}">{{ orderType.name }}</a></th>
            <td data-title="Handle"><code>{{ orderType.handle }}</code></td>
            <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>
<br/>
<div class="btngroup submit first">
    <a href="{{ url('stripey/settings/ordertypes/new') }}" class="btn submit">New Order Type</a>
</div>
{% endset %}


{% set js %}
var adminTable = new Craft.AdminTable({
tableSelector: '#ordertypes',
noObjectsSelector: '#noordertypes',
newObjectBtnSelector: '#neworderTypecontainer',
deleteAction: 'stripey/orderType/deleteOrderType',
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its orders? Please make sure you have a backup of your database before before peforming this desctruction action"|t }}'
});
{% endset %}
{% includeJs js %}