{% extends "stripey/_layouts/cp" %}

{% set crumbs = [
{ label: "Stripey"|t, url: url('stripey') },
{ label: "products"|t, url: url('stripey/products') },
{ label: product.title, url: url(product.cpEditUrl) },
] %}

{% import "_includes/forms" as forms %}

{% set content %}
<form method="post" accept-charset="UTF-8" data-saveshortcut>
    <input type="hidden" name="action" value="stripey/variant/save">
    <input type="hidden" name="redirect" value="{{ product.cpEditUrl }}">

    {{ getCsrfInput() }}
    <input type="hidden" name="productId" value="{{ productId }}">
    <input type="hidden" name="id" value="{{ variant.id }}">

    {% set variantForm %}

    <table id="" class="shadow-box editable">
        <thead>
        <tr>
            <th scope="col" class="header"><span class="required">SKU</span></th>
            <th scope="col" class="header"><span class="required">Price</span></th>
            <th scope="col" class="header">Width</th>
            <th scope="col" class="header">Height</th>
            <th scope="col" class="header">Length</th>
            <th scope="col" class="header">Weight</th>
        </tr>
        <tbody>
        <tr>
            <td class="textual">
                <input name="sku" value="{{ variant.sku }}">
            </td>
            <td class="textual">
                <input type="number" step="0.01" name="price" value="{{ variant.price }}">
            </td>
            <td class="textual">
                <input type="number" name="width" value="{{ variant.width }}">
            </td>
            <td class="textual">
                <input type="number" name="height" value="{{ variant.height }}">
            </td>
            <td class="textual">
                <input type="number" name="length" value="{{ variant.length }}">
            </td>
            <td class="textual">
                <input type="number" name="weight" value="{{ variant.weight }}">
            </td>
        </tr>
        {% if variant.hasErrors() %}
            <tr>
                <td><span class="error">{{ variant.getErrors('sku')|join }}</span></td>
                <td><span class="error">{{ variant.getErrors('price')|join }}</span></td>
                <td><span class="error">{{ variant.getErrors('width')|join }}</span></td>
                <td><span class="error">{{ variant.getErrors('height')|join }}</span></td>
                <td><span class="error">{{ variant.getErrors('length')|join }}</span></td>
                <td><span class="error">{{ variant.getErrors('weight')|join }}</span></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {% endset %}

    {{ forms.field({
        id:       'variant',
        label:    'Variant'
    }, variantForm) }}

    {% for optionType in product.optionTypes %}
        {{ forms.selectField({
            label: optionType.name,
            name: 'optionValues[' ~ optionType.id ~ ']',
            value: optionValues[optionType.id] is defined ? optionValues[optionType.id] : variant.getOptionValue(optionType.id).id,
            required: false,
            options: optionType.selectValues,
        }) }}
    {% endfor %}


    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </div>
</form>

{% set js %}
$(function() {
$('select').selectize({
allowEmptyOption:true
});
});
{% endset %}
{% includeJs js %}

{% endset %}
