{% extends "commerce/_layouts/settings" %}


{% block content %}
    <h2>{{ "Payment Currencies"|t }}</h2>

    <div id="no-currencies"{% if currencies|length %} class="hidden"{% endif %}>
        <p>{{ "No additional payment currencies exist yet."|t }}</p>
    </div>

    {% if currencies|length %}
    <table id="currencies" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ 'Name'|t }}</th>
            <th scope="col">{{ 'Currency Code'|t }}</th>
            <th scope="col">{{ 'Conversion Rate'|t }}</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr data-id="{{ currency.id }}" data-name="{{ currency.name }}">
                <th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ currency.cpEditUrl }}">{{ currency.name|t }}{% if currency.primary %} {{ "(Primary)"|t }}{% endif %}</a></th>
                <td data-title="{{ 'ISO'|t }}">{{ currency.iso }}</td>
                <td data-title="{{ 'Conversion Rate'|t }}">{% if currency.primary %}<span class="token">{{ "Base"|t }}{% else %}{{ currency.rate|number }}{% endif %}</td>
                <td class="thin">{%  if not currency.primary %}<a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>{% endif %}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('commerce/settings/paymentcurrencies/new') }}" class="btn submit add icon">{{ 'New currency'|t }}</a>
    </div>
{% endblock %}


{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#currencies',
noObjectsSelector: '#no-currencies',
deleteAction: 'commerce/paymentCurrencies/delete',
confirmDeleteMessage:  Craft.t('Warning, deleting this currency will stop all payments and refunds in this currency, are you sure you want to delete “{name}”?'),
deleteFailMessage: '{{ "Can not delete “{name}” because it is in use."|t }}'
});
{% endincludejs %}
