{% extends "commerce/_layouts/promotions" %}

{% set content %}

    <h2>{{ "Discounts"|t }}</h2>
    <table id="discounts" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Dates</th>
            <th scope="col">Code</th>
            <th scope="col">Per User Limit</th>
            <th scope="col">Total Use Limit</th>
            <th scope="col">Times Used</th>
            <th scope="col">Purchase Total</th>
            <th scope="col">Purchase Quantity</th>
            <th scope="col">Base Discount</th>
            <th scope="col">Per Item Discount</th>
            <th scope="col">Percent Discount</th>
            <th scope="col">Enabled?</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for discount in discounts %}
            <tr data-id="{{ discount.id }}" data-name="{{ discount.name }}">
                <th scope="row" data-title="Name"><a href="{{ url('commerce/promotions/discounts/'~discount.id) }}">{{ discount.name }}</a></th>
                <td data-title="Dates">
                    {{ discount.dateFrom ? discount.dateFrom : 'no limit'|t }} - {{ discount.dateTo ? discount.dateTo : 'no limit'|t }}
                </td>
                <td data-title="Code">{{ discount.code }}</td>
                <td data-title="Per User Limit">{{ discount.perUserLimit }}</td>
                <td data-title="Total Use Limit">{{ discount.totalUseLimit }}</td>
                <td data-title="Purchase Total">{{ discount.purchaseTotal }}</td>
                <td data-title="Times Used">{{ discount.totalUses }}</td>
                <td data-title="Purchase Quantity">{{ discount.purchaseQty }}</td>
                <td data-title="Base Discount">{{ discount.baseDiscount }}</td>
                <td data-title="Per Item Discount">{{ discount.perItemDiscount }}</td>
                <td data-title="Percent Discount">{{ discount.percentDiscount }}</td>
                <td data-title="Enabled">
                    {% if discount.enabled %}
                        <div class="status enabled"></div>
                    {% else %}
                        <div class="status"></div>
                    {% endif %}
                </td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/>
    <div class="btngroup submit first">
        <a href="{{ url('commerce/promotions/discounts/new') }}" class="btn submit">New Discount</a>
    </div>
{% endset %}


{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#discounts',
deleteAction: 'commerce/discount/delete',
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}'
});
{% endincludejs %}
