{% extends "commerce/_layouts/promotions" %}
{% set selectedSidebarNavItem = 'discounts' %}


{% block content %}
    <h2>{{ "Discounts"|t }}</h2>

    <div id="no-discounts"{% if discounts|length %} class="hidden"{% endif %}>
        <p>{{ "No discounts exist yet."|t }}</p>
    </div>

    {% if discounts|length %}
    <table id="discounts" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Code"|t }}</th>
            <th scope="col">{{ "Duration"|t }}</th>
            <th scope="col">{{ "Times Used"|t }}</th>
            <th scope="col">{{ "Can Stop Processing?"|t }}</th>
            <td class="thin"></td>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for discount in discounts %}
            <tr data-id="{{ discount.id }}" data-name="{{ discount.name }}">
                <th scope="row" data-title="{{ 'Name'|t }}">
                    {% if discount.enabled %}
                        <div class="status enabled"></div>
                    {% else %}
                        <div class="status"></div>
                    {% endif %}
                    <a href="{{ url('commerce/promotions/discounts/'~discount.id) }}">{{ discount.name }}</a>
                </th>
                <td data-title="{{ 'Code'|t }}" class="code">{{ discount.code }}</td>
                <td data-title="{{ 'Duration'|t }}">
                    {{ (discount.dateFrom ? discount.dateFrom.localeDate() : '∞') }}
                    -
                    {{ (discount.dateTo ? discount.dateTo.localeDate() : '∞') }}
                </td>
                <td data-title="{{ 'Times Coupon Used'|t }}">{{ discount.totalUses }}</td>
                <td data-title="{{ 'Can Stop Processing?'|t }}">{% if discount.stopProcessing %}<span data-icon="check" title="{{ 'Yes'|t }}"></span>{% endif %}</td>
                <td class="thin">
                    <a class="move icon disabled" title="{{ 'Delete'|t }}" role="button"></a>
                </td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('commerce/promotions/discounts/new') }}" class="btn submit add icon">{{ 'New discount'|t }}</a>
    </div>
{% endblock %}


{% includejs %}
var adminTable = new Craft.AdminTable({
	tableSelector: '#discounts',
	noObjectsSelector: '#no-discounts',
	deleteAction: 'commerce/discounts/delete',
	sortable: true,
	reorderAction: 'commerce/discounts/reorder',
	reorderSuccessMessage: Craft.t('Discounts reordered.'),
	reorderFailMessage:    Craft.t('Couldn’t reorder discounts.')
});
{% endincludejs %}
