{% extends "commerce/_layouts/promotions" %}
{% set selectedSidebarNavItem = 'discounts' %}


{% block content %}
    <h2>{{ "Discounts"|t }}</h2>

    <div id="no-discounts"{% if discounts|length %} class="hidden"{% endif %}>
        <p>{{ "No discounts exist yet."|t }}</p>
    </div>

    {% if discounts|length %}
    <table id="discounts" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Duration</th>
            <th scope="col">Times Used</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for discount in discounts %}
            <tr data-id="{{ discount.id }}" data-name="{{ discount.name }}">
                <th scope="row" data-title="Name">
                    {% if discount.enabled %}
                        <div class="status enabled"></div>
                    {% else %}
                        <div class="status"></div>
                    {% endif %}
                    <a href="{{ url('commerce/promotions/discounts/'~discount.id) }}">{{ discount.name }}</a>
                </th>
                <td data-title="Code" class="code">{{ discount.code }}</td>
                <td data-title="Dates">
                    {{ (discount.dateFrom ? discount.dateFrom.localeDate() : '∞') }}
                    -
                    {{ (discount.dateTo ? discount.dateTo.localeDate() : '∞') }}
                </td>
                <td data-title="Times Used">{{ discount.totalUses }}</td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <div class="buttons secondary-buttons">
        <a href="{{ url('commerce/promotions/discounts/new') }}" class="btn submit add icon">New discount</a>
    </div>
{% endblock %}


{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#discounts',
noObjectsSelector: '#no-discounts',
deleteAction: 'commerce/discounts/delete',
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}'
});
{% endincludejs %}
