{% extends "commerce/_layouts/store-management" %}
{% set isIndex = false %}
{% set crumbs = [
    { label: "Shipping Methods"|t('commerce'), url: url("commerce/store-management/#{storeHandle}/shippingmethods") },
    { label: shippingMethod.getName()|t('commerce'), url: url("commerce/store-management/#{storeHandle}/shippingmethods/#{methodId}") },
] %}

{% set selectedSubnavItem = 'shipping' %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "commerce/_includes/forms/commerceForms" as commerceForms %}

{% set tabs = {
    rule: {'label':'Rule'|t('commerce'),'url':'#rule-tab'},
    conditions: {'label':'Conditions'|t('commerce'),'url':'#conditions-tab'},
    costs: {'label':'Costs'|t('commerce'),'url':'#costs-tab'}
} %}
{% set currency = shippingMethod.getStore().getCurrency() %}
{% set decimals = craft.commerce.currencies.getSubunitFor(currency) %}

{% block actionButton %}
<div class="btngroup">
    <input type="submit" class="btn submit"
           value="{{ 'Save'|t('commerce') }}">
    {% if shippingRule.id %}
    <div class="btn submit menubtn"></div>
    <div class="menu">
        <ul>
            <li>
                <a class="formsubmit"
                   data-action="commerce/shipping-rules/duplicate"
                   data-confirm="{{ 'Are you sure you want to save this as a new shipping rule?'|t('commerce') }}"
                   data-redirect="{{ "commerce/store-management/#{storeHandle}/shippingmethods/{methodId}#rules"|hash }}">
                    {{ "Save as a new rule"|t('commerce') }}
                </a>
            </li>

        </ul>
        <hr>
        <ul>
            <li>
                <a class="formsubmit error"
                   data-action="commerce/shipping-rules/delete"
                   data-confirm="{{ 'Are you sure you want to delete this shipping rule?'|t('commerce') }}"
                   data-redirect="{{ "commerce/store-management/#{storeHandle}/shippingmethods/{methodId}#rules"|hash }}">
                    {{ 'Delete'|t('commerce') }}
                </a>
            </li>
        </ul>
    </div>
        {% endif %}
</div>
{% endblock %}

{% block details %}
    <div class="meta">
        {{ forms.lightSwitchField({
            label: "Enable this shipping rule"|t('commerce'),
            id: 'enabled',
            name: 'enabled',
            value: 1,
            on: shippingRule.enabled,
            checked: shippingRule.enabled,
            errors: shippingRule.getErrors('enabled')
        }) }}
    </div>

    {% if shippingRule and shippingRule.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                <div id="date-created-value" class="value">{{ shippingRule.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                <div id="date-updated-value" class="value">{{ shippingRule.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ actionInput('commerce/shipping-rules/save') }}
    {{ hiddenInput('methodId', methodId) }}
    {{ hiddenInput('storeId', storeId) }}
    {{ redirectInput("commerce/store-management/#{storeHandle}/shippingmethods/#{methodId}#rules") }}

    {% if shippingRule.id %}<input type="hidden" name="id" value="{{ shippingRule.id }}">{% endif %}

    <div id="rule-tab">
        {{ forms.textField({
            first: true,
            label: "Name"|t('commerce'),
            instructions: "What this shipping rule will be called in the control panel."|t('commerce'),
            id: 'name',
            name: 'name',
            value: shippingRule.name,
            errors: shippingRule.getErrors('name'),
            autofocus: true,
            required: true,
        }) }}

        {{ forms.textField({
            first: true,
            label: "Description"|t('commerce'),
            instructions: "Describe this rule."|t('commerce'),
            name: 'description',
            value: shippingRule.description,
            errors: shippingRule.getErrors('description'),
        }) }}
    </div>
    <div id="conditions-tab" class="hidden">
        <p>{{ "Filtering conditions which describe to which orders this rule is applicable to. Write 0 to skip a condition."|t('commerce') }}</p>

        {% set orderConditionInput %}
          {{ shippingRule.orderCondition.getBuilderHtml()|raw }}
        {% endset %}

        {{ forms.field({
          id: 'orderCondition',
          label: 'Match Order'|t('commerce'),
          errors: shippingRule.getErrors('orderCondition')
        }, orderConditionInput) }}

        <a class="fieldtoggle {% if shippingRule.orderConditionFormula %}expanded{% endif %}"
           data-target="orderConditionFormula-advanced">{{ 'Advanced'|t('commerce') }}</a>

        <div id="orderConditionFormula-advanced"
             class="{% if not shippingRule.orderConditionFormula %}hidden{% endif %}">
            {% embed '_includes/forms/field' with {
                label: 'Order Condition Formula'|t('commerce'),
                id: 'orderConditionFormula',
                rows: 5,
                instructions: 'Specify a <a href="{url}">Twig condition</a> that determines whether the shipping rule should apply to a given order. (The order can be referenced via an `order` variable.)'|t('commerce', {
                    url: 'https://twig.symfony.com/doc/2.x/templates.html#expressions',
                }),
                errors: shippingRule is defined ? shippingRule.getErrors('orderConditionFormula'),
                } %}
                {% block input %}
                    {% import "_includes/forms" as forms %}
                    <div id="zipCodeField" class="flex flex-nowrap" style="align-items: stretch;">
                        <div  class="zip-condition">
                            {{ forms.textarea({
                                value: shippingRule is defined ? shippingRule.orderConditionFormula,
                                name: 'orderConditionFormula',
                                class: 'code',
                                rows: 5,
                                placeholder: 'Example'|t('commerce') ~ ': \'@apple.com\' in order.email'
                            }) }}
                        </div>
                    </div>
                {% endblock %}
            {% endembed %}
        </div>

        <hr>

        <h3>{{ "Shipping Category Conditions"|t('commerce') }}</h3>
        {% set shippingCategories = craft.commerce.shippingCategories.allShippingCategories(shippingMethod.storeId) %}
        {% if shippingCategories %}
            <table id="shipping-categories-conditions"
                   class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th scope="col">{{ 'Name'|t('commerce') }}</th>
                    <th scope="col">{{ 'Condition'|t('commerce') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for shippingCategory in shippingCategories %}
                    {% set id = shippingCategory.id %}
                    <tr{% if id %} data-id="{{ id }}" data-name="{{ shippingCategory.name }}"{% endif %}>
                        <th scope="row" data-title="{{ 'Name'|t('commerce') }}">
                            {{ shippingCategory.name|t('site') }}
                        </th>
                        <td data-title="{{ 'Condition'|t('commerce') }}">
                            {{ forms.selectField({
                                name: 'ruleCategories['~shippingCategory.id~'][condition]',
                                value: shippingRule.getShippingRuleCategories[shippingCategory.id].condition ?? 'allow',
                                options: categoryShippingOptions
                            }) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div id="costs-tab" class="hidden">

        {{ forms.moneyField({
            label: "Base Rate"|t('commerce'),
            id: 'baseRate',
            name: 'baseRate',
            instructions: "Shipping costs added to the order as a whole before percentage, item, and weight rates are applied. Set to zero to disable this rate. The whole rule, including this base rate, will not match and apply if the cart only contains non-shippable items like digital products."|t('commerce'),
            value: shippingRule.baseRate|number,
            size: 5,
            showCurrency: true,
            showClear: false,
            currencyLabel: currency,
            decimals: decimals,
            required: true,
            errors: shippingRule.getErrors('baseRate'),
        }) }}

        {{ forms.moneyField({
            size: 5,
            showCurrency: true,
            showClear: false,
            currencyLabel: currency,
            decimals: decimals,
            label: "Minimum Total Shipping Cost"|t('commerce'),
            name: 'minRate',
            instructions: "The minimum the customer should spend on shipping. Set to zero to disable."|t('commerce'),
            value: shippingRule.minRate|number,
            errors: shippingRule.getErrors('minRate'),
            required: true,
        }) }}

        {{ forms.moneyField({
            size: 5,
            showCurrency: true,
            showClear: false,
            currencyLabel: currency,
            decimals: decimals,
            label: "Maximum Total Shipping Cost"|t('commerce'),
            instructions: "The maximum the customer should spend on shipping. Set to zero to disable."|t('commerce'),
            name: 'maxRate',
            value: shippingRule.maxRate|number,
            errors: shippingRule.getErrors('maxRate'),
            required: true,
        }) }}

        <h3>{{ "Item Rates"|t('commerce') }}</h3>
        {% set shippingCategories = craft.commerce.shippingCategories.getAllShippingCategories(shippingMethod.storeId) %}
        {% if shippingCategories %}
            <table id="shipping-categories-rates"
                   class="data fullwidth collapsible">
                <thead>
                <tr>
                    <th scope="col">{{ 'Name'|t('commerce') }}</th>
                    <th scope="col">{{ 'Per Item Rate'|t('commerce') }}</th>
                    <th scope="col">{{ 'Weight Rate'|t('commerce') }}</th>
                    <th scope="col">{{ 'Percentage Rate'|t('commerce') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row" data-title="{{ 'Name'|t('commerce') }}">
                    </td>
                    <td class="topalign" data-title="{{ 'Per Item Rate'|t('commerce') }}">
                        {{ forms.moneyField({
                            id: 'perItemRate',
                            name: 'perItemRate',
                            value: shippingRule.perItemRate|number,
                            decimals: decimals,
                            currencyLabel: currency,
                            showCurrency: true,
                            showClear: false,
                            size: 5,
                            errors: shippingRule.getErrors('perItemRate'),
                            required: true,
                        }) }}
                    </td>
                    <td class="topalign" data-title="{{ 'Weight Rate'|t('commerce') }}">
                        {{ forms.moneyField({
                            id: 'weightRate',
                            name: 'weightRate',
                            value: shippingRule.weightRate|number,
                            decimals: decimals,
                            currencyLabel: currency,
                            showCurrency: true,
                            showClear: false,
                            size: 5,
                            errors: shippingRule.getErrors('weightRate'),
                            required: true,
                        }) }}
                    </td>
                    <td class="topalign" data-title="{{ 'Percentage Rate'|t('commerce') }}">
                        {{ commerceForms.numberField({
                            name: 'percentageRate',
                            value: shippingRule.percentageRate|number,
                            type: 'number',
                            min: 0,
                            step: 'any',
                            errors: shippingRule.getErrors('percentageRate'),
                            required: true,
                        }) }}
                    </td>
                </tr>
                <tr class="js-category-overrides-heading">
                    <th colspan="4"
                        data-title="{{ 'Category Rate Overrides'|t('commerce') }}">
                        <hr>
                        {{ forms.field({
                          label: "Category Rate Overrides"|t('commerce'),
                          tip: 'Leave a category rate override blank to use the rate from above.'|t('commerce'),
                        }) }}
                    </th>
                </tr>
                {% for shippingCategory in shippingCategories %}
                    {% set shippingCategoryRule = shippingRule.getShippingRuleCategories[shippingCategory.id] ?? null %}
                    {% set perItemRate = shippingCategoryRule and not shippingCategoryRule.perItemRate is same as(null) ? shippingCategoryRule.perItemRate|number : '' %}
                    {% set weightRate = shippingCategoryRule and not shippingCategoryRule.weightRate is same as(null) ? shippingCategoryRule.weightRate|number : '' %}
                    {% set percentageRate = shippingCategoryRule and not shippingCategoryRule.percentageRate is same as(null) ? shippingCategoryRule.percentageRate|number : '' %}
                    {% set categoryCondition = shippingCategoryRule ? shippingCategoryRule.condition : '' %}

                    {% set id = shippingCategory.id %}
                    <tr{% if id %} data-id="{{ id }}" data-name="{{ shippingCategory.name }}"{% endif %}
                        class="{% if categoryCondition == 'disallow' %}hidden{% endif %} js-category-override-row">
                        <th scope="row" data-title="{{ 'Name'|t('commerce') }}">
                            {{ shippingCategory.name }}
                        </th>
                        <td class="topalign" data-title="{{ 'Per Item Rate'|t('commerce') }}">
                            {{ forms.moneyField({
                                id: 'rulesCategories-categoryPerItemRate-' ~ shippingCategory.id,
                                name: 'ruleCategories['~shippingCategory.id~'][perItemRate]',
                                class: 'categoryPerItemRate',
                                value: perItemRate,
                                size: 5,
                                currencyLabel: currency,
                                showCurrency: true,
                                decimals: decimals,
                                errors: shippingCategoryRule ? shippingCategoryRule.getErrors('perItemRate') : null,
                            }) }}
                        </td>
                        <td class="topalign" data-title="{{ 'Weight Rate'|t('commerce') }}">
                            {{ forms.moneyField({
                                id: 'rulesCategories-categoryWeightRate-' ~ shippingCategory.id,
                                name: 'ruleCategories['~shippingCategory.id~'][weightRate]',
                                class: 'categoryWeightRate',
                                value: weightRate,
                                size: 5,
                                currencyLabel: currency,
                                showCurrency: true,
                                decimals: decimals,
                                errors: shippingCategoryRule ? shippingCategoryRule.getErrors('weightRate') : null,
                            }) }}
                        </td>
                        <td class="topalign" data-title="{{ 'Percentage Rate'|t('commerce') }}">
                            {{ commerceForms.numberField({
                                name: 'ruleCategories['~shippingCategory.id~'][percentageRate]',
                                class: 'categoryPercentageRate',
                                value: percentageRate,
                                type: 'number',
                                step: 'any',
                                errors: shippingCategoryRule ? shippingCategoryRule.getErrors('percentageRate') : null,
                            }) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% css %}.commerce-shipping-rules-text-right { text-align: right; }{% endcss %}

{% js %}
    window.shippingCategories = {{ craft.commerce.shippingCategories.allShippingCategories(shippingMethod.storeId).all()|json_encode|raw }};

    function toggleCategoryOverridesHeading() {
      if ($('.js-category-override-row.hidden').length == Object.keys(window.shippingCategories).length) {
        $('.js-category-overrides-heading').addClass('hidden');
      } else {
        $('.js-category-overrides-heading').removeClass('hidden');
      }
    }

    $("select[name^='ruleCategories']").change(function() {
      var id = $(this).closest('tr').data('id');
      var value = $(this).val();
      var $rateRow = $("#shipping-categories-rates").find("tr[data-id="+id+"]");

      if (value == 'disallow') {
        $rateRow.addClass('hidden');
      } else {
        $rateRow.removeClass('hidden');
      }

      toggleCategoryOverridesHeading();
    });

    toggleCategoryOverridesHeading();
{% endjs %}
