<!-- Template: {{ _self }}.twig -->
<div class="my-6">
    <h1 class="text-xl block sm:inline">Simple list of products</h1>

    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 -mx-2">
        {% for product in products %}
            <form method="post" class="js-form">
                {{ actionInput('commerce/cart/update-cart') }}
                {{ hiddenInput('successMessage', ('Added '~ product.title ~' to the cart.')|hash) }}
                {{ hiddenInput('purchasableId', product.defaultVariant.id) }}
                {{ csrfInput() }}
                <div class="p-2 relative">
                    <a class="underline text-blue-500"
                       href="{{ product.defaultVariant.url }}">{{ product.defaultVariant.title }}</a> <span
                            class="italic">{{ product.defaultVariant.price|currency(cart.currency) }}</span>
                    <button type="submit"
                            class="float-right px-2 py-1 md:block md:float-none bg-blue-500 hover:bg-blue-600 rounded text-sm text-white">
                        Add to cart
                    </button>

                </div>
            </form>
        {% endfor %}
    </div>
</div>