{% extends "market/_layouts/settings" %}

{% set selectedTab = 'settings' %}

{% import "_includes/forms" as forms %}

{% set content %}

    <h2>{{ "Global Settings"|t }}</h2>

    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="market/settings/saveSettings"/>
        <input type="hidden" name="redirect" value="market/settings"/>
        {{ getCsrfInput() }}

        {{ forms.textField({
            label: "Currency"|t,
            instructions: "System Currency for all orders and carts."|t,
            id: 'defaultCurrency',
            name: 'settings[defaultCurrency]',
            value: settings.defaultCurrency,
            errors: settings.getErrors('defaultCurrency'),
            required: true,
        }) }}

        {% for option in ['emailSenderAddress', 'emailSenderName'] %}
            {{ forms.textField({
                label: option|title|t,
                id: option,
                name: 'settings[' ~ option ~ ']',
                value: settings[option],
                errors: settings.getErrors(option),
            }) }}
        {% endfor %}

        {{ forms.selectField({
            label: "Weight Units"|t,
            name: 'settings[weightUnits]',
            value: settings.weightUnits,
            options: settings.getWeightUnitsOptions(),
            errors: settings.getErrors('weightUnits'),
            required: true,
        }) }}

        {{ forms.selectField({
            label: "Dimension Units"|t,
            name: 'settings[dimensionUnits]',
            value: settings.dimensionUnits,
            options: settings.getDimensionUnits(),
            errors: settings.getErrors('dimensionUnits'),
            required: true,
        }) }}

        {{ forms.selectField({
            label: "Credit Card Payment Method"|t,
            instructions: "If set to Authorize Only, you will need to manually capture payments before the funds will be transferred to your account."|t,
            id: 'paymentMethod',
            name: 'settings[paymentMethod]',
            value: settings.paymentMethod,
            options: settings.getPaymentMethodOptions(),
            errors: settings.getErrors('paymentMethod'),
            required: true,
        }) }}

        {{ forms.textField({
            label: "Cart Expiry Timeout"|t,
            instructions: "The number of minutes the cart cookie should last. Default: 10080 (1 week)."|t,
            id: 'defaultCurrency',
            name: 'settings[cartExpiryTimeout]',
            value: settings.cartExpiryTimeout,
            errors: settings.getErrors('cartExpiryTimeout'),
            required: true,
        }) }}

        {{ forms.textField({
            label: "Purge Inactive Carts Duration"|t,
            instructions: "When should we delete inactive carts from last update date. Enter in PHP interval format."|t,
            id: 'purgeIncompleteCartDuration',
            name: 'settings[purgeIncompleteCartDuration]',
            value: settings.purgeIncompleteCartDuration,
            errors: settings.getErrors('purgeIncompleteCartDuration'),
            required: true,
        }) }}

        {{ forms.textField({
            label: "Order PDF Template"|t,
            instructions: "The path to the template used for generating order PDF's"|t,
            id: 'orderPdfPath',
            name: 'settings[orderPdfPath]',
            value: settings.orderPdfPath,
            errors: settings.getErrors('orderPdfPath'),
            required: true,
        }) }}


        <!-- TODO: Make dropdown and popular with a currency helper -->
        <input type="submit" class="btn" value="Save"/>
    </form>

{% endset %}
