{% extends "commerce/_layouts/settingscp" %}

{% set crumbs = [
{ label: "Commerce Settings"|t, url: url('commerce/settings') },
{ label: "Tax Zones"|t, url: url('commerce/settings/taxzones') },
] %}

{% import "_includes/forms" as forms %}

{% set content %}
<form method="post" accept-charset="UTF-8" data-saveshortcut>
    <input type="hidden" name="action" value="commerce/taxZone/save">
    <input type="hidden" name="redirect" value="commerce/settings/taxzones">

    {{ getCsrfInput() }}
    {% if taxZone.id %}<input type="hidden" name="taxZoneId" value="{{ taxZone.id }}">{% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t,
        instructions: "What this tax zone will be called in the CP."|t,
        name: 'name',
        value: taxZone.name,
        errors: taxZone.getErrors('name'),
        autofocus: true,
        required: true,
        translatable: true
    }) }}

    {{ forms.textField({
        label: "Description"|t,
        instructions: "Describe this tax zone."|t,
        name: 'description',
        value: taxZone.description,
        errors: taxZone.getErrors('description'),
    }) }}

    {{ forms.radioGroupField({
        label: 'Type'|t,
        name: 'countryBased',
        options: {1 : 'Country-based'|t, 0 : 'State-based'|t},
        value: taxZone.countryBased,
        errors: taxZone.getErrors('countryBased'),
        required: true,
    }) }}

    {{ forms.multiselectField({
        label: 'Countries'|t,
        instructions: 'Choose the countries that this zone applies to.',
        id: 'countries',
        name: 'countries',
        options: countries,
        values: taxZone.getCountriesIds(),
        errors: taxZone.getErrors('countries'),
        required: true,
        class: 'selectize fullwidth',
    }) }}

    {{ forms.multiselectField({
        label: 'States'|t,
        id: 'states',
        instructions: 'Choose the states that this zone applies to.',
        name: 'states',
        options: states,
        values: taxZone.getStatesIds(),
        errors: taxZone.getErrors('states'),
        required: true,
        class: 'selectize fullwidth',
    }) }}

    {{ forms.checkboxField({
        label: "Use this tax zone as the default when no shipping address is set?"|t,
        id: 'default',
        name: 'default',
        value: 1,
        checked: taxZone.default,
        errors: taxZone.getErrors('default')
    }) }}

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </div>
</form>

{% endset %}

{% includejs %}
{#<script>#}
$(function () {
    $('#countries, #states').selectize({
        plugins: ['remove_button'],
        dropdownParent: 'body'
    });

    $('[name=countryBased]').change(function () {
        if (!$(this).is(':checked')) {
            return;
        }
        if ($(this).val() * 1) {
            $('#countries')[0].selectize.enable();
            $('#states')[0].selectize.disable();
            $('#countries-field').show();
            $('#states-field').hide();
        } else {
            $('#countries')[0].selectize.disable();
            $('#states')[0].selectize.enable();
            $('#countries-field').hide();
            $('#states-field').show();
        }
    });

    $('[name=countryBased]:checked').trigger('change');
});
{#</script>#}
{% endincludejs %}
