<!-- Template: {{ _self }}.twig -->
<div class="my-6">
  <div class="mb-2">
    {{ 'Showing {num} of {total}.'|t('site', {
      num: products|length,
      total: pageInfo.total
    }) }}
  </div>

  {% if pageInfo.currentPage != 1 %}
    <a href="{{ pageInfo.firstUrl }}" class="text-[[color]]-400px-2 py-1 px-2 rounded border border-gray-300">
      {{- 'First' -}}
    </a>
  {% endif %}

  {% if pageInfo.prevUrl %}
    <a href="{{ pageInfo.prevUrl }}" class="text-[[color]]-400px-2 py-1 px-2 rounded border border-gray-300">
      {{- 'Previous' -}}
    </a>
  {% endif %}

  {% for page, url in pageInfo.getPrevUrls(5) %}
    <a href="{{ url }}" class="text-[[color]]-400px-2 py-1 px-2 rounded border border-gray-300">
      {{- page -}}
    </a>
  {% endfor %}

  <span class="px-2 py-1">{{ pageInfo.currentPage }}</span>

  {% for page, url in pageInfo.getNextUrls(5) %}
    <a href="{{ url }}" class="text-[[color]]-400px-2 py-1 px-2 rounded border border-gray-300">
      {{- page -}}
    </a>
  {% endfor %}

  {% if pageInfo.nextUrl %}
    <a href="{{ pageInfo.nextUrl }}" class="text-[[color]]-400px-2 py-1 px-2 rounded border border-gray-300">
      {{- 'Next' -}}
    </a>
  {% endif %}

  {% if pageInfo.currentPage != pageInfo.totalPages %}
    <a href="{{ pageInfo.lastUrl }}" class="text-[[color]]-400px-2 py-1 px-2 rounded border border-gray-300">
      {{- 'Last' -}}
    </a>
  {% endif %}
</div>
