{% extends "commerce/_layouts/settingscp" %}

{% set crumbs = [
{ label: "Commerce Settings"|t, url: url('commerce/settings') },
{ label: "Payment Methods"|t, url: url('commerce/settings/paymentmethods') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="id" value="{{ paymentMethod.id }}">
    <input type="hidden" name="action" value="commerce/paymentMethods/save">
    <input type="hidden" name="redirect" value="commerce/settings/paymentmethods">

    {{ forms.textField({
        label: 'Name'|t,
        name: 'name',
        value : paymentMethod.name,
        required: true,
        errors: paymentMethod.getErrors('name'),
    }) }}

    {{ forms.selectField({
        label: "Credit Card Payment Type"|t,
        instructions: "If set to Authorize Only, you will need to manually capture payments before the funds will be transferred to your account. The Gateway needs to support the selected option."|t,
        id: 'paymentType',
        name: 'paymentType',
        value: paymentMethod.paymentType,
        options: paymentMethod.getPaymentTypeOptions(),
        errors: paymentMethod.getErrors('paymentType'),
        required: true,
    }) }}

    <hr>

    {{ forms.selectField({
        first: true,
        label: 'Gateway'|t,
        warning: (paymentMethod.class ? "Changing this value may affect your ability to refund existing transactions."|t),
        id: 'class',
        name: 'class',
        options : gatewaysList,
        value : paymentMethod.class,
        required: true,
        errors: paymentMethod.getErrors('class'),
    }) }}

    <input type="hidden" name="paymentMethodClass" value="{{ paymentMethod.class }}">

    {% for gateway in gateways %}
        <div class="gateway-settings" id="gateway-{{ gateway.handle }}" data-name="{{ gateway.displayName }}">
            {{ gateway.getSettingsHtml(paymentMethod)|raw }}
        </div>
    {% endfor %}

    <hr>

    {{ forms.checkboxField({
        label: "Enabled for customers to select during checkout?"|t,
        name: 'frontendEnabled',
        checked: paymentMethod.frontendEnabled,
        errors: paymentMethod.getErrors('frontendEnabled'),
    }) }}

{% endblock %}

{% includejs %}
{#<script>#}
    $(function() {
        $('#class').change(function() {
            $('.gateway-settings').hide().find('select, input, textarea').prop('disabled', true);
            if($(this).val()) {
                $('#gateway-' + $(this).val()).show().find('select, input, textarea').prop('disabled', false);
            }
        }).change();

    });
{#</script>#}
{% endincludejs %}
