{% extends "commerce/_layouts/settings" %}

{% set title = "Payment Methods"|t %}

{% set content %}

    <h2>{{ "Payment Methods"|t }}</h2>

    <table id="paymentMethods" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th>{{ "Payment Method"|t }}</th>
            <th>{{ "Gateway"|t }}</th>
            <th>{{ "Front End Status"|t }}</th>
        </tr>
        </thead>
        <tbody>
        {% for paymentMethod in paymentMethods %}
            <tr data-id="{{ paymentMethod.class }}" data-name="{{ paymentMethod.name }}">
                <th scope="row" data-title="Name"><a href="{{ paymentMethod.cpEditUrl }}">{{ paymentMethod.name }}</a></th>
                <td data-title="Class">{{ paymentMethod.class }}</td>
                <td data-title="Status">
                    {% if paymentMethod.frontendEnabled %}
                        <div class="status enabled"></div>
                    {% else %}
                        <div class="status"></div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="buttons secondary-buttons">
        <a href="{{ url('commerce/settings/paymentmethods/new') }}" class="btn submit add icon">New payment method</a>
    </div>

{% endset %}
