{% extends "commerce/_layouts/settings" %}

{% set title = "Payment Methods"|t %}


{% block content %}
    <h2>{{ "Payment Methods"|t }}</h2>

    <table id="payment-methods" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th class="thin">{{ "ID"|t }}</th>
            <th>{{ "Name"|t }}</th>
            <th>{{ "Gateway"|t }}</th>
            <th>{{ "Enabled?"|t }}</th>
        </tr>
        </thead>
        <tbody>
        {% for paymentMethod in paymentMethods %}
            <tr data-id="{{ paymentMethod.class }}" data-name="{{ paymentMethod.name }}">
                <td class="thin" scope="row" data-title="{{ 'ID'|t }}">{{ paymentMethod.id }}</td>
                <th scope="row" data-title="{{ 'Name'|t }}"><a href="{{ paymentMethod.cpEditUrl }}">{{ paymentMethod.name }}</a></th>
                <td data-title="{{ 'Gateway'|t }}">{{ paymentMethod.class }}</td>
                <td data-title="{{ 'Enabled?'|t }}">{% if paymentMethod.frontendEnabled %}<span data-icon="check" title="{{ 'Yes'|t }}"></span>{% endif %}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="buttons">
        <a href="{{ url('commerce/settings/paymentmethods/new') }}" class="btn submit add icon">{{ 'New payment method'|t }}</a>
    </div>
{% endblock %}
