{% extends "commerce/_layouts/store-management" %}
{% set isIndex = false %}
{% set crumbs = [
    { label: "Shipping Zones"|t('commerce'), url: url("commerce/store-management/#{storeHandle}/shippingzones") },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block details %}
    {% if shippingZone and shippingZone.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                <div id="date-created-value" class="value">{{ shippingZone.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                <div id="date-updated-value" class="value">{{ shippingZone.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ hiddenInput('storeId', shippingZone.storeId) }}
    {{ actionInput('commerce/shipping-zones/save') }}
    {{ redirectInput("commerce/store-management/#{storeHandle}/shippingzones") }}
    {% if shippingZone.id %}
      {{ hiddenInput('shippingZoneId', shippingZone.id) }}
    {% endif %}
    {% include "commerce/store-management/shipping/shippingzones/_fields" %}
{% endblock %}
