<!-- Template: {{ _self }}.twig -->
{% set paymentSources = paymentSources is not defined ? [] : paymentSources %}
{% set availableGateways = availableGateways is not defined ? [] : availableGateways %}

<label class="font-semibold">Choose a payment gateway or payment source:</label>
{% if paymentSources|length %}
  {% for source in paymentSources %}
    <label class="block bg-gray-100 p-2 hover:bg-gray-200 cursor-pointer mt-3">
      <div class="flex justify-start items-center">
        <div class="pr-2">
          <input type="radio" name="paymentSourceId" value="{{ source.id }}" {% if source.id == cart.paymentSourceId %}checked{% endif %} />
        </div>
        <div>
          <strong>{{ source.description }}</strong>
          <br><span class="text-gray-600">Stored source</span>
        </div>
      </div>
    </label>
  {% endfor %}
{% endif %}

{% if availableGateways|length %}
  {% for id,name in availableGateways %}
    <label class="block bg-gray-100 p-2 hover:bg-gray-200 cursor-pointer mt-3">
      <div class="flex justify-start items-center">
        <div class="pr-2">
          <input type="radio" name="gatewayId" value="{{ id }}" {% if id == cart.gatewayId %}checked{% endif %} />
        </div>
        <div>
          <strong>{{ name }}</strong>
          <br><span class="text-gray-600">Payment gateway</span>
        </div>
      </div>
    </label>
  {% endfor %}
{% endif %}

{% js %}
var $paymentSources = document.querySelectorAll('[name="paymentSourceId"]');
var hasPaymentSources = $paymentSources && $paymentSources.length > 0;
var $gateways = document.querySelectorAll('[name="gatewayId"]');
var hasGateways = $gateways && $gateways.length > 0;

if (hasPaymentSources && hasGateways) {
    function deselectPaymentSources() {
        $paymentSources.forEach(function(el) {
            el.checked = false;
        });
    }

    function deselectGateways() {
        $gateways.forEach(function(el) {
            el.checked = false;
        });
    }

    $paymentSources.forEach(function(el) {
        el.addEventListener('change', function(ev) {
            deselectGateways();
        });
    });

    $gateways.forEach(function(el) {
        el.addEventListener('change', function(ev) {
            deselectPaymentSources();
        });
    });
}
{% endjs %}