<h2>Dashboard</h2>
<ul>
    <li><a href="{{url('stripey')}}">Main Dashboard</a></li>
</ul>

<h2>Products</h2>
<ul>
    <li><a href="{{url('stripey/products')}}">Manage Products</a></li>
    <li><a href="{{url('stripey/settings/producttypes')}}">Product Types</a></li>
    <li><a href="{{url('stripey/settings/optiontypes')}}">Option Types</a></li>
</ul>

<h2>Orders</h2>
<ul>
    <li><a href="{{url('stripey/orders')}}">Manage Orders</a></li>
</ul>

<h2>Subscriptions</h2>
<ul>
    <li><a href="{{url('stripey/plans')}}">Manage Plans</a></li>
</ul>

<h2>Customers</h2>
<ul>
    <li><a href="{{url('stripey/plans')}}">Manage Customers</a></li>
</ul>

<h2>Transactions</h2>
<ul>
    <li><a href="{{url('stripey/charges')}}">Charges</a></li>
    <li><a href="{{url('stripey/transactions')}}">Transactions</a></li>
</ul>

<h2>Settings</h2>
<ul>
    <li><a href="{{url('stripey/settings/global')}}">Global Settings</a></li>
    <li><a href="{{url('stripey/settings/taxcategories')}}">Tax Categories</a></li>
    <li><a href="{{url('stripey/settings/taxrates')}}">Tax Rates</a></li>
    <li><a href="{{url('stripey/settings/taxzones')}}">Tax Zones</a></li>
    <li><a href="{{url('stripey/settings/zones')}}">Zones</a></li>
    <li><a href="{{url('stripey/settings/countries')}}">Countries</a></li>
    <li><a href="{{url('stripey/settings/states')}}">States</a></li>
</ul>