{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
  'Cancellation date',
  'Cart',
  'Date Updated',
  'Expiration date',
  'Is subscription active?',
  'No active carts exist for this user.',
  'No inactive carts exist for this user.',
  'No subscriptions exist for this user yet.',
  'No',
  'Status',
  'Subscription date',
  'Subscription',
  'Subscription',
  'Total',
  'View address',
  'Yes',
]) %}

{% if currentUser.can('commerce-manageOrders') %}
  <h2>{{ 'Orders'|t('commerce') }}</h2>
  {% include 'commerce/_includes/users/ordersTable' with { userId: user.id } %}

  <hr>

  <h2>{{ 'Active Carts'|t('commerce') }}</h2>
  {% set activeCarts = user.getActiveCarts() %}

  {% set activeTableData = [] %}

  {% for order in activeCarts %}
    {% set activeTableData = activeTableData|merge([{
      id: order.id,
      title: (order.reference ?? order.shortNumber),
      url: order.cpEditUrl,
      date: craft.app.formatter.asTimestamp(order.dateUpdated, 'short'),
      total: order.totalPrice|currency(order.currency),
    }]) %}
  {% endfor %}

  <div id="active-vue-admin-table"></div>

  <hr>
  <h2>{{ 'Inactive Carts'|t('commerce') }}</h2>
  {% set inactiveCarts = user.getInactiveCarts() %}

  {% set inactiveTableData = [] %}
  {% for order in inactiveCarts %}
    {% set inactiveTableData = inactiveTableData|merge([{
      id: order.id,
      title: (order.reference ?? order.shortNumber),
      url: order.cpEditUrl,
      date: craft.app.formatter.asTimestamp(order.dateUpdated, 'short'),
      total: order.totalPrice|currency(order.currency),
    }]) %}
  {% endfor %}

  <div id="inactive-vue-admin-table"></div>

{% endif %}

{% if currentUser.can('commerce-manageSubscriptions') %}
  <hr>
  <h2>{{ 'Subscriptions'|t('commerce') }}</h2>
  {% set subscriptions = user.getSubscriptions() %}

  {% set subsTableData = [] %}
  {% for subscription in subscriptions %}
    {% set subsTableData = subsTableData|merge([{
      id: subscription.id,
      title: subscription.__toString(),
      url: subscription.cpEditUrl,
      subDate: subscription.dateCreated|date('D jS M Y'),
      canDate: subscription.dateCanceled ? subscription.dateCanceled|date('D jS M Y') : '',
      expDate: subscription.dateExpired ? subscription.dateExpired|date('D jS M Y') : '',
      active: subscription.status == 'active' ? 'Yes'|t('commerce')|e : 'No'|t('commerce')|e,
    }]) %}
  {% endfor %}
  <div id="subscriptions-vue-admin-table"></div>
{% endif %}

{% js %}

  var cartColumns = [
    { name: '__slot:title', title: Craft.t('commerce', 'Cart') },
    { name: 'date', title: Craft.t('commerce', 'Date Updated') },
    { name: 'total', title: Craft.t('commerce', 'Total') }
  ];

  {% if activeTableData is defined %}
    if (document.querySelector('#active-vue-admin-table')) {
      new Craft.VueAdminTable({
        columns: cartColumns,
        container: '#active-vue-admin-table',
        emptyMessage: Craft.t('commerce', 'No active carts exist for this user.'),
        padded: true,
        tableData: {{ activeTableData|json_encode|raw }}
      });
    }
  {% endif %}

  {% if inactiveTableData is defined %}
    if (document.querySelector('#inactive-vue-admin-table')) {
      new Craft.VueAdminTable({
        columns: cartColumns,
        container: '#inactive-vue-admin-table',
        emptyMessage: Craft.t('commerce', 'No inactive carts exist for this user.'),
        padded: true,
        tableData: {{ inactiveTableData|json_encode|raw }}
      });
    }
  {% endif %}

  {% if subsTableData is defined %}
    var subColumns = [
      { name: '__slot:title', title: Craft.t('commerce', 'Subscription') },
      { name: 'subDate', title: Craft.t('commerce', 'Subscription date') },
      { name: 'canDate', title: Craft.t('commerce', 'Cancellation date') },
      { name: 'expDate', title: Craft.t('commerce', 'Expiration date') },
      { name: 'active', title: Craft.t('commerce', 'Is subscription active?') }
    ];

    if (document.querySelector('#subscriptions-vue-admin-table')) {
      new Craft.VueAdminTable({
        columns: subColumns,
        container: '#subscriptions-vue-admin-table',
        emptyMessage: Craft.t('commerce', 'No subscriptions exist for this user yet.'),
        padded: true,
        tableData: {{ subsTableData|json_encode|raw }}
      });
    }
  {% endif %}
{% endjs %}
