{% extends "market/_layouts/cp" %}
{% set crumbs = [
{ label: "Products"|t, url: url('market/products') }
] %}

{% import "_includes/forms" as forms %}

{% macro multiSelectField(options, values, attribute, label) %}

    {% import "_includes/forms" as forms %}
    {% set multiSelectInput %}
    {{ forms.multiselect({
        id:        attribute,
        name:      attribute,
        options:   options,
        values:    values,
        errors:    product.getErrors(attribuitlee),
    }) }}
    {% endset %}

    {{ forms.field({
        id:       attribute,
        label:    label
    }, multiSelectInput) }}

{% endmacro %}


{% macro dateTimeField(product, attribute, label) %}

    {% import "_includes/forms" as forms %}

    {% set dateTimeInput %}
    {{ forms.date({
        id:        attribute,
        name:      attribute,
        value:     product.getAttribute(attribute),
        errors:    product.getErrors(attribute),
    }) }}

    {{ forms.time({
        id:        attribute,
        name:      attribute,
        value:     product.getAttribute(attribute),
        errors:    product.getErrors(attribute),
    }) }}
    {% endset %}

    {{ forms.field({
        id:       attribute,
        label:    label,
        first:    (attribute == 'availableOn'),
        required: false
    }, dateTimeInput) }}

{% endmacro %}


{% from _self import dateTimeField %}

{% block main %}

    <form id="product-form" method="post" accept-charset="UTF-8" data-saveshortcut data-saveshortcut-redirect="{{ continueEditingUrl }}" data-confirm-unload>

        <input type="hidden" name="action" value="market/product/saveProduct">
        <input type="hidden" name="redirect" value="market/products">
        <input type="hidden" name="typeId" value="{{ productType.id }}">
        {{ getCsrfInput() }}
        {% if product.id %}<input type="hidden" name="productId" value="{{ product.id }}">{% endif %}



        <div class="grid first">
            <div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">

                <div id="fields" class="pane">
                    {% include "_includes/tabs" %}

                    {% from "_includes/forms" import textField %}
                    {% set static = static is defined ? static : false %}

                    {{ textField({
                        label: "Name"|t,
                        locale: product.locale,
                        id: 'title',
                        name: 'title',
                        value: product.title,
                        errors: (not static ? product.getErrors('title')),
                        first: true,
                        autofocus: true,
                        required: (not static),
                        disabled: static,
                        maxlength: 255
                    }) }}

                    {%  set masterVariantHtml %}
                    {{ forms.text({
                        name:   'masterVariant[isMaster]',
                        type:   'hidden',
                        value: '1'
                    }) }}
                    <div id="masterVariantDetails">


                    <div class="grid first" data-cols="8">
                    {% if not productType.hasVariants %}
                    <div class="item" data-min-colspan="4" data-max-colspan="8">
                    {{ forms.textField({
                        label: 'SKU'|t,
                        required: productType.hasVariants ? false : true,
                        name: 'masterVariant[sku]',
                        value: masterVariant.sku,
                        errors: masterVariant.getErrors('sku')
                    })}}
                    </div>
                    {% endif %}

                    <div class="item" data-min-colspan="4" data-max-colspan="8">
                    {{ forms.textField({
                        label: productType.hasVariants ? 'Default Price'|t : 'Price'|t,
                        name:   'masterVariant[price]',
                        required: productType.hasVariants ? false : true,
                        type:   'text',
                        value: masterVariant.price,
                        errors: masterVariant.getErrors('price')
                    })}}
                    </div>
                    </div>

                    <div class="grid first" data-cols="8">
                    <div class="item" data-min-colspan="4" data-max-colspan="8">
                    {{ forms.textField({
                        label: productType.hasVariants ? 'Default Min Qty'|t : 'Min Qty'|t,
                        name:   'masterVariant[minQty]',
                        type:   'text',
                        value: masterVariant.minQty,
                        errors: masterVariant.getErrors('minQty')
                    })}}
                    </div>

                    <div class="item" data-min-colspan="4" data-max-colspan="8">
                    {{ forms.textField({
                        label: productType.hasVariants ? 'Default Max Qty'|t : 'Max Qty'|t,
                        name:   'masterVariant[maxQty]',
                        type:   'text',
                        value: masterVariant.maxQty,
                        errors: masterVariant.getErrors('maxQty')
                    })}}
                    </div>
                    </div>

                    <div class="grid first" data-cols="8">
                    <div class="item" data-min-colspan="2" data-max-colspan="2">
                    {{ forms.textField({
                        label: productType.hasVariants ? 'Default Width'|t : 'Width'|t,
                        name:   'masterVariant[width]',
                        type:   'text',
                        value: masterVariant.width,
                        errors: masterVariant.getErrors('width')
                    })}}
                    </div>

                    <div class="item" data-min-colspan="2" data-max-colspan="2">
                    {{ forms.textField({
                        label: productType.hasVariants ? 'Default Height'|t : 'Height'|t,
                        name:   'masterVariant[height]',
                        type:   'number',
                        value: masterVariant.height,
                        errors: masterVariant.getErrors('height')
                    })}}
                    </div>

                    <div class="item" data-min-colspan="2" data-max-colspan="2">
                    {{ forms.textField({
                        label: productType.hasVariants ? 'Default Length'|t : 'Length'|t,
                        name:   'masterVariant[length]',
                        type:   'text',
                        value: masterVariant.length|number,
                        errors: masterVariant.getErrors('length')
                    })}}
                    </div>

                    <div class="item" data-min-colspan="2" data-max-colspan="2">
                    {{ forms.textField({
                        label: productType.hasVariants ? 'Default Weight'|t : 'Weight'|t,
                        name:   'masterVariant[weight]',
                        type:   'text',
                        value: masterVariant.weight,
                        errors: masterVariant.getErrors('weight')
                    })}}
                    </div>
                    </div>

                    <div class="grid first" data-cols="8">
                    <div class="item" data-min-colspan="8" data-max-colspan="8">
                    {{ forms.checkboxField({
                        label: productType.hasVariants ? 'Default to Unlimited Stock'|t : 'Unlimited Stock'|t,
                        name:   'masterVariant[unlimitedStock]',
                        checked: (masterVariant.id ? masterVariant.unlimitedStock : 1),
                        errors: masterVariant.getErrors('unlimitedStock'),
                        reverseToggle: '.stockToggle'
                    }) }}

                    <div class="stockToggle {% if not masterVariant.id or masterVariant.unlimitedStock %}hidden{% endif %}">
                    {{ forms.textField({
                        label: productType.hasVariants ? 'Default Stock'|t : 'Stock'|t,
                        name:   'masterVariant[stock]',
                        type:   'text',
                        value: masterVariant.stock,
                        required: productType.hasVariants ? false : true,
                        errors: masterVariant.getErrors('stock'),

                    })}}
                    </div>
                    </div>

                    </div>
                    </div>
                    {%  endset %}

                    {% set allProductTab = productType.asa('productFieldLayout').getFieldLayout().getTabs() %}
                    {% for tab in allProductTab %}
                        <div id="tab{{ loop.index }}" {% if not loop.first %} class="hidden" {% endif %}>
                            {% include "_includes/fields" with {
                            fields: tab.getFields(),
                            element: product,
                            static: (static is defined ? static : false)
                            } only %}
                        </div>
                    {% endfor %}


                </div>{# end pane#}


                {% if productType.hasVariants %}

                    <div id="" class="pane">
                    {% set variantTab = {'variantsTab':{'label':'Variants','url':'#variantsTab'}} %}

                    {% include "_includes/tabs" with {'tabs': variantTab }%}

                    {%  if productType.hasVariants %}

                        <div id="masterVariantDefaults" class="{% if not masterVariant.hasErrors() %}hidden{% endif %}">
                        {{ masterVariantHtml }}
                        </div>

                    {%  endif %}

                    <div id="variantsTab" class="">

                        {% if productId is defined %}
                            {% set elementTypeClass = 'Market_Variant' %}
                            {% set elementType = craft.elements.getElementType(elementTypeClass) %}
                            {% set context = 'index' %}

                            {% if not elementType %}
                                {% exit 404 %}
                            {% endif %}

                            {% set sources = elementType.getSources('index') %}

                            <div class="content">
                                <div class="sidebar hide">
                                    <nav>
                                        {% include "_elements/sources" %}
                                    </nav>
                                </div>

                                {% include "_elements/indexcontainer" %}
                            <hr/>
                            </div>


                            {% set initJs %}
                                Craft.elementIndex = Craft.createElementIndex('{{ elementTypeClass }}', $('#variantsTab'), {
                                context:        '{{ context }}',
                                showStatusMenu: {{ showStatusMenu is defined ? showStatusMenu|json_encode|raw : "'auto'" }},
                                showLocaleMenu: {{ showLocaleMenu is defined ? showLocaleMenu|json_encode|raw : "'auto'" }},
                                storageKey:     'elementindex.{{ elementTypeClass }}',
                                criteria:       { productId: {{ productId }}, isMaster: false, localeEnabled: null }
                                });
                            {% endset %}

                            {% includeJs initJs %}

                        {%  endif  %}

                        <a class="btn formsubmit" data-param="entryId" data-value="" data-redirect="market/products/{type.handle}/{id}/variants/new"
                           data-value="1">{{ "Add a variant"|t }}</a>
                        


                    </div>
                </div>{# end pane #}
                {%  endif %}

            </div>
            <div class="item" data-position="right" data-colspan="1">

                <div class="pane">
                    {{ forms.textField({
                        label: "Slug"|t,
                        locale: product.locale,
                        id: 'slug',
                        name: 'slug',
                        value: product.slug,
                        errors: product.getErrors('slug')|merge(product.getErrors('uri'))
                    }) }}


                    {%  if not productType.hasVariants %}
                        {{ masterVariantHtml }}
                    {%  endif %}


                    {{ forms.selectField({
                        label: 'Tax Category'|t,
                        name: 'taxCategoryId',
                        value: product.taxCategoryId,
                        required: true,
                        options: taxCategories
                    }) }}

                    {{ dateTimeField(product, 'availableOn', "Available On"|t) }}
                    {{ dateTimeField(product, 'expiresOn', "Expires On"|t) }}

                    {% set enabledswitch %}
                    <div class="left">
                        {{ forms.lightswitch({
                            id: 'enabled',
                            name: 'enabled',
                            label: 'Enabled?',
                            on: product.enabled,
                            disabled: false
                        }) }}
                    </div>
                    <div class="right">
                        {% if productId is defined %}
                            <div class="btngroup">
                                <input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}"
                                       data-action="market/product/deleteProduct"
                                       data-confirm="{{ 'Are you sure you want to delete this product?'|t }}"
                                       data-redirect="market/products">
                            </div>
                        {% endif %}
                    </div>
                    {% endset %}

                    {{ forms.field({
                        id:       'status',
                        label:    'Status',
                        first:    true
                    },enabledswitch) }}

                </div>{#END PANE#}

                <table class="inputs fullwidth">
                    <tr>
                        <td class="thin">
                            <div class="btngroup submit first">
                                <input type="submit" class="btn submit" value="{{ 'Save'|t }}">

                                <div class="btn submit menubtn"></div>
                                <div class="menu">
                                    <ul>
                                        <li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">
                                                {{ "Save and continue editing"|t }}
                                                {{ forms.optionShortcutLabel('S') }}
                                            </a></li>

                                        {% if productType.hasVariants %}
                                            <li><a class="formsubmit" data-param="entryId" data-value="" data-redirect="market/products/{type.handle}/{id}/variants/new"
                                                   data-value="1">{{ 'Save and add new variant'|t }}</a></li>
                                        {%  endif %}

                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>

            </div>

        </div>


    </form>


    {% if not product.slug %}
        {% includeJs "window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');" %}
    {% endif %}

{% endblock %}


