{% extends "stripey/_layouts/cp" %}

{% set title = "Option Types"|t %}

{% set crumbs = [
{ label: "Stripey"|t, url: url('stripey') },
{ label: "Settings"|t, url: url('stripey/settings') },
{ label: "Option Types"|t, url: url('stripey/settings/producttypes') }
] %}



{% set selectedTab = 'settings' %}

{% set content %}


<table id="optiontypes" class="data fullwidth collapsible">
    <thead>
    <tr><th scope="col">Name</th>
        <th scope="col">Handle</th>
        <td class="thin"></td>
    </tr></thead>
    <tbody>
    {% for optionType in optionTypes %}
        <tr data-id="{{optionType.id}}" data-name="{{optionType.name}}">
            <th scope="row" data-title="Name"><a href="{{url('stripey/settings/optiontypes/'~optionType.id)}}">{{optionType.name}}</a></th>
            <td data-title="Handle"><code>{{optionType.handle}}</code></td>
            <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>
<br/>
<div class="btngroup submit first">
    <a href="{{url('stripey/settings/optiontypes/new')}}" class="btn submit" >New Option Type</a>
</div>
</form>
{% endset %}


{% set js %}
var adminTable = new Craft.AdminTable({
tableSelector: '#optiontypes',
noObjectsSelector: '#nooptiontypes',
newObjectBtnSelector: '#newoptionTypecontainer',
deleteAction: 'stripey/optionType/deleteOptionType',
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”? This will make all Option Types disappear from related Variants and Products. Please make sure you have a backup of your database before before peforming this desctruction action"|t }}'
});
{% endset %}
{% includeJs js %}