{% extends "market/_layouts/cp" %}

{% set crumbs = [
{ label: "Market"|t, url: url('market') },
{ label: "Settings"|t, url: url('market/settings') },
{ label: "Shipping Rules"|t, url: url('market/settings/shippingrules') },
] %}

{% import "_includes/forms" as forms %}
{% import "market/_includes/forms/marketForms" as marketForms %}

{% set content %}
<form method="post" accept-charset="UTF-8" data-saveshortcut>
    <input type="hidden" name="action" value="market/shippingRule/save">
    <input type="hidden" name="redirect" value="market/settings/shippingrules">

    {{ getCsrfInput() }}
    {% if shippingRule.id %}<input type="hidden" name="id" value="{{ shippingRule.id }}">{% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t,
        instructions: "What this shipping rule will be called in the CP."|t,
        id: 'name',
        name: 'name',
        value: shippingRule.name,
        errors: shippingRule.getErrors('name'),
        autofocus: true,
        required: true,
    }) }}

    {{ forms.textField({
        first: true,
        label: "Description"|t,
        instructions: "Describe this rule."|t,
        name: 'description',
        value: shippingRule.description,
        errors: shippingRule.getErrors('description'),
    }) }}

    {{ forms.selectField({
        label: 'Countries'|t,
        instructions: "Countries for which this rule is applicable to. Leave blank for all."|t,
        id: 'countries',
        name: 'countryId',
        options: countries,
        class: 'select-wide',
        value: shippingRule.countryId,
        errors: shippingRule.getErrors('countries'),
    }) }}

    {{ forms.selectField({
        label: 'States'|t,
        instructions: "States for which this rule is applicable to. Leave blank for all."|t,
        id: 'states',
        name: 'stateId',
        options: states[shippingRule.countryId] is defined ? states[shippingRule.countryId] : null,
        class: 'select-wide',
        value: shippingRule.stateId,
        errors: shippingRule.getErrors('states'),
    }) }}

    {{ forms.selectField({
        label: 'Shipping Method'|t,
        instructions: "A method which this rule belongs to."|t,
        id: 'methodId',
        name: 'methodId',
        options: methods,
        class: 'select-wide',
        value: shippingRule.methodId,
        errors: shippingRule.getErrors('methodId'),
        required: true,
    }) }}

    <hr/>
    <h2>{{ "Filtering conditions which describe to which orders this rule is applicable to. Write 0 to skip a condition."|t }}</h2>

    {{ marketForms.numberField({
        label: "Minimum Order Quantity"|t,
        name: 'minQty',
        value: shippingRule.minQty,
        type: 'number',
        min: 0,
        errors: shippingRule.getErrors('minQty'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Maximum Order Quantity"|t,
        name: 'maxQty',
        value: shippingRule.maxQty,
        type: 'number',
        min: 0,
        errors: shippingRule.getErrors('maxQty'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Minimum Order Total Price"|t,
        name: 'minTotal',
        value: shippingRule.minTotal,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('minTotal'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Maximum Order Total Price"|t,
        name: 'maxTotal',
        value: shippingRule.maxTotal,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('maxTotal'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Minimum Order Total Weight"|t,
        name: 'minWeight',
        value: shippingRule.minWeight,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('minWeight'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Maximum Order Total Weight"|t,
        name: 'maxWeight',
        value: shippingRule.maxWeight,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('maxWeight'),
        required: true,
    }) }}

    <hr/>
    <h2>{{ "Charges"|t }}</h2>

    {{ marketForms.numberField({
        label: "Base Rate"|t,
        name: 'baseRate',
        value: shippingRule.baseRate,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('baseRate'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Per Item Rate"|t,
        name: 'perItemRate',
        value: shippingRule.perItemRate,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('perItemRate'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Weight Rate"|t,
        name: 'weightRate',
        value: shippingRule.weightRate,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('weightRate'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Percentage Rate"|t,
        name: 'percentageRate',
        value: shippingRule.percentageRate,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('percentageRate'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Minimum Rate"|t,
        name: 'minRate',
        value: shippingRule.minRate,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('minRate'),
        required: true,
    }) }}

    {{ marketForms.numberField({
        label: "Maximum Rate"|t,
        instructions: "Set zero to disable this check."|t,
        name: 'maxRate',
        value: shippingRule.maxRate,
        type: 'number',
        min: 0,
        step: 'any',
        errors: shippingRule.getErrors('maxRate'),
        required: true,
    }) }}

    <hr/>

    {{ forms.checkboxField({
        label: "Enabled"|t,
        instructions: "Is it active?"|t,
        id: 'enabled',
        name: 'enabled',
        value: 1,
        checked: shippingRule.enabled,
        errors: shippingRule.getErrors('enabled')
    }) }}

    <hr/>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </div>
</form>

{% endset %}

{% set js %}
{#<script>#}
var states = {{ states|json_encode|raw }};

$(function () {
    $('#countries, #states, #methodId').selectize({
        plugins: ['remove_button'],
        dropdownParent: 'body'
    });

    var statesSelectize = $('#states')[0].selectize;

    $('#countries').change(function() {
        var cid = $(this).val();

        statesSelectize.clear();
        statesSelectize.clearOptions();

        if(states.hasOwnProperty(cid)) {
            var statesList = [];
            for(var id in states[cid]) {
                statesList.push({
                    text: states[cid][id],
                    value: id
                });
            }

            statesSelectize.load(function(callback) {
                callback(statesList);
            });
        }
    });
});
{% endset %}
{% includeJs js %}