{% extends "market/_layouts/cp" %}

{% set crumbs = [
    { label: "Orders"|t, url: url('market/orders') }
] %}

{% import "_includes/forms" as forms %}


{% block main %}

    <form id="order-form" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="market/order/saveOrder">
        <input type="hidden" name="redirect" value="market/orders">
        {{ getCsrfInput() }}
        {% if order.id %}<input type="hidden" name="orderId" value="{{ order.id }}">{% endif %}

        <div class="grid first">
            <div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">

                <div id="fields" class="pane">

                    {% include "_includes/tabs" %}

                    {% if orderId is defined %}
                    <table id="" class="data fullwidth collapsible">
                        <thead>
                        <tr>
                            <th scope="col"></span></th>
                            <th scope="col">{{ 'Quantity'|t }}</th>
                            <th scope="col">{{ 'Item'|t }}</span></th>
                            <th scope="col">{{ 'Total'|t }}</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {%  for lineItem in order.lineItems %}
                            <tr>
                                <td><a class="fieldtoggle" data-target=".more-{{ lineItem.purchasable.sku }}">&nbsp;</a></td>
                                <td>{{ lineItem.qty }}</td>
                                <td><a href="{{ lineItem.purchasable.cpEditUrl }}">{{ lineItem.purchasable.description }} </a>({{ lineItem.purchasable.sku }})</td>
                                <td>
                                    <div class="hidden more-{{ lineItem.purchasable.sku }}">
                                        {{ "Price"|t }}<br/>
                                        {{ "Sale Price"|t }}<br/>
                                        {{ "Tax"|t }}<br/>
                                        {{ "Shipping"|t }}<br/>
                                        {{ "Discount"|t }}<br/>
                                    </div>
                                    <strong>Total</strong><br/>

                                </td>
                                <td>
                                    <div class="hidden more-{{ lineItem.purchasable.sku }}">
                                        {{ lineItem.price|marketCurrency }}<br/>
                                        {{ lineItem.saleAmount|marketCurrency }}<br/>
                                        {{ lineItem.tax|marketCurrency }}<br/>
                                        {{ lineItem.shippingCost|marketCurrency }}<br/>
                                        {{ lineItem.discount|marketCurrency }}<br/>
                                    </div>
                                    {{ lineItem.total|marketCurrency }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Item Total</strong></td>
                            <td>{{ order.itemTotal|marketCurrency }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Base Shipping</strong></td>
                            <td>{{ order.baseShippingCost|marketCurrency }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Base Discount</strong></td>
                            <td>{{ order.baseDiscount|marketCurrency }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Final Total</strong></td>
                            <td>{{ order.totalPrice|marketCurrency }}</td>
                        </tr>

                        </tbody>
                        </table>
                        <p></p>
                    {% endif %}


                    {% from "_includes/forms" import textField %}
                    {% set static = static is defined ? static : false %}

                    {% for tab in orderSettings.getFieldLayout().getTabs() %}

                        <div id="tab{{ loop.index }}" {% if not loop.first %} class="hidden" {% endif %}>
                            {% include "_includes/fields" with {
                            fields: tab.getFields(),
                            element: order,
                            static: (static is defined ? static : false)
                            } only %}
                        </div>
                    {% endfor %}


                </div>{# end pane#}

            </div>
            <div class="item" data-position="right" data-colspan="1">
                <!-- order summary pane -->
                <div class="pane">
                    {% if orderId is defined %}
                        <table class="data fullwidth collapsible">
                            <tr>
                                <td><strong>Ref</strong></td>
                                <td><span title="Full Number: {{ order.number }}">{{ order.number[0:7] }}</span></td>
                            </tr>
                            <tr>
                                <td><strong>{{ "Status"|t}}</strong></td>
                                {% if order.orderStatus %}
                                    <td>{{ order.orderStatus.printName|raw }} </td>
                                {% else %}
                                    <td><span class="market status"></span></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><strong>{{ "Order Date"|t}}</strong></td>
                                <td>{{ order.completedAt|date('D dS M Y') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ "Total"|t}}</strong></td>
                                <td>{{ order.totalPrice|marketCurrency }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ "Paid"|t}} </strong></td>
                                <td>{{ order.totalPaid|marketCurrency }} {{ order.paidAt|date('D dS M Y') }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ "Customer"|t}}</strong></td>
                                <td><a href="{{ order.customer.cpEditUrl }}">{{ order.email }}</a>&nbsp;{% if not order.customer.userId %}({{ "Guest"|t }}){% endif %}</td>
                            </tr>
                        </table>
                        <br/>
                        <a href="{{ order.pdfUrl }}" target="_blank">Download PDF</a>

                        <div class="btngroup right">
                            <input type="button" class="btn small formsubmit" value="{{ 'Delete Order'|t }}"
                                   data-action="market/order/deleteOrder"
                                   data-confirm="{{ 'Are you sure you want to delete this order?'|t }}"
                                   data-redirect="market/orders">
                        </div>
                    {% endif %}

                </div>

                {% if order.billingAddressId %}
                <div class="pane">
                    <a class="btn right small" href="http://maps.google.com/maps?q={{ order.billingAddress.address1 }}+{{ order.billingAddress.address2 }}+{{ order.billingAddress.city }}+{{ order.billingAddress.zipCode }}+{{ order.billingAddress.stateText }}+{{ order.billingAddress.countryText }}" target="_blank">Map</a>
                    <strong>Billing Address </strong><br/>
                    {{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}<br/>
                    {% if order.billingAddress.company %}{{ order.billingAddress.company }}<br/>{% endif %}
                    {% if order.billingAddress.address1 %}{{ order.billingAddress.address1 }}<br/>{% endif %}
                    {% if order.billingAddress.address2 %}{{ order.billingAddress.address2 }}<br/>{% endif %}
                    {{ order.billingAddress.city }}, {{ order.billingAddress.zipCode }}<br/>
                    {% if order.billingAddress.phone %}{{ order.billingAddress.phone }}<br/>{% endif %}
                    {% if order.billingAddress.alternativePhone %}{{ order.billingAddress.alternativePhone }}<br/>{% endif %}
                    {% if order.billingAddress.stateText %}{{ order.billingAddress.stateText }}<br/>{% endif %}
                    {{ order.billingAddress.countryText }}<br/>

                </div>
                {% endif %}
                {% if order.shippingAddressId %}
                <div class="pane">
                    <a class="btn right small" href="http://maps.google.com/maps?q={{ order.shippingAddress.address1 }}+{{ order.shippingAddress.address2 }}+{{ order.shippingAddress.city }}+{{ order.shippingAddress.zipCode }}+{{ order.shippingAddress.stateText }}+{{ order.shippingAddress.countryText }}" target="_blank">Map</a>
                    <strong>Shipping Address </strong><br/>
                    {{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }}<br/>
                    {% if order.shippingAddress.company %}{{ order.shippingAddress.company }}<br/>{% endif %}
                    {% if order.shippingAddress.address1 %}{{ order.shippingAddress.address1 }}<br/>{% endif %}
                    {% if order.shippingAddress.address2 %}{{ order.shippingAddress.address2 }}<br/>{% endif %}
                    {{ order.shippingAddress.city }}, {{ order.shippingAddress.zipCode }}<br/>
                    {% if order.shippingAddress.phone %}{{ order.shippingAddress.phone }}<br/>{% endif %}
                    {% if order.shippingAddress.alternativePhone %}{{ order.shippingAddress.alternativePhone }}<br/>{% endif %}
                    {% if order.shippingAddress.stateText %}{{ order.shippingAddress.stateText }}<br/>{% endif %}
                    {{ order.shippingAddress.countryText }}

                </div>
                {% endif %}

                <!-- status pane -->
                <div class="pane">
                    {{ forms.selectField({
                        label: 'Change Status'|t,
                        instructions: "Set a new status"|t,
                        id: 'orderStatusId',
                        name: 'orderStatusId',
                        options: orderStatuses,
                        value: order.orderStatusId,
                        errors: order.getErrors('orderStatusId'),
                    }) }}

                    {{ forms.textareaField({
                        label: 'Message'|t,
                        instructions: "Leave comment if you change the status."|t,
                        name: 'message',
                        value: message is defined ? message : '',
                        errors: order.getErrors('message'),
                    }) }}
                </div>

                <div class="buttons first">
                    <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
                </div>
            </div>
        </div>
        <div class="grid">
                <div class="pane">
                    <h3>Order Status History</h3>

                    <table id="" class="shadow-box editable">
                        <thead>
                        <tr>
                            <th scope="col" class="header">{{ 'ID'|t }}</span></th>
                            <th scope="col" class="header">{{ 'Old Status'|t }}</span></th>
                            <th scope="col" class="header">{{ 'New Status'|t }}</th>
                            <th scope="col" class="header">{{ 'Customer'|t }}</th>
                            <th scope="col" class="header">{{ 'Message'|t }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for orderHistory in order.histories %}
                            <tr>
                                <td>{{ orderHistory.id }}</td>
                                <td>
                                    {% if orderHistory.prevStatus %}
                                        <a href="{{ orderHistory.prevStatus.cpEditUrl }}">{{ orderHistory.prevStatus.printName()|raw }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if orderHistory.newStatus %}
                                        <a href="{{ orderHistory.newStatus.cpEditUrl }}">{{ orderHistory.newStatus.printName()|raw }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ orderHistory.customer.cpEditUrl }}">
                                        {% if orderHistory.customer.userId %}
                                            {{ orderHistory.customer.user.friendlyName }}
                                        {% else %}
                                            Customer #{{ orderHistory.customerId }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ orderHistory.message }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <h3>Transactions</h3>

                    <table id="" class="shadow-box editable">
                        <thead>
                        <tr>
                            <th scope="col" class="header">{{ 'ID'|t }}</span></th>
                            <th scope="col" class="header">{{ 'Type'|t }}</span></th>
                            <th scope="col" class="header">{{ 'Status'|t }}</th>
                            <th scope="col" class="header">{{ 'Hash'|t }}</th>
                            <th scope="col" class="header">{{ 'Reference'|t }}</th>
                            <th scope="col" class="header">{{ 'Amount'|t }}</th>
                            <th scope="col" class="header">{{ 'Message'|t }}</th>
                            <th scope="col" class="header">{{ 'Response'|t }}</th>
                            <th scope="col" class="header">{{ 'Payment Method'|t }}</th>
                            <th scope="col" class="header">{{ 'Parent#'|t }}</th>
                            <th scope="col" class="header">{{ 'User#'|t }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in order.transactions %}
                            <tr>
                                <td>{{ transaction.id }}</td>
                                <td>{{ transaction.type }}</td>
                                <td>{{ transaction.status }}</td>
                                <td>{{ transaction.hash }}</td>
                                <td>{{ transaction.reference }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.message }}</td>
                                <td>{{ transaction.response }}</td>
                                <td>{{ transaction.paymentMethod.name }}</td>
                                <td>{{ transaction.parentId }}</td>
                                <td>{{ transaction.userId }}</td>
                                <td>
                                    {% if transaction.canCapture() %}
                                        <a class="btn submit formsubmit"
                                           data-action="market/order/transactionCapture"
                                           data-confirm="{{ 'Confirm capture?'|t }}"
                                           data-redirect="{{ order.cpEditUrl }}"
                                           data-param="id"
                                           data-value="{{ transaction.id }}">Capture</a>
                                    {% endif %}
                                    {% if transaction.canRefund() %}
                                        <a class="btn submit formsubmit"
                                           data-action="market/order/transactionRefund"
                                           data-confirm="{{ 'Confirm refund?'|t }}"
                                           data-redirect="{{ order.cpEditUrl }}"
                                           data-param="id"
                                           data-value="{{ transaction.id }}">Refund</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>


    </form>


{% endblock %}

{% set js %}

{% endset %}
{% includeJs js %}