{% if currentUser %}
    {% redirect 'shop/checkout/addresses' %}
{% endif %}

{% extends 'shop/_layouts/main' %}

{% block main %}
    <!-- Template: {{ _self }}.twig -->
    <h1 class="text-xl font-bold">Let’s grab your email to get started</h1>

    <div class="flex -mx-8 mt-6">
        <div class="w-full max-w-xl px-8">
            <form method="post" action="">
                {{ actionInput('commerce/cart/update-cart') }}
                {{ redirectInput('shop/checkout/register-signin') }}
                {{ csrfInput() }}

                <div class="field">
                    <label for="email">Email</label>
                    <input id="email" class="w-full {{ classes.input }}" type="text" value="{{ cart.email }}"
                           name="email"
                           placeholder="email@site.com"/>
                </div>

                <div class="mt-3">
                    <input type="submit" value="Continue" class="{{ classes.btn.base ~ ' ' ~ classes.btn.blue }}"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
