{% extends "market/_layouts/cp" %}
{% set title = "Product Types"|t %}

{% set crumbs = [
{ label: "Market"|t, url: url('market') },
{ label: "Settings"|t, url: url('market/settings/global') },
{ label: "Product Types"|t, url: url('market/settings/producttypes') },
] %}


{% set selectedTab = 'settings' %}
{% import "_includes/forms" as forms %}

{% set content %}
<form method="post" accept-charset="UTF-8" data-saveshortcut>
    <input type="hidden" name="action" value="market/productType/saveProductType">
    <input type="hidden" name="redirect" value="market/settings/producttypes">

    {{ getCsrfInput() }}
    {% if productType.id %}<input type="hidden" name="productTypeId" value="{{ productType.id }}">{% endif %}

    {% set tabs = {
    0: {'label':'Name & Info','url':'#tab0'},
    1: {'label':'Fields','url':'#tab1'}
    }
    %}

    <div id="tab0">

    {{ forms.textField({
        first: true,
        label: "Name"|t,
        instructions: "What this product type will be called in the CP."|t,
        id: 'name',
        name: 'name',
        value: productType.name,
        errors: productType.getErrors('name'),
        autofocus: true,
        required: true,
        translatable: true
    }) }}

    {{ forms.textField({
        label: "Handle"|t,
        instructions: "How you’ll refer to this product type in code or templates."|t,
        id: 'handle',
        class: 'code',
        name: 'handle',
        value: productType.handle,
        errors: productType.getErrors('handle'),
        required: true
    }) }}

    {# Disabled until we work our how behaviors work.
    {{ forms.selectField({
        label: 'Behavior Type'|t,
        instructions: "This controls how this product behaves. Normal does nothing special. Electonic allows selling of electronic products."|t,
        id: 'type',
        name: 'type',
        options: productTypeTypes,
        class: 'select-wide',
        value: productType.type,
        errors: productType.getErrors('type'),
        required: true,
    }) }}
    #}

    </div>

    <div id="tab1" class="hidden">
    {% include "_includes/fieldlayoutdesigner" with {
    fieldLayout: productType.getFieldLayout(),
    } only %}

    </div>

    <hr>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </div>
</form>

{% endset %}

{% set js %}
{% if not productType.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
$(function () {
    $('#type').selectize({
        dropdownParent: 'body'
    });
});
{% endset %}
{% includeJs js %}