{% extends "commerce/_layouts/settings" %}

{% set title = "Product Types"|t %}

{% set selectedTab = 'settings' %}

{% set content %}

    <h2>{{ "Product Types"|t }}</h2>

    {%  if productTypes|length %}
    <table id="producttypes" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Handle</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for productType in productTypes %}
            <tr data-id="{{ productType.id }}" data-name="{{ productType.name }}">
                <th scope="row" data-title="Name"><a
                            href="{{ url('commerce/settings/producttypes/'~productType.id) }}">{{ productType.name }}</a>
                </th>
                <td data-title="Handle"><code>{{ productType.handle }}</code></td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% else %}
    <p>{{ "No product types exist yet."|t }}</p>
    {% endif %}
    <br/>
    <div class="btngroup submit">
        <a href="{{ url('commerce/settings/producttypes/new') }}" class="btn submit">New Product Type</a>
    </div>

{% endset %}


{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#producttypes',
noObjectsSelector: '#noproducttypes',
newObjectBtnSelector: '#newproductTypecontainer',
deleteAction: 'commerce/productType/deleteProductType',
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its products? Please make sure you have a backup of your database before before peforming this desctruction action"|t }}'
});
{% endincludejs %}
