{% extends "commerce/_layouts/settings" %}

{% set selectedTab = 'settings' %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
    'Are you sure you want to delete “{name}”, this will set all line items with this status to no status?',
    'Couldn’t reorder statuses.',
    'Default status?',
    'Handle',
    'Line item statuses reordered.',
    'Name',
    'Yes',
]) %}

{% block actionButton %}
    <div class="btngroup">
        <button type="button" class="btn submit add icon menubtn">{{ 'New line item status'|t('commerce') }}</button>
        <div class="menu">
            <ul>
                {% for store in stores %}
                    <li>
                        <a href="{{ url("commerce/settings/lineitemstatuses/#{store.handle}/new") }}">{{ store.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="content">
        {% for store in stores %}
            <h2 id="{{ store.handle }}" class="lis-margin-top">{{ store.name }}</h2>
            <div class="content-pane">
                <div id="statuses-vue-admin-table-{{ store.handle }}"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{%  for handle, storeStatuses in lineItemStatuses %}
    {% set tableData = [] %}
    {% for lineItemStatus in storeStatuses %}
        {% set tableData = tableData|merge([{
            id: lineItemStatus.id,
            labelHtml: {
                url: lineItemStatus.cpEditUrl,
                html: lineItemStatus.labelHtml|raw
            },
            title: lineItemStatus.name|t('site'),
            url: lineItemStatus.cpEditUrl,
            handle: lineItemStatus.handle|e,
            default: lineItemStatus.default ? true : false,
        }]) %}
    {% endfor %}

    {% js %}
    var columns = [
        {
            name: 'labelHtml',
            title: Craft.t('commerce', 'Name'),
            callback: function(value) {
                return '<a class="cell-bold" href="'+value.url+'">'+value.html+'</a>';
            }
        },
        { name: '__slot:handle', title: Craft.t('commerce', 'Handle') },
        {
            name: 'default',
            title: Craft.t('commerce', 'Default Status?'),
            callback: function(value) {
                if (value) {
                    return '<span data-icon="check" title="'+Craft.escapeHtml(Craft.t('commerce', 'Yes'))+'"></span>';
                }
            }
        }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#statuses-vue-admin-table-{{ handle }}',
        deleteAction: 'commerce/line-item-statuses/archive',
        deleteConfirmationMessage: Craft.t('commerce', 'Are you sure you want to delete “{name}”, this will set all line items with this status to no status?'),
        padded: false,
        reorderAction: 'commerce/line-item-statuses/reorder',
        reorderSuccessMessage: Craft.t('commerce', 'Line item statuses reordered.'),
        reorderFailMessage:    Craft.t('commerce', 'Couldn’t reorder statuses.'),
        tableData: {{ tableData|json_encode|raw }},
        });
    {% endjs %}
{% endfor %}

{% css %}
  .lis-margin-top {
    margin-top: 1rem;
  }

  table.data thead .vuetable-th-labelHtml {
    width: 30%;
  }
{% endcss %}
