{% extends "market/_layouts/elementindex" %}
{% set title = "Orders"|t %}
{% set elementType = 'Market_Order' %}
{% set selectedTab = 'orders' %}

{% set crumbs = [
{ label: "Market"|t, url: url('market') },
{ label: "Orders"|t, url: url('market/orders') }
] %}

{% block sidebar %}
    {#
    {% if orderTypes|length %}
        <div class="buttons">
            {% if orderTypes|length > 1 %}
                <div class="btn submit menubtn add icon">{{ "New Order"|t }}</div>
                <div class="menu">
                    <ul>
                        {% for orderType in orderTypes %}
                            <li>
                                <a href="{{ url('market/orders/'~orderType.handle~'/new') }}">{{ orderType.name|t }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a class="btn submit add icon"
                   href="{{ url('market/orders/'~orderTypes[0].handle~'/new') }}">{{ "New Order"|t }}</a>
            {% endif %}
        </div>
    {% endif %}
    #}



    {{ parent() }}

    {% if not orderTypes|length > 0 %}

        <p><span style="color:red">No order types exist!</span><br/>Go to settings and <a
                    href="{{ url('market/settings/ordertypes') }}">create a new order type </a> please.</p>
    {% endif %}

{% endblock %}