{% extends "commerce/_layouts/settings" %}

{% set selectedTab = 'settings' %}

{% import "_includes/forms" as forms %}


{% block content %}
    <h2>{{ "General Settings"|t }}</h2>

    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="commerce/settings/saveSettings">
        <input type="hidden" name="redirect" value="commerce/settings">
        {{ getCsrfInput() }}


        {{ forms.selectField({
            label: "Currency"|t,
            instructions: "The currency that the store uses. All payment methods must support this currency."|t,
            id: 'defaultCurrency',
            name: 'settings[defaultCurrency]',
            value: settings.defaultCurrency,
            options: settings.getCurrencies(),
            errors: settings.getErrors('defaultCurrency'),
            required: true,
        }) }}

        {{ forms.textField({
            label: 'Status Email Address'|t,
            instructions: "The email address that order status emails are sent from. Leave blank to use the System Email Address defined in Craft’s General Settings."|t,
            id: 'emailSenderAddress',
            name: 'settings[emailSenderAddress]',
            placeholder: settings.emailSenderAddressPlaceholder,
            value: settings.emailSenderAddress,
            errors: settings.getErrors('emailSenderAddress'),
        }) }}

        {{ forms.textField({
            label: 'From Name'|t,
            instructions: 'The "From" name that will be used when sending order status emails. Leave blank to use the Sender Name defined in Craft’s General Settings.'|t,
            id: 'emailSenderName',
            name: 'settings[emailSenderName]',
            placeholder: settings.emailSenderNamePlaceholder,
            value: settings.emailSenderName,
            errors: settings.getErrors('emailSenderName'),
        }) }}

        {{ forms.selectField({
            label: "Weight Unit"|t,
            instructions: "The unit of measurement that should be used when specifying product weights."|t,
            name: 'settings[weightUnits]',
            value: settings.weightUnits,
            options: settings.getWeightUnitsOptions(),
            errors: settings.getErrors('weightUnits'),
            required: true,
        }) }}

        {{ forms.selectField({
            label: "Dimension Unit"|t,
            instructions: "The unit of measurement that should be used when specifying product dimensions."|t,
            name: 'settings[dimensionUnits]',
            value: settings.dimensionUnits,
            options: settings.getDimensionUnits(),
            errors: settings.getErrors('dimensionUnits'),
            required: true,
        }) }}

        {{ forms.textField({
            label: "Order PDF Template"|t,
            instructions: "The path to the template used for generating order PDFs"|t,
            id: 'orderPdfPath',
            name: 'settings[orderPdfPath]',
            value: settings.orderPdfPath,
            errors: settings.getErrors('orderPdfPath'),
            required: true,
        }) }}

        <input type="submit" class="btn submit" value="{{ "Save"|t }}">
    </form>

{% endblock %}
