{% extends '[[folderName]]/_private/layouts' %}

{% block main %}
    <!-- Template: {{ _self }}.twig -->
    <h1 class="text-xl font-bold">Forgot Password?</h1>

    <div class="max-w-md mt-3">
        <div class="[[classes.box.base]]">
            <form method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('users/send-password-reset-email') }}
                {{ redirectInput('[[folderName]]/checkout/register-signin') }}

                <label for="loginName">Username or email</label>
                <div class="mt-1">
                    <input id="loginName" type="text" name="loginName" class="[[classes.input]] w-full"
                           value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">
                </div>

                {% if errors is defined %}
                    <ul class="mt-3">
                        {% for error in errors %}
                            <li class="text-red-700">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="mt-3 text-right">
                    <input class="[[classes.btn.base]] [[classes.btn.mainColor]]" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
