{% extends '[[folderName]]/_private/layouts' %}

{% set extraHead %}
  <meta name="robots" content="noindex">
{% endset %}

{% block main %}
  <!-- Template: {{ _self }}.twig -->
  {% if currentUser %}

    {% set orders = craft.orders.customer(craft.commerce.customers.customer).isCompleted(true).all() %}

    <h1 class="text-3xl block sm:inline">My Orders</h1>

    {% if orders|length %}
      <table class="w-full mb-8 mt-3 table-auto">
        <thead>
        <tr class="bg-gray-300 text-left">
          <th class="p-2">{{ "Order" }}</th>
          <th class="p-2">{{ "Date" }}</th>
          <th class="p-2">{{ "Total Quantity" }}</th>
          <th class="p-2">{{ "Total" }}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
          {% set rowClass = cycle(['bg-gray-100', ''], loop.index0) %}
          <tr class="{{ rowClass }}">
            <td class="p-2"><a href="{{ url('/[[folderName]]/customer/order', { number: order.number }) }}"
                               class="[[classes.a]]">Order {{ order.reference }}</a></td>
            <td class="p-2">{{ order.dateOrdered|date }}</td>
            <td class="p-2">{{ order.totalQty }} items</td>
            <td class="p-2">{{ order.totalPriceAsCurrency }}</td>
          </tr>
          <tr class="{{ rowClass }} text-sm">
            <td class="p-2" colspan="4">
              <div class="border-t border-gray-300 border-dashed p-2">
                <h4 class="text-gray-500 tracking-wide font-mono text-xs uppercase">Items</h4>
                <ul>
                  {% for item in order.lineItems %}
                    <li>
                      {{ item.qty }} x {{ item.description }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div>
        <p>You don’t have any orders yet.</p>
        <p><a href="{{ url('/[[folderName]]/products') }}" class="[[classes.a]]">Continue shopping</a></p>
      </div>
    {% endif %}

    <hr class="my-3">

    <a class="[[classes.btn.base]] [[classes.btn.mainColor]]"
       href="{{ url('/[[folderName]]/customer/cards') }}">Manage Stored Cards</a>
  {% else %}
    <h1 class="text-3xl block sm:inline">My Orders</h1>

    <p>You don’t have any orders yet.</p>
    <p><a href="{{ url('/[[folderName]]/products') }}" class="[[classes.a]]">Continue shopping</a></p>
  {% endif %}

{% endblock %}
