{% extends "commerce/_layouts/promotions" %}
{% set selectedSidebarNavItem = 'sales' %}


{% block content %}
    <h2>{{ "Sales"|t }}</h2>

    <div id="no-sales"{% if sales|length %} class="hidden"{% endif %}>
        <p>{{ "No sales exist yet."|t }}</p>
    </div>

    {% if sales|length %}
    <table id="sales" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Duration"|t }}</th>
            <th scope="col">{{ "Discount Amount"|t }}</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr data-id="{{ sale.id }}" data-name="{{ sale.name }}">
                <th scope="row" data-title="{{ 'Name'|t }}">
                    {% if sale.enabled %}
                        <div class="status enabled"></div>
                    {% else %}
                        <div class="status"></div>
                    {% endif %}
                    <a href="{{ url('commerce/promotions/sales/'~sale.id) }}">{{ sale.name }}</a>
                </th>
                <td data-title="{{ 'Duration'|t }}">
                    {{ sale.dateFrom ? sale.dateFrom.localeDate() : '∞' }}
                    -
                    {{ sale.dateTo ? sale.dateTo.localeDate() : '∞' }}
                </td>
                <td data-title="{{ 'Discount Amount'|t }}">
                    {% if sale.discountType == 'percent' %}
                        {{ sale.discountAmountAsPercent }} {{ "off"|t }}
                    {% else %}
                        {{ sale.discountAmountAsFlat|currency(craft.commerce.primaryPaymentCurrency.iso, true) }} {{ "off"|t }}
                    {% endif %}
                </td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('commerce/promotions/sales/new') }}" class="btn submit add icon">{{ 'New sale'|t }}</a>
    </div>
{% endblock %}


{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#sales',
noObjectsSelector: '#no-sales',
deleteAction: 'commerce/sales/delete'
});
{% endincludejs %}
