{% extends "commerce/_layouts/settings" %}

{% block content %}
    <h2>{{ "Shipping Methods"|t }}</h2>

    <div id="no-shipping-methods"{% if shippingMethods|length %} class="hidden"{% endif %}>
        <p>{{ "No shipping methods exist yet."|t }}</p>
    </div>

    {% if shippingMethods|length %}
    <table id="shipping-methods" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ 'Name'|t }}</th>
            <th scope="col">{{ 'Handle'|t }}</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for shippingMethod in shippingMethods %}
            <tr data-id="{{ shippingMethod.id }}" data-name="{{ shippingMethod.name }}">
                <th scope="row" data-title="Name">
                    {% if shippingMethod.enabled %}
                        <span class="status green"></span>
                    {% else %}
                        <span class="status green"></span>
                    {% endif %}
                    <a href="{{ url('commerce/settings/shippingmethods/'~shippingMethod.id) }}">{{ shippingMethod.name }}</a>
                </th>
                <td data-title="Handle" class="code">{{ shippingMethod.handle }}</td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <div class="buttons secondary-buttons">
        <a href="{{ url('commerce/settings/shippingmethods/new') }}" class="btn submit add icon">New shipping method</a>
    </div>
{% endblock %}


{% includejs %}
{#<script>#}

var adminTable = new Craft.AdminTable({
    tableSelector: '#shipping-methods',
    noObjectsSelector: '#no-shipping-methods',
    deleteAction: 'commerce/shippingMethods/delete',
    confirmDeleteMessage:  Craft.t('Are you sure you want to delete “{name}”?'),
    deleteSuccessMessage:  Craft.t('“{name}” deleted.'),
    deleteFailMessage:     Craft.t('Couldn’t delete “{name}”.'),
});
{#</script>#}
{% endincludejs %}
