{% extends "stripey/_layouts/cp" %}

{% set crumbs = [
{ label: "Stripey"|t, url: url('stripey') },
{ label: "Settings"|t, url: url('stripey/settings') },
{ label: "Tax Zones"|t, url: url('stripey/settings/taxzones') },
] %}

{% import "_includes/forms" as forms %}

{% set content %}
<form method="post" accept-charset="UTF-8" data-saveshortcut>
    <input type="hidden" name="action" value="stripey/taxZone/save">
    <input type="hidden" name="redirect" value="stripey/settings/taxzones">

    {{ getCsrfInput() }}
    {% if taxZone.id %}<input type="hidden" name="taxZoneId" value="{{ taxZone.id }}">{% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t,
        instructions: "What this tax zone will be called in the CP."|t,
        name: 'name',
        value: taxZone.name,
        errors: taxZone.getErrors('name'),
        autofocus: true,
        required: true,
        translatable: true
    }) }}

    {{ forms.textField({
        label: "Description"|t,
        instructions: "Describe this tax zone."|t,
        name: 'description',
        value: taxZone.description,
        errors: taxZone.getErrors('description'),
    }) }}

    {{ forms.radioGroupField({
        label: 'Type'|t,
        name: 'countryBased',
        options: {1 : 'Country Based'|t, 0 : 'State Based'|t},
        value: taxZone.countryBased,
        errors: taxZone.getErrors('countryBased'),
        required: true,
    }) }}

    {{ forms.multiselectField({
        label: 'Countries'|t,
        id: 'countries',
        name: 'countries',
        options: countries,
        values: taxZone.getCountriesIds(),
        errors: taxZone.getErrors('countries'),
        required: true,
    }) }}

    {{ forms.multiselectField({
        label: 'States'|t,
        id: 'states',
        name: 'states',
        options: states,
        values: taxZone.getStatesIds(),
        errors: taxZone.getErrors('states'),
        required: true,
    }) }}

    <hr>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </div>
</form>

{% endset %}

{% set js %}
$(function() {
$('#countries, #states').selectize({
plugins: ['remove_button'],
dropdownParent: 'body'
});

$('[name=countryBased]').change(function(){
if(!$(this).is(':checked')) {
return;
}
if($(this).val() * 1) {
$('#countries')[0].selectize.enable();
$('#states')[0].selectize.disable();
$('#countries-field').show();
$('#states-field').hide();
} else {
$('#countries')[0].selectize.disable();
$('#states')[0].selectize.enable();
$('#countries-field').hide();
$('#states-field').show();
}
});

$('[name=countryBased]:checked').trigger('change');
});
{% endset %}
{% includeJs js %}