{% extends "commerce/_layouts/settings" %}

{% block content %}
    <h2>{{ "Product Types"|t }}</h2>

    <div id="no-product-types"{% if productTypes|length %} class="hidden"{% endif %}>
        <p>{{ "No product types exist yet."|t }}</p>
    </div>

    {% if productTypes|length %}
    <table id="producttypes" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Handle"|t }}</th>
            <th scope="col">{{ "Has Variants?"|t }}</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for productType in productTypes %}
            <tr data-id="{{ productType.id }}" data-name="{{ productType.name }}">
                <th scope="row" data-title="{{ 'Name'|t }}"><a
                            href="{{ url('commerce/settings/producttypes/'~productType.id) }}">{{ productType.name }}</a>
                </th>
                <td data-title="{{ 'Handle'|t }}" class="code">{{ productType.handle }}</td>
                <td data-title="{{ 'Has Variants?'|t }}">{% if productType.hasVariants %}<span data-icon="check" title="{{ 'Yes'|t }}"></span>{% endif %}</td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('commerce/settings/producttypes/new') }}" class="btn submit add icon">{{ 'New product type'|t }}</a>
    </div>
{% endblock %}


{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#producttypes',
noObjectsSelector: '#noproducttypes',
newObjectBtnSelector: '#newproductTypecontainer',
deleteAction: 'commerce/productTypes/deleteProductType',
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its products? Please make sure you have a backup of your database before performing this destructive action."|t }}'
});
{% endincludejs %}
