{% extends "commerce/_layouts/store-management" %}
{% set isIndex = false %}

{% set crumbs = [
    { label: "Tax Zones"|t('commerce'), url: store.getStoreSettingsUrl('taxzones') },
] %}

{% set selectedSubnavItem = 'tax' %}

{% set fullPageForm = true %}

{% block details %}
    {% if taxZone and taxZone.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                <div id="date-created-value" class="value">{{ taxZone.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                <div id="date-updated-value" class="value">{{ taxZone.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ actionInput('commerce/tax-zones/save') }}
    {{ redirectInput(store.getStoreSettingsUrl('taxzones')) }}
    {% if taxZone.id %}
        {{ hiddenInput('taxZoneId', taxZone.id) }}
    {% endif %}

    {% include "commerce/store-management/tax/taxzones/_fields" with {store: store} %}
{% endblock %}
