<h2>Dashboard</h2>
<ul>
    <li><a href="{{ url('market') }}">Main Dashboard</a></li>
</ul>

<h2>Products</h2>
<ul>
    <li><a href="{{ url('market/products') }}">Manage Products</a></li>
    <li><a href="{{ url('market/settings/producttypes') }}">Product Types</a></li>
    <li><a href="{{ url('market/settings/optiontypes') }}">Option Types</a></li>
</ul>

<h2>Orders</h2>
<ul>
    <li><a href="{{ url('market/orders') }}">Manage Orders</a></li>
    <li><a href="{{ url('market/settings/ordertypes') }}">Order Types</a></li>
</ul>

<h2>Promotions</h2>
<ul>
    <li><a href="{{ url('market/settings/sales') }}">Sales</a></li>
    <li><a href="{{ url('market/settings/discounts') }}">Discounts</a></li>
</ul>

<h2>Subscriptions</h2>
<ul>
    <li><a href="{{ url('market/plans') }}">Manage Plans</a></li>
</ul>

<h2>Customers</h2>
<ul>
    <li><a href="{{ url('market/plans') }}">Manage Customers</a></li>
</ul>

<h2>Transactions</h2>
<ul>
    <li><a href="{{ url('market/charges') }}">Charges</a></li>
    <li><a href="{{ url('market/transactions') }}">Transactions</a></li>
</ul>

<h2>Settings</h2>
<ul>
    <li><a href="{{ url('market/settings/global') }}">Global Settings</a></li>
    <li><a href="{{ url('market/settings/paymentmethods') }}">Payment Methods</a></li>
    <li><a href="{{ url('market/settings/taxcategories') }}">Tax Categories</a></li>
    <li><a href="{{ url('market/settings/taxrates') }}">Tax Rates</a></li>
    <li><a href="{{ url('market/settings/taxzones') }}">Tax Zones</a></li>
    <li><a href="{{ url('market/settings/countries') }}">Countries</a></li>
    <li><a href="{{ url('market/settings/states') }}">States</a></li>
    <li><a href="{{ url('market/settings/shippingmethods') }}">Shipping Methods</a></li>
</ul>