{% block sidebar %}
    <nav>
        <ul>
            <li><a href="{{ url('market/orders') }}">{{ "Orders"|t }}</a></li>
            <li><a href="{{ url('market/products') }}">{{ "Products"|t }}</a></li>
            <li><a href="{{ url('market/settings/sales') }}">{{ "Sales"|t }}</a></li>
            <li><a href="{{ url('market/settings/discounts') }}">{{ "Discounts"|t }}</a></li>
            <li><a href="{{ url('market/settings') }}">{{ "Settings"|t }}</a></li>
        </ul>
    </nav>
{% endblock %}