{% extends "commerce/_layouts/settings" %}

{% set content %}

    <h2>{{ "States"|t }}</h2>

    <table id="states" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ 'Name'|t }}</th>
            <th scope="col">{{ 'Abbreviation'|t }}</th>
            <th scope="col">{{ 'Country'|t }}</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for state in states %}
            <tr data-id="{{ state.id }}" data-name="{{ state.name }}">
                <th scope="row" data-title="Name"><a
                            href="{{ url('commerce/settings/states/'~state.id) }}">{{ state.name }}</a></th>
                <td data-title="ISO">{{ state.abbreviation }}</td>
                <td data-title="Country Name">{{ state.country.name }}</td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/>
    <div class="btngroup submit first">
        <a href="{{ url('commerce/settings/states/new') }}" class="btn submit">New State</a>
    </div>

{% endset %}


{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#states',
deleteAction: 'commerce/states/delete',
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}'
});
{% endincludejs %}
