{% extends "commerce/_layouts/settingscp" %}

{% set title = "Commerce Settings"|t %}

{% block sidebar %}
    <nav>
        <ul>
            <li><a href="{{ url('commerce/settings/global') }}"{% if craft.request.segment(3) == 'global' %} class="sel"{% endif %}>{{ "Global Settings"|t }}</a></li>

            <li class="heading"><span>{{ "Orders"|t }}</span></li>

            <li><a href="{{ url('commerce/settings/ordersettings') }}"{% if craft.request.segment(3) == 'ordersettings' %} class="sel"{% endif %}>{{ "Order Fields"|t }}</a></li>

            <li><a href="{{ url('commerce/settings/orderstatuses') }}"{% if craft.request.segment(3) == 'orderstatuses' %} class="sel"{% endif %}>{{ "Custom Order Statuses"|t }}</a></li>

            <li><a href="{{ url('commerce/settings/emails') }}"{% if craft.request.segment(3) == 'emails' %} class="sel"{% endif %}>{{ "Emails"|t }}</a></li>

            <li><a href="{{ url('commerce/settings/paymentmethods') }}"{% if craft.request.segment(3) == 'paymentmethods' %} class="sel"{% endif %}>{{ "Payment Methods"|t }}</a></li>
            
            <li class="heading"><span>{{ "Products"|t }}</span></li>

            <li><a href="{{ url('commerce/settings/producttypes') }}"{% if craft.request.segment(3) == 'producttypes' %} class="sel"{% endif %}>{{ "Product Types"|t }}</a></li>

            <li class="heading"><span>{{ "Taxes"|t }}</span></li>

            <li><a href="{{ url('commerce/settings/taxcategories') }}"{% if craft.request.segment(3) == 'taxcategories' %} class="sel"{% endif %}>{{ "Tax Categories"|t }}</a></li>

            <li><a href="{{ url('commerce/settings/taxzones') }}"{% if craft.request.segment(3) == 'taxzones' %} class="sel"{% endif %}>{{ "Tax Zones"|t }}</a></li>

            <li><a href="{{ url('commerce/settings/taxrates') }}"{% if craft.request.segment(3) == 'taxrates' %} class="sel"{% endif %}>{{ "Tax Rates"|t }}</a></li>

            <li class="heading"><span>{{ "Shipping"|t }}</span></li>

            <li><a href="{{ url('commerce/settings/countries') }}"{% if craft.request.segment(3) == 'countries' %} class="sel"{% endif %}>{{ "Countries"|t }}</a></li>

            <li><a href="{{ url('commerce/settings/states') }}"{% if craft.request.segment(3) == 'states' %} class="sel"{% endif %}>{{ "States"|t }}</a></li>

            <li><a href="{{ url('commerce/settings/shippingmethods') }}"{% if craft.request.segment(3) == 'shippingmethods' %} class="sel"{% endif %}>{{ "Shipping Methods"|t }}</a></li>

        </ul>
    </nav>
{% endblock %}