{% extends "commerce/_layouts/cp" %}
{% set selectedSubnavItem = 'store-settings' %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commercesettings" %}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment(3) %}
{% endif %}

{% if store is not defined %}
    {% set store = craft.commerce.stores.getPrimaryStore() %}
{% endif %}

{% set title = 'Store Management'|t('commerce') %}

{% block toolbar %}
    {# store selector dropdown input #}
    {% if craft.commerce.stores.getAllStores().count() > 1 %}
        <div class="select">
            <select id="store-selector" class="text">
                {% for storeOption in craft.commerce.stores.getAllStores() %}
                    <option value="{{ storeOption.getStoreSettingsUrl() }}" {% if store.id == storeOption.id %}selected{% endif %}>{{ storeOption.name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endblock %}
{% block sidebar %}
    <nav>
        <ul>
            {% for handle, item in storeSettingsNav %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li>
                        <a href="{{ store.getStoreSettingsUrl(item.path) }}"{% if handle == selectedItem %} class="sel"{% endif %}>{{ item.label }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% js %}
    $('#store-selector').on('change', function() {
        var storeUrl = $(this).val();
        window.location.href = storeUrl;
    });
{% endjs %}
