{% extends "commerce/_layouts/cp" %}
{% set isIndex = isIndex is not defined ? true : isIndex %}
{% set selectedSubnavItem = 'store-settings' %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "commercesettings" %}

{% if selectedItem is not defined %}
    {% set selectedItem = craft.app.request.getSegment((craft.app.config.general.cpTrigger ? 4 : 3)) ?? 'general' %}
{% endif %}
{% if storeHandle is not defined %}
    {% set storeHandle = craft.app.request.getSegment((craft.app.config.general.cpTrigger ? 3 : 2)) ?? craft.commerce.stores.getPrimaryStore().handle %}
{% endif %}
{% set store = craft.commerce.stores.getStoreByHandle(storeHandle) %}
{% set defaultCrumbs = [
  { label: "Store Management"|t('commerce'), url: url('commerce/store-settings/' ~ store.handle) },
] %}
{% set crumbs = not isIndex ? defaultCrumbs|merge(crumbs is not defined ? [] : crumbs) : [] %}

{% set title = title is not defined ? 'Store Management'|t('commerce') : title %}

{% block toolbar %}
    {% if isIndex %}
        {# store selector dropdown input #}
        {% if craft.commerce.stores.getAllStores().count() > 1 %}
            <div class="select">
                <select id="store-selector" class="text">
                    {% for storeOption in craft.commerce.stores.getAllStores() %}
                        {# Include `store-settings` in the replace to avoid accidentally overrding another part of the URL #}
                        <option value="{{ craft.app.request.url|replace('store-settings/' ~ storeHandle, 'store-settings/' ~ storeOption.handle) }}" {% if store.id == storeOption.id %}selected{% endif %}>{{ storeOption.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block sidebar %}
    {% if isIndex %}
        <nav>
            <ul>
                {% for handle, item in storeSettingsNav %}
                    {% if item.heading is defined %}
                        <li class="heading"><span>{{ item.heading }}</span></li>
                    {% else %}
                        <li>
                            <a href="{{ store.getStoreSettingsUrl(item.path) }}"{% if handle == selectedItem %} class="sel"{% endif %}>{{ item.label }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% js %}
    $('#store-selector').on('change', function() {
        var storeUrl = $(this).val();
        window.location.href = storeUrl;
    });
{% endjs %}
