{% extends "market/_layouts/cp" %}

{% set title = "Order Statuses"|t %}

{% set crumbs = [
    { label: "Market"|t, url: url('market') },
    { label: "Settings"|t, url: url('market/settings/global') },
    { label: "Order Statuses"|t, url: url('market/settings/orderstatuses') }
] %}

{% set selectedTab = 'settings' %}

{% set content %}
<table id="orderstatuses" class="data fullwidth collapsible">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Order Type</th>
        <th scope="col">Handle</th>
        <th scope="col">Color</th>
        <th scope="col">Emails</th>
        <th scope="col">Is Default?</th>
        <td class="thin"></td>
    </tr>
    </thead>
    <tbody>
    {% for orderStatus in orderStatuses %}
        <tr data-id="{{ orderStatus.id }}" data-name="{{ orderStatus.handle }}">
            <th scope="row" data-title="Name"><a href="{{ url('market/settings/orderstatuses/'~orderStatus.id) }}">{{ orderStatus.name }}</a></th>
            <td data-title="Order Type"><code>{{ orderStatus.orderType.name }}</code></td>
            <td data-title="Handle">{{ orderStatus.handle }}</td>
            <td data-title="Color">#{{ orderStatus.color }}</td>
            <td data-title="Emails">
                {% for email in orderStatus.emails %}
                    {{ email.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ orderStatus.default ? 'Yes' : 'No' }}</td>
            <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<br/>
<div class="btngroup submit first">
    <a href="{{ url('market/settings/orderstatuses/new') }}" class="btn submit">New Order Status</a>
</div>
{% endset %}


{% set js %}
var adminTable = new Craft.AdminTable({
tableSelector: '#orderstatuses',
noObjectsSelector: '#noorderstatuses',
newObjectBtnSelector: '#neworderStatuscontainer',
deleteAction: 'market/orderStatus/delete',
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}” and all its orders? Please make sure you have a backup of your database before before peforming this desctruction action"|t }}'
});
{% endset %}
{% includeJs js %}