{% extends "market/_layouts/settings" %}

{% set selectedTab = 'settings' %}

{% set content %}

        <table id="orderStatuses" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Handle</th>
                <th scope="col">Color</th>
                <th scope="col">Emails</th>
                <th scope="col">Is Default?</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for orderStatus in orderStatuses %}
                <tr data-id="{{ orderStatus.id }}" data-name="{{ orderStatus.handle }}">
                    <th scope="row" data-title="Name"><a href="{{ orderStatus.getCpEditUrl() }}">{{ orderStatus.name }}</a></th>
                    <td data-title="Handle">{{ orderStatus.handle }}</td>

                    <td data-title="Color"><span class="market status {{ orderStatus.color }}"></span></td>
                    <td data-title="Emails">
                        {% for email in orderStatus.emails %}
                            {{ email.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ orderStatus.default ? 'Yes' : 'No' }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <br/>
        <div class="btngroup submit">
            <a href="{{ url('market/settings/orderstatuses/new') }}" class="btn submit">New Order Status</a>
        </div>



{% endset %}


{% set js %}
    new Craft.AdminTable({
        tableSelector: '#orderStatuses',
        deleteAction: 'market/orderStatus/delete',
        confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}'
    });
{% endset %}
{% includeJs js %}
