{% extends '[[folderName]]/_private/layouts' %}

{% block main %}
  <!-- Template: {{ _self }}.twig -->
  <h1 class="text-3xl block sm:inline">Donation</h1>

  {% set donation = craft.commerce.donation %}
  {% if donation and donation.isAvailable %}
    <form method="post" action="" class="pt-2 pb-8">
      {{ actionInput('commerce/cart/update-cart') }}
      {{ successMessageInput('Donation added.') }}
      {{ redirectInput('[[folderName]]/cart') }}
      {{ hiddenInput('purchasableId', craft.commerce.donation.id) }}
      {{ csrfInput() }}

      <div>
        <label for="donation-amount">Enter a donation amount e.g. 10, 15, 20</label>
      </div>
      <div>
        <input type="text"
               id="donation-amount"
               name="options[donationAmount]"
               value="" placeholder="10"
               class="[[classes.input]]"/>
      </div>
      <div class="mt-3">
        <button type="submit"
                class="[[classes.btn.base]] [[classes.btn.mainColor]]">
          Add Donation
        </button>
      </div>
    </form>
  {% else %}
    <h2 class="text-lg font-semibold text-gray-600 mt-4">No donation set up</h2>
  {% endif %}
{% endblock %}