<!-- Template: {{ _self }}.twig -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop</title>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {% if extraHead is defined %}{{ extraHead }}{% endif %}
</head>
<body class="relative text-gray-800 flex flex-col min-h-screen">

{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% set flashNotice = craft.app.session.getFlash('notice') %}
{% set flashError = craft.app.session.getFlash('error') %}

{% set classes = {
  input: 'border border-gray-300 hover:border-gray-500 px-4 py-2 leading-tight rounded',
  box: {
    base: 'bg-gray-100 border-gray-300 border-b-2 p-6',
    error: 'bg-red-100 border-red-500 border-b-2 p-6'
  },
  btn: {
    base: 'cursor-pointer rounded px-4 py-2 inline-block',
    small: 'cursor-pointer rounded px-2 py-1 text-sm inline-block',
    grey: 'bg-gray-500 hover:bg-gray-600 text-white hover:text-white',
    greyLight: 'bg-gray-300 hover:bg-gray-400 text-gray-600 hover:text-white',
    blue: 'bg-blue-500 hover:bg-blue-600 text-white hover:text-white',
    green: 'bg-green-500 hover:bg-green-600 text-white hover:text-white'
  }
} %}

<header>
    <div class="bg-gray-300">
        <div class="container mx-auto p-6">
            <h1 class="text-3xl"><a href="{{ url('shop') }}">Shop</a></h1>
        </div>
    </div>

    {% include 'shop/_includes/floating-cart' %}

    {% include 'shop/_includes/nav-main' %}
    {% include 'shop/_includes/nav-checkout' %}
</header>

{# Add `or true` to this if condition to temporarily see what this flash notice would look like #}
{% if flashNotice %}
    <div class="bg-blue-500 text-white">
        <div class="container mx-auto px-6 py-4">
            {{ flashNotice ?? 'Test flash notice' }}
        </div>
    </div>
{% endif %}

{# Add `or true` to this if condition to temporarily see what this flash error would look like #}
{% if flashError %}
    <div class="bg-red-500 text-white">
        <div class="container mx-auto px-6 py-4">
            {{ flashError ?? 'Test flash error' }}
        </div>
    </div>
{% endif %}

{% if cart.errors|length %}
    <div class="bg-red-500 text-white">
        <div class="container mx-auto px-6 py-4">
            {% for attribute, errors in cart.errors %}
                {% if loop.first %}<ul>{% endif %}
                {% for key, error in errors %}
                    <li>{{ attribute }}: {{ error }}</li>
                {% endfor %}
                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% block body %}
    <div class="container mx-auto p-6 flex-grow">
        {% block main %}{% endblock %}
    </div>
{% endblock %}

<footer>
    {% include 'shop/_includes/footer' %}
</footer>

{% if devMode %}
    <script>console.log('Cart on page load: ', {{ cart.toArray()|json_encode|raw }});</script>
{% endif %}
</body>
</html>
