{% extends "commerce/_layouts/cp" %}

{% set title = "Commerce Customers" %}

{% block content %}
<table id="customers" class="data fullwidth collapsible">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
        <tr data-id="{{ customer.id }}">
            <th><a href="{{ customer.getCpEditUrl() }}">#{{ customer.id }}</a></th>
            <td data-title="{{ 'User'|t }}">
                {% if customer.user %}
                    <a href="{{ customer.user.getCpEditUrl() }}">{{ customer.user.name }}</a>
                {% else %}
                    (null)
                {% endif %}
            </td>
            <td data-title="{{ 'Email'|t }}">{{ customer.email ?: '(null)' }}</td>
            <td>
                <a class="edit icon" href="{{ customer.getCpEditUrl() }}">{{ 'Edit'|t }}</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
