{% extends "commerce/_layouts/cp" %}

{% set crumbs = [
{ label: "Customers"|t, url: url('commerce/customers') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}


{% block content %}
    <input type="hidden" name="action" value="commerce/customers/save">
    <input type="hidden" name="redirect" value="commerce/customers">
    <input type="hidden" name="id" value="{{ customer.id }}">

    {% set userField %}
    {% if customer.user %}
        <a href="{{ customer.user.getCpEditUrl() }}">{{ customer.user.name }}</a>
    {% else %}
        (Guest)
    {% endif %}
    {% endset %}

    {{ forms.field({
        first: true,
        label: "User"|t,
        instructions: "Associated user account."|t,
    }, userField) }}

    {{ forms.textField({
        label: "Email"|t,
        instructions: "Customer email (same as user email if user is specified)."|t,
        name: 'email',
        value: customer.email,
        errors: customer.getErrors('email'),
    }) }}

    <h3>Addresses</h3>

    <div id="no-addresses"{% if customer.addresses|length %} class="hidden"{% endif %}>
        <p>{{ "No addresses exist for this customer yet."|t }}</p>
    </div>

    {% if customer.addresses|length %}
    <table id="addresses" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col" class="header">{{ 'ID'|t }}</span></th>
            <th scope="col" class="header">{{ 'First Name'|t }}</span></th>
            <th scope="col" class="header">{{ 'Last Name'|t }}</th>
            <th scope="col" class="header">{{ 'Country'|t }}</th>
            <th scope="col" class="header">{{ 'State'|t }}</th>
        </tr>
        </thead>
        <tbody>
        {% for address in customer.addresses %}
            <tr data-id="{{ address.id }}" data-name="{{ address.id }}">
                <td>{{ address.id }}</td>
                <td>{{ address.firstName }}</td>
                <td>{{ address.lastName }}</td>
                <td>{{ address.country.name }}</td>
                <td>{{ address.stateText }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}


{% includejs %}
    new Craft.AdminTable({
    tableSelector: '#addresses',
    noObjectsSelector: '#no-addresses',
    deleteAction: 'commerce/address/delete'
    });
{% endincludejs %}
