<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/javascript" src="/shop/jquery.js"></script>
    <style>{% include('shop/tailwind.css') %}</style>
    {% if extraHead is defined %}{{ extraHead }}{% endif %}
</head>
<body class="text-gray-700 flex flex-col min-h-screen">

{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

<header>

    <div class="bg-gray-300">
        <div class="container mx-auto p-6">
            <h1 class="text-3xl"><a href="/shop">Shop</a></h1>
        </div>
    </div>

    {% if 'checkout' not in craft.app.request.pathInfo %}
        {% include 'shop/_includes/nav-main' %}
    {% endif %}

    {% if 'checkout' in craft.app.request.pathInfo %}
        {% include 'shop/_includes/nav-checkout' %}
    {% endif %}

</header>

{% set flashNotice = craft.app.session.getFlash('notice') %}
{% if flashNotice %} {# Add `or true` to this if condition to temporarily see what this flash notice would look like if you have a flash message #}
    <div class="bg-blue-500 text-white">
        <div class="container mx-auto px-6 py-4">
            {{ flashNotice ?? 'Test flash notice' }}
        </div>
    </div>
{% endif %}

{% set flashError = craft.app.session.getFlash('error') %}
{% if flashError %} {# Add `or true` to this if condition to temporarily see what this flash error would look like if you have a flash message #}
    <div class="bg-red-500 text-white">
        <div class="container mx-auto px-6 py-4">
            {{ flashError ?? 'Test flash error' }}
        </div>
    </div>
{% endif %}

{% if cart.errors|length %}
    <div class="bg-red-500 text-white">
        <div class="container mx-auto px-6 py-4">
            {% for attribute, errors in cart.errors %}
                {% if loop.first %}<ul>{% endif %}
                {% for key, error in errors %}
                    <li>{{ attribute }}: {{ error }}</li>
                {% endfor %}
                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% block body %}
    <div class="container mx-auto p-6 flex-grow">
        {% block main %}

        {% endblock %}
    </div>
{% endblock %}

<footer>
{% include 'shop/_includes/nav-templates' %}

{% include 'shop/_includes/footer' %}
</footer>

{% if devMode %}
    <script>console.log('Cart on page load: ', {{ cart.toArray()|json_encode|raw }});</script>
    <script>document.write('<script src="http://localhost:35729/livereload.js?snipver=1"></' + 'script>')</script>
{% endif %}
</body>
</html>
