<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Craft Commerce Example Templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/javascript" src="/shop/jquery.js"></script>
    <style>{% include('shop/tailwind.css') %}</style>
    {% if extraHead is defined %}{{ extraHead }}{% endif %}
</head>
<body class="text-gray-800">

    {% if cart is not defined %}
        {% set cart = craft.commerce.carts.cart %}
    {% endif %}

    <header>
    {% include "shop/_includes/main-nav" %}
    {% if extraHeader is defined %}{{ extraHeader }}{% endif %}
    </header>


    {% set flashNotice = craft.app.session.getFlash('notice') %}
    {% if flashNotice %}
        <div class="bg-blue-500 text-white">
            <div class="container mx-auto px-6 py-4">
                {{ flashNotice }}
            </div>
        </div>
    {% endif %}

    {% set flashError = craft.app.session.getFlash('error') %}
    {% if flashError %}
        <div class="bg-red-500 text-white">
            <div class="container mx-auto px-6 py-4">
                {{ flashError }}
            </div>
        </div>
    {% endif %}

    {% if cart.errors|length %}
        <div class="bg-red-500 text-white">
            <div class="container mx-auto px-6 py-4">
                {% for attribute, errors in cart.errors %}
                    {% if loop.first %}<ul>{% endif %}
                    {% for key, error in errors %}
                        <li>{{ attribute }}: {{ error }}</li>
                    {% endfor %}
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% block body %}
        <div class="container mx-auto p-6">
            {% block main %}
                <h1 class="text-xl font-semibold">Default Content</h1>
                <p>You should not see this.</p>
            {% endblock %}
        </div>
    {% endblock %}

    <footer class="container mx-auto p-2 pt-10">
        <div class="flex flex-wrap">
            <div class="flex-grow bg-white rounded m-2 p-6 pt-0 shadow-inner">
                {% include 'shop/_includes/debug' %}
            </div>
            <div class="flex-grow bg-white rounded m-2 p-6 pt-0 shadow-inner">
                {% include 'shop/_includes/shortcuts' %}
            </div>
            <div class="flex-grow bg-white rounded m-2 p-6 pt-0 shadow-inner">
                {% include 'shop/_includes/help' %}
            </div>
        </div>
    </footer>
</body>
</html>
