<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/javascript" src="/shop/jquery.js"></script>
    <style>{% include('shop/tailwind.css') %}</style>
    {% if extraHead is defined %}{{ extraHead }}{% endif %}
</head>
<body class="text-gray-800 flex flex-col min-h-screen">

{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
    <script>console.log('Cart on page load: ', {{ cart.toArray()|json_encode|raw }});</script>
{% endif %}

<header>

    <div class="bg-gray-300">
        <div class="container mx-auto p-6">
            <h1 class="text-2xl"><a href="/shop">Shop</a></h1>
        </div>
    </div>

    {% if 'checkout' not in craft.app.request.pathInfo %}
        {% include 'shop/_includes/nav-main' %}
    {% endif %}

    {% if 'checkout' in craft.app.request.pathInfo %}
        {% include 'shop/_includes/nav-checkout' %}
    {% endif %}

</header>

{% set flashNotice = craft.app.session.getFlash('notice') %}
{% if flashNotice %} {# Add `or true` to this if condition to temporarily see what this flash notice would look like if you have a flash message #}
    <div class="bg-blue-500 text-white">
        <div class="container mx-auto px-6 py-4">
            {{ flashNotice ?? 'Test flash notice' }}
        </div>
    </div>
{% endif %}

{% set flashError = craft.app.session.getFlash('error') %}
{% if flashError %} {# Add `or true` to this if condition to temporarily see what this flash error would look like if you have a flash message #}
    <div class="bg-red-500 text-white">
        <div class="container mx-auto px-6 py-4">
            {{ flashError ?? 'Test flash error' }}
        </div>
    </div>
{% endif %}

{% if cart.errors|length %}
    <div class="bg-red-500 text-white">
        <div class="container mx-auto px-6 py-4">
            {% for attribute, errors in cart.errors %}
                {% if loop.first %}<ul>{% endif %}
                {% for key, error in errors %}
                    <li>{{ attribute }}: {{ error }}</li>
                {% endfor %}
                {% if loop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% block body %}
    <div class="container mx-auto p-6 flex-grow">
        {% block main %}

        {% endblock %}
    </div>
{% endblock %}

{% include 'shop/_includes/nav-templates.twig' %}

<div class="bg-gray-900 text-white">
    <div class="container mx-auto p-6">
        <h3 class="text-2xl pb-2">Example Templates</h3>
        <p class="pb-2 max-w-2xl">These are the example templates for Craft Commerce 3.2</p>
        <p class="pb-2 max-w-2xl">We do not recommend using these example templates as-is for your site, but suggest extracting portions and customizing them as appropriate.</p>
        <p class="pb-2">Here are some resources to get you started:</p>
        <ul class="list-disc list-inside pb-2">
            <li><a href="https://docs.craftcms.com/commerce" class="underline">Craft Commerce Documentation</a>.</li>
            <li><a href="https://docs.craftcms.com/" class="underline">Craft CMS Documentation</a>.</li>
            <li><a href="http://craftcms.stackexchange.com" class="underline">Craft CMS Stack Exchange</a>. Use the <code class="rounded p-1 bg-gray-700 text-xs">plugin-craftcommerce</code> tag.</li>
            <li><a href="https://craftcms.com/discord" class="underline">Craft Discord Community</a>. Use the <code class="rounded p-1 bg-gray-700 text-xs">#commerce3-help</code> channel.</li>
        </ul>
        <p class="pb-2 pt-2 text-xs text-gray-700">These templates use pure <a href="http://tailwindcss.com" class="underline">Tailwind</a> classes, and native javascript.</p>
    </div>
</div>

</body>
</html>
