{% extends "stripey/_layouts/cp" %}
{% set title = "Stripey"|t %}

{% set crumbs = [
{ label: "Stripey"|t, url: url('stripey') },
{ label: "Settings"|t, url: url('stripey/settings') }
] %}



{% set tabs = {
dashboard: { label: "Dashboard"|t, url: url('stripey') },
products: { label: "Products"|t, url: url('stripey/products') },
charges: { label: "Charges"|t, url: url('stripey/charges') },
plans: { label: "Plans"|t, url: url('stripey/plans') },
settings: { label: "Settings"|t, url: url('stripey/settings') }
} %}

{% set selectedTab = 'settings' %}
{% import "_includes/forms" as forms %}

{% set content %}
<h2>General</h2>

<ul class="icons">
    <li><a href="#" data-icon="general">Stripe Gateway</a></li>
    <li><a href="{{url('stripey/settings/producttypes')}}" data-icon="general">Product Types</a></li>
    <li><a href="{{url('stripey/settings/optiontypes')}}" data-icon="general">Option Types</a></li>
    <li><a href="{{url('stripey/settings/taxcategories')}}" data-icon="general">Tax Categories</a></li>
</ul>

<hr>


<h2>{{ "Stripey Settings"|t }}</h2>

    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="stripey/settings/saveSettings" />
        <input type="hidden" name="redirect" value="stripey/settings" />
        {{ forms.textField({
        label: "Secret Key"|t,
        instructions: "Your Stripe secret key. Test or Live."|t,
        id: 'secretKey',
        name: 'settings[secretKey]',
        value: (settings.secretKey is defined ? settings.secretKey : null),
        errors: (settings is defined ? settings.getErrors('secretKey') : null),
        required: true,
        autofocus: true
        }) }}

        {{ forms.textField({
        label: "Publishable Key"|t,
        instructions: "Your Stripe publishable key. Test or Live."|t,
        id: 'publishableKey',
        name: 'settings[publishableKey]',
        value: (settings.publishableKey is defined ? settings.publishableKey : null),
        errors: (settings is defined ? settings.getErrors('publishableKey') : null),
        required: true,
        }) }}

        {{ forms.textField({
        label: "Default Currency"|t,
        instructions: "Default Charge Currency."|t,
        id: 'defaultCurrency',
        name: 'settings[defaultCurrency]',
        value: (settings.defaultCurrency is defined ? settings.defaultCurrency : null),
        errors: (settings is defined ? settings.getErrors('defaultCurrency') : null),
        required: true,
        }) }}
        <!-- TODO: Make dropdown and popular with a currency helper -->
        <input type="submit" class="btn" value="Save"/>
    </form>



{% endset %}
