{% requireLogin %}
{% extends '[[folderName]]/_private/layouts' %}

{% block main %}
    <!-- Template: {{ _self }}.twig -->
    {% set addressId = craft.app.request.param('addressId') %}
    {% set redirect = craft.app.request.param('redirect') %}

    {% if not address is defined and addressId %}
        {% set address = currentUser.getAddressById(addressId) %}
    {% endif %}

    <h1 class="text-xl font-semibold">
        {% if addressId %}
            Edit Address
        {% else %}
            Add a new address
        {% endif %}
    </h1>

    <form method="post" action="">
        {{ csrfInput() }}
        {{ actionInput('commerce/user-addresses/save') }}
        {% if redirect %}
            {{ redirectInput(redirect) }}
        {% else %}
            {{ redirectInput('[[folderName]]/customer/addresses') }}
        {% endif %}

        {% if addressId %}
            {{ hiddenInput('address[id]', addressId) }}
        {% endif %}

        {{ include('[[folderName]]/_private/address/form') }}

        {% set isPrimaryBilling = (currentUser.getPrimaryBillingAddressId() == addressId) %}
        {% set isPrimaryShipping = (currentUser.getPrimaryShippingAddressId() == addressId) %}

        <hr class="my-3"/>

        <div>
            <label class="flex items-center">
                <input type="checkbox" {{ isPrimaryShipping ? 'checked' :'' }}
                       id="makePrimaryShippingAddress"
                       name="makePrimaryShippingAddress"
                       class="mr-2"/>
                Make this the primary shipping address
            </label>
        </div>

        <div>
            <label class="flex items-center">
                <input type="checkbox" {{ isPrimaryBilling ? 'checked' :'' }}
                       id="makePrimaryBillingAddress"
                       name="makePrimaryBillingAddress"
                       class="mr-2"/>
                Make this the primary billing address
            </label>
        </div>

        <div class="mt-6 flex justify-between">
            <div>
                {% if redirect %}
                    <a href="/{{ redirect }}" class="[[classes.a]]">Cancel</a>
                {% else %}
                    <a href="{{ url('/[[folderName]]/customer/addresses') }}" class="[[classes.a]]">Cancel</a>
                {% endif %}
            </div>
            <div>
                <button type="submit"
                        class="[[classes.btn.base]] [[classes.btn.mainColor]]">
                    Save Address
                </button>
            </div>
        </div>
    </form>
{% endblock %}
