{% extends '[[folderName]]/_private/layouts' %}

{% set addressId = craft.app.request.param('addressId') %}
{% set redirect = craft.app.request.param('redirect') %}

{% if not address is defined and addressId %}
  {% set address = craft.commerce.customers.customer.getAddressById(addressId) %}
{% endif %}

{% block main %}
  <!-- Template: {{ _self }}.twig -->
  <h1 class="text-xl font-semibold">
    {% if addressId %}
      {{- 'Edit address'|t -}}
    {% else %}
      {{- 'Add a new address'|t -}}
    {% endif %}
  </h1>

  <form method="post" action="">
    {{ csrfInput() }}
    {{ actionInput('commerce/customer-addresses/save') }}
    {% if redirect %}
      {{ redirectInput(redirect) }}
    {% else %}
      {{ redirectInput('[[folderName]]/customer/addresses') }}
    {% endif %}

    {% if addressId %}
      {{ hiddenInput('address[id]', addressId) }}
    {% endif %}

    {{ include('[[folderName]]/_private/address/form') }}

    {% set isPrimaryBilling = (cart.customer.primaryBillingAddressId == addressId) %}
    {% set isPrimaryShipping = (cart.customer.primaryShippingAddressId == addressId) %}

    <hr class="my-3"/>

    <div>
      <label class="flex items-center">
        <input type="checkbox" {{ isPrimaryShipping ? 'checked' :'' }}
               name="makePrimaryShippingAddress"
               id="makePrimaryShippingAddress"
               class="mr-2"
        />
        {{ 'Make this the primary shipping address'|t }}
      </label>
    </div>

    <div>
      <label class="flex items-center">
        <input type="checkbox" {{ isPrimaryBilling ? 'checked' :'' }}
               name="makePrimaryBillingAddress"
               id="makePrimaryBillingAddress"
               class="mr-2"
        />
        {{ 'Make this the primary billing address'|t }}
      </label>
    </div>

    <div class="mt-6 flex justify-between">
      <div>
        {% if redirect %}
          <a href="/{{ redirect }}" class="[[classes.a]]">
            {{- 'Cancel'|t -}}
          </a>
        {% else %}
          <a href="{{ url('/[[folderName]]/customer/addresses') }}" class="[[classes.a]]">
            {{- 'Cancel'|t -}}
          </a>
        {% endif %}
      </div>
      <div>
        <button type="submit"
                class="[[classes.btn.base]] [[classes.btn.mainColor]]"
        >
          {{- 'Save Address'|t -}}
        </button>
      </div>
    </div>
  </form>
{% endblock %}
