{% extends "market/_layouts/cp" %}
{% set crumbs = [
{ label: "Products"|t, url: url('market/products') }
] %}

{% import "_includes/forms" as forms %}

{% macro multiSelectField(options, values, attribute, label) %}

    {% import "_includes/forms" as forms %}
    {% set multiSelectInput %}
    {{ forms.multiselect({
        id:        attribute,
        name:      attribute,
        options:   options,
        values:    values,
        errors:    product.getErrors(attribuitlee),
    }) }}
    {% endset %}

    {{ forms.field({
        id:       attribute,
        label:    label
    }, multiSelectInput) }}

{% endmacro %}


{% macro dateTimeField(product, attribute, label) %}

    {% import "_includes/forms" as forms %}

    {% set dateTimeInput %}
    {{ forms.date({
        id:        attribute,
        name:      attribute,
        value:     product.getAttribute(attribute),
        errors:    product.getErrors(attribute),
    }) }}

    {{ forms.time({
        id:        attribute,
        name:      attribute,
        value:     product.getAttribute(attribute),
        errors:    product.getErrors(attribute),
    }) }}
    {% endset %}

    {{ forms.field({
        id:       attribute,
        label:    label,
        first:    (attribute == 'availableOn'),
        required: false
    }, dateTimeInput) }}

{% endmacro %}


{% from _self import dateTimeField %}

{% block main %}

    <form id="product-form" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="market/product/saveProduct">
        <input type="hidden" name="redirect" value="market/products">
        <input type="hidden" name="typeId" value="{{ productType.id }}">
        {{ getCsrfInput() }}
        {% if product.id %}<input type="hidden" name="productId" value="{{ product.id }}">{% endif %}

        <div class="grid first">
            <div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">

                <div id="fields" class="pane">
                    {% include "_includes/tabs" %}

                    {% from "_includes/forms" import textField %}
                    {% set static = static is defined ? static : false %}

                    {{ textField({
                        label: "Name"|t,
                        locale: product.locale,
                        id: 'title',
                        name: 'title',
                        value: product.title,
                        errors: (not static ? product.getErrors('title')),
                        first: true,
                        autofocus: true,
                        required: (not static),
                        disabled: static,
                        maxlength: 255
                    }) }}

                        {% set masterVariantHtml %}

                        <table id="" class="shadow-box editable">
                            <thead>
                            <tr>
                                <th scope="col" class="header"><span class="required">{{ 'SKU'|t }}</span></th>
                                <th scope="col" class="header"><span class="required">{{ 'Price'|t }}</span></th>
                                <th scope="col" class="header">{{ 'Width'|t }}</th>
                                <th scope="col" class="header">{{ 'Height'|t }}</th>
                                <th scope="col" class="header">{{ 'Length'|t }}</th>
                                <th scope="col" class="header">{{ 'Weight'|t }}</th>
                                <th scope="col" class="header">{{ 'Stock Count'|t }}</th>
                                <th scope="col" class="header">{{ 'Unlimited Stock'|t }}</th>
                                <th scope="col" class="header">{{ 'Min Quantity'|t }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="textual">
                                    <input name="masterVariant[sku]" value="{{ masterVariant.sku }}">
                                </td>
                                <td class="textual">
                                    <input type="number" step="0.0001" name="masterVariant[price]" value="{{ masterVariant.price }}">
                                </td>
                                <td class="textual">
                                    <input type="number" step="0.0001" name="masterVariant[width]" value="{{ masterVariant.width }}">
                                </td>
                                <td class="textual">
                                    <input type="number" step="0.0001" name="masterVariant[height]" value="{{ masterVariant.height }}">
                                </td>
                                <td class="textual">
                                    <input type="number" step="0.0001" name="masterVariant[length]" value="{{ masterVariant.length }}">
                                </td>
                                <td class="textual">
                                    <input type="number" step="0.0001" name="masterVariant[weight]" value="{{ masterVariant.weight }}">
                                </td>
                                <td class="textual">
                                    <input type="number" name="masterVariant[stock]" value="{{ masterVariant.stock }}" min="0">
                                </td>
                                <td class="">
                                    <input type="hidden" name="masterVariant[unlimitedStock]" value="0">
                                    <input type="checkbox" name="masterVariant[unlimitedStock]" value="1"
                                           {% if masterVariant.unlimitedStock %}checked{% endif %}>
                                </td>
                                <td class="textual">
                                    <input type="number" name="masterVariant[minQty]" value="{{ masterVariant.minQty }}" min="0">
                                </td>
                            </tr>
                            {% if masterVariant.hasErrors() %}
                                <tr>
                                    <td><span class="error">{{ masterVariant.getErrors('sku')|join }}</span></td>
                                    <td><span class="error">{{ masterVariant.getErrors('price')|join }}</span></td>
                                    <td><span class="error">{{ masterVariant.getErrors('width')|join }}</span></td>
                                    <td><span class="error">{{ masterVariant.getErrors('height')|join }}</span></td>
                                    <td><span class="error">{{ masterVariant.getErrors('length')|join }}</span></td>
                                    <td><span class="error">{{ masterVariant.getErrors('weight')|join }}</span></td>
                                    <td><span class="error">{{ masterVariant.getErrors('stock')|join }}</span></td>
                                    <td><span class="error">{{ masterVariant.getErrors('unlimitedStock')|join }}</span></td>
                                    <td><span class="error">{{ masterVariant.getErrors('minQty')|join }}</span></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                        {% endset %}

                        {{ forms.field({
                            id:       'masterVariant',
                            label:    'Master Variant'|t
                        }, masterVariantHtml) }}

                    {% set allProductTab = productType.asa('productFieldLayout').getFieldLayout().getTabs() %}
                    {% for tab in allProductTab %}
                        <div id="tab{{ loop.index }}" {% if not loop.first %} class="hidden" {% endif %}>
                            {% include "_includes/fields" with {
                            fields: tab.getFields(),
                            element: product,
                            static: (static is defined ? static : false)
                            } only %}
                        </div>
                    {% endfor %}


                </div>{# end pane#}

                <div id="" class="pane">
                    {% set variantTab = {'variantsTab':{'label':'Variants','url':'#variantsTab'}} %}

                    {% include "_includes/tabs" with {'tabs': variantTab }%}

                    <div id="variantsTab" class="">

                        {% if productId is defined %}
                            {% set elementTypeClass = 'Market_Variant' %}
                            {% set elementType = craft.elements.getElementType(elementTypeClass) %}
                            {% set context = 'index' %}

                            {% if not elementType %}
                                {% exit 404 %}
                            {% endif %}

                            {% set sources = elementType.getSources('index') %}

                            <div class="content">
                                <div class="sidebar hide">
                                    <nav>
                                        {% include "_elements/sources" %}
                                    </nav>
                                </div>

                                {% include "_elements/indexcontainer" %}

                            </div>

                            {% set initJs %}
                                Craft.elementIndex = Craft.createElementIndex('{{ elementTypeClass }}', $('#variantsTab'), {
                                context:        '{{ context }}',
                                showStatusMenu: {{ showStatusMenu is defined ? showStatusMenu|json_encode|raw : "'auto'" }},
                                showLocaleMenu: {{ showLocaleMenu is defined ? showLocaleMenu|json_encode|raw : "'auto'" }},
                                storageKey:     'elementindex.{{ elementTypeClass }}',
                                criteria:       { productId: {{ productId }}, localeEnabled: null }
                                });
                            {% endset %}

                            {% includeJs initJs %}

                        {%  endif  %}

                    </div>
                </div>

            </div>
            <div class="item" data-position="right" data-colspan="1">

                <div class="pane">
                    {{ forms.textField({
                        label: "Slug"|t,
                        locale: product.locale,
                        id: 'slug',
                        name: 'slug',
                        value: product.slug,
                        errors: product.getErrors('slug')|merge(product.getErrors('uri'))
                    }) }}

                    {{ forms.selectField({
                        label: 'Tax Category'|t,
                        name: 'taxCategoryId',
                        value: product.taxCategoryId,
                        required: true,
                        options: taxCategories
                    }) }}

                    {{ dateTimeField(product, 'availableOn', "Available On"|t) }}
                    {{ dateTimeField(product, 'expiresOn', "Expires On"|t) }}

                    {% set enabledswitch %}
                    <div class="left">
                        {{ forms.lightswitch({
                            id: 'enabled',
                            name: 'enabled',
                            label: 'Enabled?',
                            on: product.enabled,
                            disabled: false
                        }) }}
                    </div>
                    <div class="right">
                        {% if productId is defined %}
                            <div class="btngroup">
                                <input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}"
                                       data-action="market/product/deleteProduct"
                                       data-confirm="{{ 'Are you sure you want to delete this product?'|t }}"
                                       data-redirect="market/products">
                            </div>
                        {% endif %}
                    </div>
                    {% endset %}

                    {{ forms.field({
                        id:       'status',
                        label:    'Status',
                        first:    true
                    },enabledswitch) }}

                </div>{#END PANE#}


                <div class="buttons first">
                    <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
                    <a class="btn formsubmit submit right" data-redirect="{{ product.cpEditUrl }}/variants/new"
                       data-value="1">{{ 'Save & Add Variant'|t }}</a>
                </div>


            </div>

        </div>


    </form>


    {% if not product.slug %}
        {% includeJs "window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');" %}
    {% endif %}

{% endblock %}


