{% extends "market/_layouts/elementindex" %}
{% set title = "Products"|t %}
{% set elementType = 'Market_Product' %}
{% set selectedTab = 'products' %}

{% set crumbs = [
{ label: "Market"|t, url: url('market') },
] %}

{% block sidebar %}

    {% if productTypes|length and taxCategories|length %}
        <div class="buttons">
            {% if productTypes|length > 1 %}
                <div class="btn submit menubtn add icon">{{ "New Product"|t }}</div>
                <div class="menu">
                    <ul>
                        {% for productType in productTypes %}
                            <li>
                                <a href="{{ url('market/products/'~productType.handle~'/new') }}">{{ productType.name|t }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <a class="btn submit add icon"
                   href="{{ url('market/products/'~productTypes[0].handle~'/new') }}">{{ "New Product"|t }}</a>
            {% endif %}
        </div>
    {% endif %}




    {{ parent() }}

    {% if not productTypes|length > 0 %}

        <p><span style="color:red">No product types exist!</span><br/>Go to settings and <a
                    href="{{ url('market/settings/producttypes') }}">create a new product type </a> please.</p>
    {% endif %}
    {% if not taxCategories|length > 0 %}

        <p><span style="color:red">No tax categories exist!</span><br/>Go to settings and <a
                    href="{{ url('market/settings/taxcategories') }}">create a new tax category </a> please.</p>
    {% endif %}

    {% set js %}
    $('.elementindex').on('change', 'select', function (e) {
        window.location = $(this).find(':selected').data('link');
    });
    {% endset %}
    {%  includeJs js %}

{% endblock %}