<input type="hidden" name="{{ name }}" value="">

<div id="{{ id }}" class="matrix variant-matrix">
    <div class="blocks">
        {% set totalNewVariants = 0 %}
        {% for variant in variants %}
            {% set variantId = variant.id %}
            {% if not variantId %}
                {% set totalNewVariants = totalNewVariants + 1 %}
                {% set variantId = 'new'~totalNewVariants %}
            {% endif %}
            {% set namespace = name~'['~variantId~']' %}

            <div class="variant-matrixblock matrixblock{% if not variant.enabled %} disabled{% endif %}"
                 data-id="{{ variantId }}" {#% if variant.collapsed %} data-collapsed{% endif %#}>
                <input type="hidden" name="{{ namespace }}[enabled]"
                       value="{% if variant.enabled %}1{% endif %}">
                <input class="default-input" type="hidden"
                       name="{{ namespace }}[isDefault]"
                       value="{% if variant.isDefault %}1{% endif %}">
                <div class="titlebar">
                    <div class="preview"></div>
                </div>
                <div class="checkbox"
                     title="{{ 'Select'|t('commerce') }}"></div>
                <div class="actions">
                    <div class="status off"
                         title="{{ 'Disabled'|t('commerce') }}"></div>
                    <a class="default-btn{% if variant.isDefault %} sel{% endif %}" {% if not variant.isDefault %} title="{{ 'Set as the default variant'|t('commerce') }}" {% endif %}>{{ "Default"|t('commerce') }}</a>
                    <a class="settings icon menubtn"
                       title="{{ 'Actions'|t('commerce') }}"
                       role="button"></a>
                    <div class="menu">
                        <ul class="padded">
                            <li><a data-icon="collapse"
                                   data-action="collapse">{{ "Collapse"|t('commerce') }}</a>
                            </li>
                            <li class="hidden"><a data-icon="expand"
                                                  data-action="expand">{{ "Expand"|t('commerce') }}</a>
                            </li>
                            <li {% if not variant.enabled %} class="hidden" {% endif %}>
                                <a data-icon="disabled"
                                   data-action="disable">{{ "Disable"|t('commerce') }}</a>
                            </li>
                            <li {% if variant.enabled %} class="hidden" {% endif %}>
                                <a data-icon="enabled"
                                   data-action="enable">{{ "Enable"|t('commerce') }}</a>
                            </li>
                        </ul>
                        <hr class="padded">
                        <ul class="padded">
                            <li><a data-icon="+"
                                   data-action="add">{{ "Add variant above"|t('commerce') }}</a>
                            </li>
                        </ul>
                        <hr class="padded">
                        <ul class="padded">
                            <li><a data-icon="remove"
                                   data-action="delete">{{ "Delete"|t('commerce') }}</a>
                            </li>
                        </ul>
                    </div>
                    <a class="move icon" title="{{ 'Reorder'|t('commerce') }}"
                       role="button"></a>
                </div>
                <div class="fields">
                    {% include 'commerce/products/_variant_matrix_fields' %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="btn add icon">{{ "Add a variant"|t('commerce') }}</div>
</div>
