{% extends "commerce/_layouts/settings" %}

{% from "commerce/_includes/settings" import indexInlineList %}


{% block content %}
    <h2>{{ "Tax Zones"|t }}</h2>

    <div id="no-tax-zones"{% if taxZones|length %} class="hidden"{% endif %}>
        <p>{{ "No tax zones exist yet."|t }}</p>
    </div>

    {% if taxZones|length %}
    <table id="tax-zones" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ 'Name'|t }}</th>
            <th scope="col">{{ 'Description'|t }}</th>
            <th scope="col">{{ 'Type'|t }}</th>
            <th scope="col">{{ 'Countries/States'|t }}</th>
            <th scope="col">{{ 'Tax Rate Usage'|t }}</th>
            <th scope="col">{{ 'Default Zone?'|t }}</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for taxZone in taxZones %}
            <tr data-id="{{ taxZone.id }}" data-name="{{ taxZone.name }}">
                <td scope="row" data-title="{{ 'Name'|t }}"><a href="{{ url('commerce/settings/taxzones/'~taxZone.id) }}">{{ taxZone.name }}</a></td>
                <td data-title="{{ 'Description'|t }}">{{ taxZone.description }}</td>
                <td data-title="{{ 'Type'|t }}">{{ taxZone.countryBased ? 'Country-based'|t : 'State-based'|t }}</td>
                <td data-title="{{ 'Countries/States'|t }}">
                    {% if taxZone.countryBased %}
                        {{ indexInlineList(taxZone.getCountriesNames()) }}
                    {% else %}
                        {{ indexInlineList(taxZone.getStatesNames()) }}
                    {% endif %}
                </td>
                <td data-title="{{ 'Used By Tax Rates'|t }}">
                    {% for rate in taxZone.taxRates %}
                        <a href="{{ rate.getCpEditUrl}}">{{ rate.name }}</a><br>
                    {% endfor %}
                </td>
                <td data-title="{{ 'Default Zone?'|t }}">{% if taxZone.default %}<span data-icon="check" title="{{ 'Yes'|t }}"></span>{% endif %}</td>
                <td class="thin">{% if not taxZone.taxRates|length %}<a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>{% endif %}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    <div class="buttons">
        <a href="{{ url('commerce/settings/taxzones/new') }}" class="btn submit add icon">{{ 'New tax zone'|t }}</a>
    </div>
{% endblock %}

{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#tax-zones',
noObjectsSelector: '#no-tax-zones',
deleteAction: 'commerce/taxZones/delete'
});
{% endincludejs %}
