{% extends "commerce/_layouts/settingscp" %}

{% set crumbs = [
{ label: "Commerce Settings"|t, url: url('commerce/settings') },
{ label: "Emails"|t, url: url('commerce/settings/emails') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="action" value="commerce/emails/save">
    <input type="hidden" name="redirect" value="commerce/settings/emails">
    {% if email.id %}<input type="hidden" name="emailId" value="{{ email.id }}">{% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t,
        instructions: "What this email will be called in the CP."|t,
        id: 'name',
        name: 'name',
        value: email.name,
        errors: email.getErrors('name'),
        autofocus: true,
        required: true,
        translatable: true
    }) }}

    {{ forms.textField({
        label: "Email Subject"|t,
        id: 'subject',
        name: 'subject',
        value: email.subject,
        errors: email.getErrors('subject'),
        required: true,
    }) }}

    {% set recipientInput %}
        <div class="flex">
            <div>
                {{ forms.select({
                    id: 'recipient-type',
                    name: 'recipientType',
                    options: [
                        { label: "Send to the customer"|t, value: 'customer' },
                        { label: "Send to custom recipient"|t, value: 'custom' }
                    ],
                    value: email.recipientType,
                    toggle: true,
                    targetPrefix: 'to-option-'
                }) }}
            </div>
            <div id="to-option-custom" class="flex-grow{% if email.recipientType != 'custom' %} hidden{% endif %}">
                {{ forms.text({
                    id: 'to',
                    name: 'to',
                    value: email.to,
                    placeholder: 'jane@acme.com, joe@acme.com'
                }) }}
            </div>
        </div>
    {% endset %}

    {{ forms.field({
        id: 'recipient-type',
        label: 'Recipient'|t,
        errors: email.getErrors('to'),
        required: true,
    }, recipientInput) }}

    {{ forms.textField({
        label: 'BCC’d Recipient'|t,
        id: 'bcc',
        name: 'bcc',
        value: email.bcc,
        errors: email.getErrors('bcc'),
    }) }}

    {{ forms.textField({
        label: 'HTML Email Template Path'|t,
        instructions: 'The template to be used for HTML emails.'|t,
        id: 'templatePath',
        name: 'templatePath',
        value: email.templatePath,
        errors: email.getErrors('templatePath'),
        required: true,
    }) }}

    {{ forms.lightswitchField({
        label: "Enabled?"|t,
        id: 'enabled',
        name: 'enabled',
        value: 1,
        on: email.enabled,
        errors: email.getErrors('enabled')
    }) }}
{% endblock %}
