{% extends "commerce/_layouts/settings" %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('commerce', [
    'Bcc',
    'Name',
    'No emails exist yet.',
    'Preview',
    'Subject',
    'Template Path',
    'To',
]) %}

{% block actionButton %}
    <div class="btngroup">
        <button type="button" class="btn submit add icon menubtn">{{ 'New email'|t('commerce') }}</button>
        <div class="menu">
            <ul>
                {% for store in stores %}
                    <li>
                        <a href="{{ url("commerce/settings/emails/#{store.handle}/new") }}">{{ store.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="content">
        {% for store in stores %}
            <h2 id="{{ store.handle }}" class="emails-margin-top">{{ store.name }}</h2>
            <div class="content-pane">
                <div id="emails-vue-admin-table-{{ store.handle }}"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% for storeHandle, storeEmails in emails %}
    {% set tableData = [] %}
    {% for email in storeEmails %}
        {% set tableData = tableData|merge([{
            id: email.id,
            title: email.name|t('site'),
            status: email.enabled ? true : false,
            url: email.getCpEditUrl(),
            subject: email.subject|t('site')|e,
            to: email.recipientType == 'custom' ? email.to|e : 'Customer'|t('commmerce')|e,
            bcc: email.bcc|e,
            template: email.templatePath,
            preview: email.id ~ ':' ~ email.storeId,
        }]) %}
    {% endfor %}

    {% js %}
        var columns = [
            { name: '__slot:title', title: Craft.t('commerce', 'Name') },
            { name: 'subject', title: Craft.t('commerce', 'Subject') },
            { name: 'to', title: Craft.t('commerce', 'To') },
            { name: 'bcc', title: Craft.t('commerce', 'Bcc') },
            { name: 'template', title: Craft.t('commerce', 'Template Path'),
                callback: function(value) {
                    if (value) {
                        return '<span class="code">'+value+'</span>';
                    }

                    return '';
                    }
                },
            { name: 'preview', title: Craft.t('commerce', 'Preview'),
                        callback: function(value) {
                            if (value) {
                                return '<a class="btn small" target="_blank" href="'+ Craft.getActionUrl('commerce/email-preview/render', { email: value })+'">Preview</a>';
                            }

                            return '';
                        }
                    },
        ];

        new Craft.VueAdminTable({
            columns: columns,
            container: '#emails-vue-admin-table-{{ storeHandle }}',
            deleteAction: 'commerce/emails/delete',
            emptyMessage: Craft.t('commerce', 'No emails exist yet.'),
            tableData: {{ tableData|json_encode|raw }},
        });
    {% endjs %}
{% endfor %}

{% css %}
  .emails-margin-top {
    margin-top: var(--xl);
  }
{% endcss %}
