{% extends "stripey/_layouts/cp" %}
{% set crumbs = [
{ label: "Stripey"|t, url: url('stripey') },
{ label: "Products"|t, url: url('stripey/products') }
] %}

{% set extraPageHeaderHtml %}


{% endset %}


{% import "_includes/forms" as forms %}

{% macro priceField(product, attribute, label) %}

    {% import "_includes/forms" as forms %}

    {% set dateTimeInput %}
    {{ forms.date({
        id:        attribute,
        name:      attribute,
        value:     product.getAttribute(attribute),
        errors:    product.getErrors(attribute),
    }) }}
    {% endset %}

    {{ forms.field({
        id:       attribute,
        label:    label,
        first:    (attribute == 'availableOn'),
        required: false
    }, dateTimeInput) }}

{%  endmacro  %}


{% macro dateTimeField(product, attribute, label) %}

{% import "_includes/forms" as forms %}



{% set dateTimeInput %}
{{ forms.date({
id:        attribute,
name:      attribute,
value:     product.getAttribute(attribute),
errors:    product.getErrors(attribute),
}) }}

{{ forms.time({
id:        attribute,
name:      attribute,
value:     product.getAttribute(attribute),
errors:    product.getErrors(attribute),
}) }}
{% endset %}

{{ forms.field({
id:       attribute,
label:    label,
first:    (attribute == 'availableOn'),
required: false
}, dateTimeInput) }}

{% endmacro %}


{% from _self import dateTimeField %}

{% block main %}

<form id="product-form" method="post" accept-charset="UTF-8">
    <input type="hidden" name="action" value="stripey/product/saveProduct">
    <input type="hidden" name="redirect" value="stripey/products">
    <input type="hidden" name="typeId" value="{{ productType.id }}">
    {{ getCsrfInput() }}
    {% if product.id %}<input type="hidden" name="productId" value="{{ product.id }}">{% endif %}

    <div class="grid first">
        <div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
            <div id="fields" class="pane">
                {% include "_includes/tabs" %}

                {% from "_includes/forms" import textField %}
                {% set static = static is defined ? static : false %}

                {{ textField({
                label: "Name"|t,
                locale: product.locale,
                id: 'title',
                name: 'title',
                value: product.title,
                errors: (not static ? product.getErrors('title')),
                first: true,
                autofocus: true,
                required: (not static),
                disabled: static,
                maxlength: 255
                }) }}




                {% for tab in productType.getFieldLayout().getTabs() %}
                <div id="tab{{ loop.index }}" {% if not loop.first %} class="hidden" {% endif %}>
                    {% include "_includes/fields" with {
                    fields: tab.getFields(),
                    element: product,
                    static: (static is defined ? static : false)
                    } only %}
                </div>
                {% endfor %}



            </div>
        </div>
        <div class="item" data-position="right" data-colspan="1">

            <div class="pane">

                <table class="data fullwidth">
                    <thead>
                    <tr>
                        <th scope="col">Variants</th>
                        <td class="thin"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td title="Color:Red, Size:XL">Color:Red, Siz...</td><td><a href="#" class="btn small right">Edit</a></td></tr>
                    <tr><td>Color:Red, Size:L</td><td><a href="#" class="btn small right">Edit</a></td></tr>
                    <tr><td>Color:Red, Size:M</td><td><a href="#" class="btn small right">Edit</a></td></tr>
                    <tr><td>Color:Red, Size:S</td><td><a href="#" class="btn small right">Edit</a></td></tr>

                </table>
            </div>{#END PANE#}

            <div class="pane">


                {{ dateTimeField(product, 'availableOn', "Available On"|t) }}
                {{ dateTimeField(product, 'expiresOn', "Expires On"|t) }}

                {% set enabledswitch %}
                <div class="left">
                {{ forms.lightswitch({
                        id: 'enabled',
                        name: 'enabled',
                        label: 'Enabled?',
                        on: product.enabled,
                        disabled: false
                }) }}
                </div>
                <div class="right">
                {% if not brandNewProduct %}
                    <div class="btngroup">
                        <input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}"
                               data-action="stripey/product/deleteProduct"
                               data-confirm="{{ 'Are you sure you want to delete this product?'|t }}"
                               data-redirect="stripey/products">
                    </div>
                {% endif %}
                </div>
                {% endset %}

                {{ forms.field({
                    id:       'status',
                    label:    'Status',
                    first:    true
                },enabledswitch) }}

            </div>{#END PANE#}


            <div class="buttons">
                <div class="btngroup submit first">
                    <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
                </div>

            </div>


        </div>

        </div>
    </div>


</form>

{% endblock %}