{% extends "commerce/_layouts/cp" %}

{% set selectedSubnavItem = "promotions" %}

{% set crumbs = [
    { label: "Promotions"|t, url: url('commerce/promotions') },
    { label: "Discounts"|t, url: url('commerce/promotions/discounts') },
] %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}
{% import "commerce/_includes/forms/commerceForms" as commerceForms %}


{% set discountClasses = "" %}
{% if (discount.getErrors('name')) %}
    {% set discountClasses = "error" %}
{% endif %}

{% set conditionsClasses = "" %}
{% if(discount.getErrors('startDate') or discount.getErrors('endDate') or discount.getErrors('productTypes')) %}
    {% set conditionsClasses = "error" %}
{% endif %}

{% set couponClasses = "" %}
{% if(discount.getErrors('code')) %}
    {% set conditionsClasses = "error" %}
{% endif %}

{% set tabs = {
    0: {'label':'Discount'|t,'url':'#discount','class':discountClasses},
    1: {'label':'Coupon'|t,'url':'#coupon','class':couponClasses},
    2: {'label':'Conditions'|t,'url':'#conditions','class':conditionsClasses},
    3: {'label':'Amounts'|t,'url':'#amounts'}
} %}


{% block content %}
    <input type="hidden" name="action" value="commerce/discounts/save">
    <input type="hidden" name="redirect" value="commerce/promotions/discounts">
    {% if discount.id %}
        <input type="hidden" name="sortOrder" value="{{ discount.sortOrder }}">
        <input type="hidden" name="id" value="{{ discount.id }}">
	{% endif %}

    <div id="discount">
    {{ forms.textField({
        first: true,
        label: "Name"|t,
        instructions: "What this discount will be called in the CP."|t,
        id: 'name',
        name: 'name',
        value: discount.name,
        errors: discount.getErrors('name'),
        autofocus: true,
        required: true,
    }) }}

    {{ forms.textField({
        label: "Description"|t,
        instructions: "Discount description."|t,
        id: 'description',
        name: 'description',
        value: discount.description,
        errors: discount.getErrors('description'),
    }) }}

    {{ forms.checkboxField({
        label: "Enable this discount"|t,
        id: 'enabled',
        name: 'enabled',
        value: 1,
        checked: discount.enabled,
        errors: discount.getErrors('enabled')
    }) }}

    {{ forms.checkboxField({
        label: "Don’t apply subsequent discounts if this discount is applied"|t,
        id: 'stopProcessing',
        name: 'stopProcessing',
        value: 1,
        checked: discount.stopProcessing,
        errors: discount.getErrors('stopProcessing')
    }) }}

	</div>

    <div id="coupon" class="hidden">

	{{ forms.textField({
		label: "Coupon Code"|t,
		instructions: "A user will have to enter this code to activate this discount. A blank coupon code here will always match this discount."|t,
		id: 'code',
		name: 'code',
		value: discount.code,
		errors: discount.getErrors('code'),
	}) }}

    <div id="coupon-fields" class="{% if not discount.code|length %}hidden{% endif %}">
    {{ commerceForms.numberField({
        label: "Per User Coupon Limit"|t,
        instructions: "How many times one user is allowed to use this discount. Setting this requires a user to be logged in to use the discount. Setting this will not allow guests to use the discount. Set to zero for unlimited use by guests or users."|t,
        id: 'perUserLimit',
        name: 'perUserLimit',
        value: discount.perUserLimit,
        min: '0',
        errors: discount.getErrors('perUserLimit'),
    }) }}

    {{ commerceForms.numberField({
        label: "Per Email Address Coupon Limit"|t,
        instructions: "How many times one email address is allowed to use this discount. This applies to all previous orders, whether guest or user. Set to zero for unlimited use by guests or users."|t,
        id: 'perEmailLimit',
        name: 'perEmailLimit',
        value: discount.perEmailLimit,
        min: '0',
        errors: discount.getErrors('perEmailLimit'),
    }) }}

    {{ commerceForms.numberField({
        label: "Total Coupon Use Limit"|t,
        instructions: "How many times this coupon can be used in total by guests or logged in users. Set zero for unlimited use."|t,
        id: 'totalUseLimit',
        name: 'totalUseLimit',
        value: discount.totalUseLimit,
        min: '0',
        errors: discount.getErrors('totalUseLimit'),
    }) }}

    {{
        forms.field({
            'label': 'Times Coupon Used'|t,
			'id': 'total-coupon-use-counter',
            'instructions': "How many times this coupon has been used, if a total coupon usage limit has been set."|t,
        }, '<input disabled class="text disabled fullwidth" value="' ~ discount.totalUses ~ ' times">')
    }}

    {% if discount.id and discount.code|length %}
    <div id="clear-coupon-history">
    {{
    forms.field({
        'label': 'Clear all coupon usage history for this discount'|t,
        'id': 'clear-coupon',
        'instructions': "This will clear all “Per User Coupon Limit” and “Total Use Limit” counters. It will not clear any “Per Email Address Coupon Limit” counters."|t,
    }, '<div id="clear-coupon-btn" class="btn">' ~ "Clear counters"|t ~'</div><div id="clear-coupon-history-spinner" class="spinner hidden"></div>')
    }}
    </div>
    {% endif %}

    </div>
	</div>

    <div id="conditions" class="hidden">

    {{ forms.dateTimeField({
        label: "Start Date"|t,
        instructions: "Date from which the discount will be active. Leave blank for unlimited start date"|t,
        id: 'dateFrom',
        name: 'dateFrom',
        value: discount.dateFrom,
        errors: discount.getErrors('dateFrom'),
    }) }}

    {{ forms.dateTimeField({
        label: "End Date"|t,
        instructions: "Date when the discount will be finished. Leave blank for unlimited end date"|t,
        id: 'dateTo',
        name: 'dateTo',
        value: discount.dateTo,
        errors: discount.getErrors('dateTo'),
    }) }}

    {% if groups|length %}
        {{ forms.multiselectField({
            label: 'User Groups'|t,
            instructions: "Groups for which this discount will be applicable to. Leave blank for all groups"|t,
            id: 'groups',
            name: 'groups',
            options: groups,
            values: discount.getGroupIds(),
            errors: discount.getErrors('groups'),
            class: 'selectize fullwidth',
        }) }}
    {% endif %}

    {{ forms.multiselectField({
        label: 'Product Types'|t,
        instructions: "Product types for which this discount will be applicable to. Leave blank for all product types"|t,
        id: 'productTypes',
        name: 'productTypes',
        options: types,
        values: discount.getProductTypeIds(),
        errors: discount.getErrors('productTypes'),
        class: 'selectize fullwidth',
    }) }}

    {{ forms.elementSelectField({
        id: 'products',
        label: 'Products'|t,
        name: 'products',
        elements: products ? products : null,
        elementType: craft.elements.getElementType('Commerce_Product'),
        limit: null,
        instructions: "Products for which this discount will be applicable to. Leave blank for all products"|t,
        errors: discount.getErrors('products'),
    }) }}

    {{ forms.textField({
        label: "Purchase Total"|t,
        instructions: "Restrict the discount to only those orders where the customer has purchased a minimum total value of matching items."|t,
        id: 'purchaseTotal',
        name: 'purchaseTotal',
        value: discount.purchaseTotal,
        type: 'number',
        errors: discount.getErrors('purchaseTotal'),
    }) }}

    {{ forms.textField({
        label: "Minimum Purchase Quantity"|t,
        instructions: "Minimum number of matching items that need to be ordered for this discount to apply."|t,
        id: 'purchaseQty',
        name: 'purchaseQty',
        value: discount.purchaseQty,
        type: 'number',
        errors: discount.getErrors('purchaseQty'),
    }) }}

	{{ forms.textField({
		label: "Maximum Purchase Quantity"|t,
		instructions: "Maximum number of matching items that can be ordered for this discount to apply. A zero value here will skip this condition."|t,
		id: 'maxPurchaseQty',
		name: 'maxPurchaseQty',
		value: discount.maxPurchaseQty,
		type: 'number',
		errors: discount.getErrors('maxPurchaseQty'),
	}) }}

    {{ forms.checkboxField({
        label: "Exclude this discount for products that are already on sale"|t,
        id: 'excludeOnSale',
        name: 'excludeOnSale',
        value: 1,
        checked: discount.excludeOnSale,
        errors: discount.getErrors('excludeOnSale')
    }) }}


    </div>
    <div id="amounts" class="hidden">
    {{ commerceForms.numberField({
        label: "Base Discount"|t,
        instructions: "The flat value which should discount the order’s total price. i.e “10” for $10 off."|t,
        id: 'baseDiscount',
        name: 'baseDiscount',
        value: discount.baseDiscount != 0 ? discount.baseDiscount * -1 : 0,
        type: 'number',
        step: 'any',
        errors: discount.getErrors('baseDiscount'),
    }) }}

    {{ commerceForms.numberField({
        label: "Per Item Discount"|t,
        instructions: "The flat value which should discount each item in the order. i.e “1” for $1 off."|t,
        id: 'perItemDiscount',
        name: 'perItemDiscount',
        value: discount.perItemDiscount != 0 ? discount.perItemDiscount * -1 : 0,
        type: 'number',
        step: 'any',
        errors: discount.getErrors('perItemDiscount'),
    }) }}

        {% set pctDiscountInput %}
            <table class="inputs">
                <tr>
                    <td>
                        {{ forms.text({
                            id: 'percentDiscount',
                            name: 'percentDiscount',
                            size: 10,
                            value: discount.percentDiscountAsPercent,
                        }) }}
                    </td>
                    <td>
                        {{ forms.select({
                            id: 'percentageOffSubject',
                            name: 'percentageOffSubject',
                            options: [
                            {label: "off the discounted item price"|t, value: 'discounted'},
                            {label: "off the original item price"|t, value: 'original'}
                            ],
                            value: discount.percentageOffSubject
                        }) }}
                    </td>
                </tr>
            </table>
        {% endset %}

        {{ forms.field({
            label: "Percent Discount"|t,
            instructions: "The percentile value which should discount each item in the cart. i.e. “4%” for 4% off"|t,
            id: 'percentDiscount',
            errors: discount.getErrors('percentDiscount'),
        }, pctDiscountInput) }}

    {{ forms.checkboxField({
        label: "Set shipping costs to zero for matching products"|t,
        id: 'freeShipping',
        name: 'freeShipping',
        value: 1,
        checked: discount.freeShipping,
        errors: discount.getErrors('freeShipping')
    }) }}


    </div>
{% endblock %}


{% includejs %}
{#<script>#}
$(function() {
    $('#groups, #productTypes').selectize({
        plugins: ['remove_button'],
        dropdownParent: 'body'
    });

	$('#code').on('keyup blur', function(event) {
		if(this.value.length === 0){
			$('#coupon-fields').addClass('hidden');
		}else{
			$('#coupon-fields').removeClass('hidden');
		}
	});

    $('#clear-coupon-btn').click(function(event){

        var r = confirm("Are you sure you want to clear all usage history for this discount?");

        if (r == true) {
            $('#clear-coupon-history-spinner').toggleClass('hidden');
            $.post('', {
                action: 'commerce/discounts/clearCouponUsageHistory',
                id: '{% if discount.id %}{{ discount.id }}{% endif %}'
            }, function (result) {
                $('#clear-coupon-history-spinner').toggleClass('hidden');
				$('#total-coupon-use-counter').val(0);
				alert(Craft.t('All coupon usage counters have been cleared'));
				$('#clear-coupon-history').hide();
            });
        }

    });
});
{% endincludejs %}
