{% if craft.commerce.settings.allowPartialPaymentOnCheckout %}
  {# Offer payment options at 20%, 50%, 75%, and 100%. #}
  {% set percentageOptions = [ 0.2, 0.5, 0.75, 1 ] %}
  <div class="mt-3">
    <p>{{ 'Make partial payment'|t }}...</p>
    <div>
      <select name="paymentAmount"
              id="paymentAmount"
              class="[[classes.input]]"
      >
        {% for percentageOption in percentageOptions %}
          {# Calculate the desired amount in the target currency #}
          {% set convertedAmount = craft.commerce.paymentCurrencies.convertCurrency(
            cart.outstandingBalance * percentageOption,
            cart.currency,
            cart.paymentCurrency
          ) %}
          <option value="{{ convertedAmount|hash }}">
            {{ percentageOption * 100 }}% ({{ convertedAmount|commerceCurrency(cart.paymentCurrency) }}) ({{ cart.paymentCurrency }})
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endif %}