{% if craft.commerce.settings.allowPartialPaymentOnCheckout %}
    <div class="mt-3">
        <p>Make partial payment...</p>
        <div>
{% set percent20 = craft.commerce.paymentCurrencies.convertCurrency(cart.outstandingBalance * 0.2, cart.currency, cart.paymentCurrency) %}
{% set percent50 = craft.commerce.paymentCurrencies.convertCurrency(cart.outstandingBalance * 0.5, cart.currency, cart.paymentCurrency) %}
{% set percent75 = craft.commerce.paymentCurrencies.convertCurrency(cart.outstandingBalance * 0.75, cart.currency, cart.paymentCurrency) %}
{% set percent100 = craft.commerce.paymentCurrencies.convertCurrency(cart.outstandingBalance, cart.currency, cart.paymentCurrency) %}

<select id="paymentAmount"
        name="paymentAmount"
        class="[[classes.input]]">
    <option value="{{ percent20|hash }}">20%
        ({{ percent20|commerceCurrency(cart.paymentCurrency) }}) ({{ cart.paymentCurrency }})
    </option>
    <option value="{{ percent50|hash }}">50%
        ({{ percent50|commerceCurrency(cart.paymentCurrency) }}) ({{ cart.paymentCurrency }})
    </option>
    <option value="{{ percent75|hash }}">75%
        ({{ percent75|commerceCurrency(cart.paymentCurrency) }}) ({{ cart.paymentCurrency }})
    </option>
    <option value="{{ percent100|hash }}">100%
        ({{ percent100|commerceCurrency(cart.paymentCurrency) }}) ({{ cart.paymentCurrency }})
    </option>
</select>
        </div>
    </div>
{% endif %}