{% extends '[[folderName]]/_private/layouts' %}

{% block main %}
  {% if not cart.gateway %}
    {% redirect '[[folderName]]/checkout/payment-method' %}
  {% endif %}

  <div class="flex -mx-8">
    <div class="w-2/3 px-8">
      <h1 class="font-bold text-xl">
        {{- 'Commit to buy'|t -}}
      </h1>
      <div class="mt-1">
        <form id="completeForm"
              method="post"
              action=""
        >
          {{ csrfInput() }}
          {{ actionInput('commerce/cart/complete') }}
          {{ redirectInput(siteUrl('/[[folderName]]/customer/order', {
            number: cart.number,
            success: 'true'
          })) }}
          {{ tag('button', {
            type: 'submit',
            class: '[[classes.btn.base]] [[classes.btn.mainColor]]',
            text: 'Submit'|t
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
