{% if currentUser %}
    {% redirect '[[folderName]]/checkout/addresses' %}
{% endif %}

{% extends '[[folderName]]/_private/layouts' %}

{% block main %}
    <!-- Template: {{ _self }}.twig -->
    <h1 class="text-xl font-bold">Let’s grab your email to get started</h1>

    <div class="flex -mx-8 mt-6">
        <div class="w-full max-w-xl px-8">
            <form method="post" action="">
                {{ actionInput('commerce/cart/update-cart') }}
                {{ redirectInput('[[folderName]]/checkout/register-signin') }}
                {{ successMessageInput('Email address updated.') }}
                {{ csrfInput() }}

                <div class="field">
                    <label for="email">Email</label>
                    <input type="text"
                           id="email"
                           name="email"
                           class="w-full [[classes.input]]"
                           value="{{ cart.email }}"
                           placeholder="email@site.com"/>
                </div>

                <div class="mt-3">
                    <button type="submit"
                            class="[[classes.btn.base]] [[classes.btn.mainColor]]">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
