{% extends '[[folderName]]/_layouts/main' %}
{% set number = craft.app.request.getParam('orderNumber') %}
{% set email = craft.app.request.getParam('email') %}
{% set paymentMethod = craft.app.request.getParam('paymentMethod') %}
{% set gatewayId = craft.app.request.getParam('gatewayId') %}
{% set paymentSourceId = craft.app.request.getParam('paymentSourceId') %}
{% set paymentCurrency = craft.app.request.getParam('paymentCurrency') %}
{% set url = '[[folderName]]/checkout/pay-static' %}

{% block main %}
<!-- Template: {{ _self }}.twig -->
{% set cart = null %}
{% if number and email %}
    {% set cart = craft.orders.number(number).email(email).one() ?? null %}
{% endif %}

    <div class="flex -mx-8">
        <div class="w-2/3 px-8">
            <h1 class="text-xl font-bold mb-3">Cart/Order Payment</h1>

            {#
                Show form to be filled out allowing access to the payment form.
            #}
            {% if (not number or not email) or (number and email and (not cart or (cart and not cart.hasOutstandingBalance))) %}
                {#
                    Display errors if cart cannot be retrieved or if there is no
                    outstanding balance to be paid.
                #}
                {% if number and email and (not cart or (cart and not cart.hasOutstandingBalance)) %}
                    <div class="bg-red-500 text-white mb-4">
                        <div class="flash container mx-auto px-6 py-4">
                            {% if cart and not cart.hasOutstandingBalance %}
                                No outstanding balance on this order.
                            {% else %}
                                Unable to retrieve order.
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <p>Enter cart/order number and corresponding email address to be able to pay.</p>

                <form action="{{ siteUrl(url) }}" method="get">
                    <div class="mt-3">
                        <label for="orderNumber">Cart/Order Number</label>
                        <div>
                          <input type="text" id="orderNumber" class="[[classes.input]] w-full" name="orderNumber" value="{{ number }}">
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="email">Email Address</label>
                        <div>
                          <input class="[[classes.input]] w-2/3" type="text" id="email" name="email" value="{{ email }}">
                        </div>
                    </div>
                    <div class="mt-3 text-right">
                        <input class="[[classes.btn.base]] [[classes.btn.mainColor]]" type="submit">
                    </div>
                </form>
            {% else %}
                {% set customer = cart.customer ?? null %}
                {#
                    Display payment form.
                #}
                {% if not gatewayId and not paymentSourceId %}
                    {# Get the available payment sources the user has to be used later in this page. #}
                    {% set paymentSources = [] %}
                    {% if customer and customer.userId and currentUser and currentUser.id == customer.userId %}
                        {% set paymentSources = craft.commerce.paymentSources.allPaymentSourcesByUserId(currentUser.id) %}
                    {% endif %}

                    {# Get the available gateways to be used later in this page #}
                    {% set availableGateways = craft.commerce.gateways.allCustomerEnabledGateways %}

                    {% if availableGateways|length %}
                        <form action="" method="GET" class="form-inline">
                            {{ hiddenInput('orderNumber', number) }}
                            {{ hiddenInput('email', email) }}

                            <div class="mt-3">
                              {% include '[[folderName]]/checkout/_includes/gateways' with { availableGateways: availableGateways, paymentSources: paymentSources } %}
                            </div>

                            <div class="mt-3">
                              {% include '[[folderName]]/checkout/_includes/currencies' %}
                            </div>

                            <div class="mt-4">
                                <div class="flex w-full">
                                    <div class="w-1/2">
                                        <a href="{{ siteUrl(url) }}" class="[[classes.btn.base]] [[classes.btn.mainColor]]">Back</a>
                                    </div>
                                    <div class="w-1/2 text-right">
                                        <input class="[[classes.btn.base]] [[classes.btn.mainColor]]" type="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% else %}
                    {% do cart.setPaymentCurrency(paymentCurrency) %}
                    {% set canPay = true %}
                    <div class="mt-3 max-w-md [[classes.box.base]]">
                      <form id="paymentForm" method="post" action="" class="form-horizontal paymentSource-form max-w-md">
                          {{ hiddenInput('action', '/payments/pay') }}
                          {{ redirectInput('/[[folderName]]/customer/order?number=' ~ cart.number ~ '&success=true') }}
                          {{ hiddenInput('cancelUrl', craft.app.request.getUrl()) }}
                          {{ hiddenInput('email', email) }}
                          {{ hiddenInput('orderNumber', cart.number) }}
                          {{ hiddenInput('paymentCurrency', paymentCurrency) }}

                          {{ csrfInput() }}

                          <fieldset>
                              {% if gatewayId %}
                                  {% set gateway = craft.commerce.gateways.getGatewayById(gatewayId) ?? null %}

                                  {% if not gateway %}
                                      {% set canPay = false %}
                                      <div class="bg-red-500 text-white mb-4">
                                          <div class="flash container mx-auto px-6 py-4">
                                              Unable to retrieve gateway.
                                          </div>
                                      </div>
                                  {% else %}
                                      {{ hiddenInput('gatewayId', gateway.id) }}

                                      {% set params = {} %}
                                      {# Set gateway specific parameters #}
                                      {% if className(gateway) == 'craft\\commerce\\paypalcheckout\\gateways\\Gateway' %}
                                          {% set params = { currency: cart.paymentCurrency } %}
                                      {% endif %}

                                      {{ gateway.getPaymentFormHtml(params)|raw }}

                                      {% if gateway.supportsPaymentSources() and currentUser and customer.userId and customer.userId == currentUser.id  %}
                                          <div class="checkbox">
                                              <label><input type="checkbox" name="savePaymentSource" value="1" /> {{ "Save card for future purchases" }}</label>
                                          </div><br />
                                      {% endif %}
                                  {% endif %}

                              {% elseif paymentSourceId %}
                                  {% set paymentSource = craft.commerce.paymentSources.getPaymentSourceById(paymentSourceId) ?? null %}
                                  {% if not paymentSource or not currentUser or (currentUser and currentUser.id != customer.userId) %}
                                      {% set canPay = false %}
                                      <div class="bg-red-500 text-white mb-4">
                                          <div class="flash container mx-auto px-6 py-4">
                                              Payment source not applicable for current user.
                                          </div>
                                      </div>
                                  {% else %}
                                      <p>Pay with: {{ paymentSource.description }}</p>
                                      {{ hiddenInput('paymentSourceId', paymentMethodParts[1]) }}
                                  {% endif %}
                              {% endif %}

                              <div class="mt-4">
                                  <div class="flex w-full">
                                      <div class="w-1/2">
                                          <a href="{{ siteUrl(url, {
                                              orderNumber: number,
                                              email: email,
                                          }) }}" class="[[classes.btn.base]] [[classes.btn.mainColor]]">Back</a>
                                      </div>
                                      <div class="w-1/2 text-right">
                                          {% if canPay %}
                                              <button class="[[classes.btn.base]] [[classes.btn.mainColor]]" type="submit">Pay {{ cart.outstandingBalance|commerceCurrency(paymentCurrency,convert=true) }}</button>
                                          {% endif %}
                                      </div>
                                  </div>
                              </div>

                          </fieldset>
                      </form>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div class="w-1/3 pr-8">
            {% if cart %}
                {% include "[[folderName]]/checkout/_includes/order-summary" with { showShippingAddress: true, showShippingMethod: true, cart: cart } %}
            {% endif %}
        </div>
    </div>



    {% js %}
        $('#paymentForm').on('submit', function (ev) {
            $form = $(this);

            if ($form.data('processing')) {
                ev.preventDefault();

                return false;
            }

            $form.data('processing', true);
        });
    {% endjs %}
{% endblock %}
