{% extends '[[folderName]]/_private/layouts' %}

{% block main %}

    {% if not cart.gateway %}
        {% redirect '[[folderName]]/checkout/payment-method' %}
    {% endif %}

    <div class="flex -mx-8">
        <div class="w-2/3 px-8">

            {% if craft.commerce.settings.allowCheckoutWithoutPayment %}
                <div class="border-b border-gray-300 pb-10 mb-10">
                    <h1 class="font-bold text-xl">Pay later</h1>
                    <p>Commit to buy now, and make payment later...</p>
                    <div class="mt-1">
                        <form id="completeForm"
                              method="post"
                              action="">
                            {{ actionInput('commerce/cart/complete') }}
                            {{ redirectInput(siteUrl('/[[folderName]]/customer/order', { number: cart.number, success: 'true' })) }}
                            {{ successMessageInput('Thank you for your order. We have received it and now await payment.') }}
                            {{ csrfInput() }}
                            <button type="submit" class="[[classes.btn.base]] [[classes.btn.mainColor]]">Commit</button>
                        </form>
                    </div>
                </div>
            {% endif %}

            <h1 class="font-bold text-xl">Payment</h1>

            {% if cart.gatewayId or cart.paymentSourceId %}
                {% if paymentForm is defined %}
                    {% for key, errors in paymentForm.getErrors() %}
                        {% for error in errors %}
                            {% if loop.first %}<ul>{% endif %}
                            <li class="text-red-600"><strong>{{ key }}</strong> {{ error }}</li>
                            {% if loop.last %}</ul>{% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div class="mt-3 max-w-md [[classes.box.base]]">

                    <form id="paymentForm"
                          method="post"
                          action="">
                        {{ actionInput('commerce/payments/pay') }}
                        {{ redirectInput(siteUrl('/[[folderName]]/customer/order', { number: cart.number, success: 'true' })) }}
                        {{ hiddenInput('cancelUrl', siteUrl('/[[folderName]]/checkout/payment')|hash) }}
                        {{ hiddenInput('orderEmail', cart.email) }}
                        {{ csrfInput() }}

                        {% if cart.gatewayId %}

                            {{ hiddenInput('gatewayId', cart.gatewayId) }}
                            {% set params = {} %}

                            {% if className(cart.gateway) == 'craft\\commerce\\paypalcheckout\\gateways\\Gateway' %}
                                {% set params = { currency: cart.paymentCurrency } %}
                            {% endif %}

                            {{ cart.gateway.getPaymentFormHtml(params)|raw }}

                            {% if cart.gateway.supportsPaymentSources() and currentUser %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               name="savePaymentSource"
                                               value="1"/>
                                        Save card for future purchases
                                    </label>
                                </div><br/>
                            {% endif %}

                        {% else %}
                            {{ cart.gateway.getPaymentConfirmationFormHtml({})|raw }}
                        {% endif %}

                        {% set user = craft.users.email(cart.email).one() %}
                        {% if not user %}
                            <div class="mt-3">
                                <label for="registerUserOnOrderComplete">
                                    {{ hiddenInput('registerUserOnOrderComplete', false) }}
                                    <input type="checkbox"
                                           id="registerUserOnOrderComplete"
                                           name="registerUserOnOrderComplete"
                                           value="1"/>
                                    Register me for a user account
                                </label>
                            </div>
                        {% endif %}

                        {{ include('[[folderName]]/checkout/_includes/partial-payment') }}

                        {% if className(cart.gateway) not in [
                            'craft\\commerce\\paypalcheckout\\gateways\\Gateway',
                        ] %}
                            <div class="mt-3 text-right">
                                <button type="submit"
                                        class="[[classes.btn.base]] [[classes.btn.mainColor]]">Pay
                                </button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        </div>

        <div class="w-1/3 px-8 border-l border-gray-lighter">
            {{ include('[[folderName]]/checkout/_includes/order-summary', { showShippingAddress: true, showShippingMethod: true }) }}
        </div>
    </div>

    {% js %}
    var $paymentForm = document.querySelector('#paymentForm');
    if ($paymentForm) {
        // Only allow the payment form submit to be triggered once.
        $paymentForm.addEventListener('submit', function(ev) {
            if ($paymentForm.dataset.processing) {
                ev.preventDefault();
                return false;
            }

            $paymentForm.dataset.processing = true;
        });
    }
    {% endjs %}
{% endblock %}
