{% extends "commerce/_layouts/store-settings" %}
{% set isIndex = false %}
{% set crumbs = [
    { label: "Tax Rates"|t('commerce'), url: url('commerce/tax/taxrates') },
] %}

{% set selectedSubnavItem = 'tax' %}

{% set fullPageForm = true %}

{% block details %}
    {% if taxRate and taxRate.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                <div id="date-created-value" class="value">{{ taxRate.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                <div id="date-updated-value" class="value">{{ taxRate.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ hiddenInput('storeId', taxRate.storeId) }}
    {{ actionInput('commerce/tax-rates/save') }}
    {{ redirectInput('commerce/tax/taxrates') }}
    {% if taxRate.id %}
      {{ hiddenInput('id', taxRate.id) }}
    {% endif %}

    {% include "commerce/store-settings/tax/taxrates/_fields" %}
{% endblock %}

