{% extends 'shop/_layouts/main' %}

{% block main %}
<!-- Template: {{ _self }}.twig -->
    {% set addressId = craft.app.request.param('addressId') %}
    {% set redirect = craft.app.request.param('redirect') %}

    {% if not address is defined and addressId %}
        {% set address = craft.commerce.customers.customer.getAddressById(addressId) %}
    {% endif %}

    <h1 class="text-xl font-semibold">
        {% if addressId %}
            Edit Address
        {% else %}
            Add a new address
        {% endif %}
    </h1>

    <form method="post" action="">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="commerce/customer-addresses/save">
        {% if redirect %}
            {{ redirectInput(redirect) }}
        {% else %}
            {{ redirectInput('shop/customer/addresses') }}
        {% endif %}

        {% if addressId %}
            <input type="hidden" name="address[id]" value="{{ addressId }}">
        {% endif %}

        {% include 'shop/_includes/addresses/form' %}
        {% set isPrimaryBilling = cart.customer.primaryBillingAddressId == addressId %}
        {% set isPrimaryShipping = cart.customer.primaryShippingAddressId == addressId %}

        <hr class="my-3" />

        <div>
            <label for="makePrimaryShippingAddress" class="flex items-center"><input id="makePrimaryShippingAddress" class="mr-2" name="makePrimaryShippingAddress" type="checkbox" {{ isPrimaryShipping ? 'checked' :'' }}/><span class="label-body">Make this the primary shipping address</span></label>
        </div>

        <div>
            <label for="makePrimaryBillingAddress" class="flex items-center"><input id="makePrimaryBillingAddress" class="mr-2" name="makePrimaryBillingAddress" type="checkbox" {{ isPrimaryBilling ? 'checked' :'' }}/><span class="label-body">Make this the primary billing address</span></label>
        </div>

        <div class="mt-6 flex justify-between">
          <div>
            {% if redirect %}
              <a href="/{{ redirect }}">Cancel</a>
            {% else %}
              <a href="{{ url('shop/customer/addresses') }}">Cancel</a>
            {% endif %}
          </div>
          <div>
            <input class="{{ classes.btn.base ~ ' ' ~ classes.btn.blue }}" type="submit" value="Save Address">
          </div>
        </div>
    </form>
{% endblock %}
