<div class="js-address-fieldset {{ class }}">
    <h2 class="text-lg font-bold">{{ title }}</h2>
    {% if addresses and currentUser %}
      <div class="flex flex-wrap -mx-4 pb-4">
        {% for address in addresses %}
          <div class="px-2 w-1/2 pb-2">
            <label class="block address-select js-address-select {{ classes.box.base }}" data-address-id="{{ address.id }}">
                <div class="js-radio">
                    <input type="radio" name="{{ name }}Id"
                        {% if attribute(cart,name~'Id') == address.id %}checked="checked"{% endif %} value="{{ address.id }}"/>
                        {% include 'shop/_includes/addresses/address' %}
                </div>
                <div class="actions">
                  <ul>
                    <li>
                      <a class="edit" href="{{ url('shop/customer/addresses/edit?addressId='~ address.id ~'&redirect='~craft.app.request.fullPath)}}">Edit</a>
                    </li>
                  </ul>
                </div>
            </label>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <div class="address-select js-address-select">
        {% if attribute(cart, name~'Id') %}
            {% set addressHasErrors = attribute(cart, name).hasErrors() %}
        {% else %}
            {% set addressHasErrors = false %}
        {% endif %}

        {% if currentUser %}
            <div class="js-radio">
                {# If we have no addresses expand the 'New Address" fields by default it to being checked. If we have errors on the address also check and expand. #}
                <input type="radio" name="{{ name }}Id"
                       {% if not addresses|length or addressHasErrors %}checked="checked"{% endif %} value=""/>
                <strong>{{ "New" }} {{ title }}</strong>
            </div>
        {% endif %}

        <div class="js-body {% if currentUser %}hidden{% endif %}">
            {% if addressHasErrors %}<span class="flash">{{ cart.getErrors(name)|join }}</span><br>{% endif %}
            {% include 'shop/_includes/addresses/form' with {
              'modelName': name,
              'address': attribute(cart, name)
            } %}
        </div>
    </div>
</div>
