{% extends "commerce/_layouts/store-management" %}
{% set isIndex = false %}
{% set crumbs = [
  { label: "Shipping Categories"|t('commerce'), url: url("commerce/store-management/#{storeHandle}/shippingcategories") },
] %}

{% set selectedSubnavItem = 'shipping' %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block details %}
    {% if shippingCategory and shippingCategory.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                <div id="date-created-value" class="value">{{ shippingCategory.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                <div id="date-updated-value" class="value">{{ shippingCategory.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <input type="hidden" name="action"
           value="commerce/shipping-categories/save">
    {{ redirectInput("commerce/store-management/#{storeHandle}/shippingcategories") }}
    {% if shippingCategory.id -%}
        <input type="hidden" name="shippingCategoryId" value="{{ shippingCategory.id }}">
    {%- endif %}
    {% include "commerce/store-management/shipping/shippingcategories/_fields" %}
{% endblock %}
