{% import "_includes/forms" as forms %}
{% import "commerce/_includes/forms/commerceForms" as commerceForms %}

{% if catalogPricingRule.id %}
    {{ hiddenInput('id', catalogPricingRule.id) }}
{% endif %}
{{ hiddenInput('storeId', catalogPricingRule.storeId) }}

  <div id="rule">
      {{ forms.textField({
          first: true,
          label: "Name"|t('commerce'),
          instructions: "What this catalog pricing rule will be called in the control panel."|t('commerce'),
          id: 'name',
          name: 'name',
          value: catalogPricingRule.name,
          errors: catalogPricingRule.getErrors('name'),
          autofocus: true,
          required: true,
      }) }}

      {{ forms.textField({
          label: "Description"|t('commerce'),
          instructions: "Catalog pricing rule description."|t('commerce'),
          id: 'description',
          name: 'description',
          value: catalogPricingRule.description,
          errors: catalogPricingRule.getErrors('description'),
      }) }}
  </div>

  <div id="conditions" class="hidden">
      {{ forms.dateTimeField({
          label: "Start Date"|t('commerce'),
          instructions: "Date from which the catalog pricing rule will be active. Leave blank for unlimited start date"|t('commerce'),
          id: 'dateFrom',
          name: 'dateFrom',
          value: catalogPricingRule.dateFrom,
          errors: catalogPricingRule.getErrors('dateFrom'),
      }) }}

      {{ forms.dateTimeField({
          label: "End Date"|t('commerce'),
          instructions: "Date when the catalog pricing rule will be finished. Leave blank for unlimited end date"|t('commerce'),
          id: 'dateTo',
          name: 'dateTo',
          value: catalogPricingRule.dateTo,
          errors: catalogPricingRule.getErrors('dateTo'),
      }) }}

      <hr>

      {% set productConditionInput %}
        {{ catalogPricingRule.productCondition.getBuilderHtml()|raw }}
      {% endset %}

      {{ forms.field({
        id: 'productCondition',
        label: 'Match Product'|t('commerce'),
        errors: catalogPricingRule.getErrors('productCondition')
      }, productConditionInput) }}

      {% set variantConditionInput %}
        {{ catalogPricingRule.variantCondition.getBuilderHtml()|raw }}
      {% endset %}

      {{ forms.field({
        id: 'variantCondition',
        label: 'Match Variant'|t('commerce'),
        errors: catalogPricingRule.getErrors('variantCondition')
      }, variantConditionInput) }}

      <a class="fieldtoggle {% if catalogPricingRule.purchasableCondition.getConditionRules()|length > 0 %}expanded{% endif %}"
         data-target="cpr-purchasable-condition">{{ 'Advanced'|t('commerce') }}</a>
      <div id="cpr-purchasable-condition"
        class="{% if catalogPricingRule.purchasableCondition.getConditionRules()|length < 1 %}hidden{% endif %}">
          {% set purchasableConditionInput %}
            {{ catalogPricingRule.purchasableCondition.getBuilderHtml()|raw }}
          {% endset %}

          {{ forms.field({
            id: 'purchasableCondition',
            label: 'Match Purchasable'|t('commerce'),
            errors: catalogPricingRule.getErrors('purchasableCondition')
          }, purchasableConditionInput) }}
      </div>

      <hr>

      {% set customerConditionInput %}
        {{ catalogPricingRule.customerCondition.getBuilderHtml()|raw }}
      {% endset %}

      {{ forms.field({
        id: 'customerCondition',
        label: 'Match Customer'|t('commerce'),
        errors: catalogPricingRule.getErrors('customerCondition')
      }, customerConditionInput) }}
  </div>

  <div id="actions" class="hidden">
      {% include 'commerce/store-management/pricing-rules/_actions-fields' %}
  </div>

  {% hook "cp.commerce.catalogPricingRules.edit.content" %}