{% extends "market/_layouts/settings" %}

{% set content %}

    <h2>{{ "Shipping Methods"|t }}</h2>

    <table id="shippingMethods" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Enabled</th>
            <th scope="col">Default</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for shippingMethod in shippingMethods %}
            <tr data-id="{{ shippingMethod.id }}" data-name="{{ shippingMethod.name }}">
                <th scope="row" data-title="Name"><a href="{{ url('market/settings/shippingmethods/'~shippingMethod.id) }}">{{ shippingMethod.name }}</a></th>
                <td data-title="Enabled">{{ shippingMethod.enabled ? 'Yes'|t : 'No'|t }}</td>
                <td data-title="Default">{{ shippingMethod.default ? 'Yes'|t : '' }}</td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/>
    <div class="btngroup submit first">
        <a href="{{ url('market/settings/shippingmethods/new') }}" class="btn submit">New Shipping Method</a>
    </div>


<script>
{% set js %}
ShippingMethodsTable = Craft.AdminTable.extend({
    handleDeleteObjectResponse: function(response, $row)
    {
        var id = this.getObjectId($row),
                name = this.getObjectName($row);

        if (response.success)
        {
            $row.remove();
            this.totalObjects--;
            this.updateUI();
            this.onDeleteObject(id);

            Craft.cp.displayNotice(Craft.t(this.settings.deleteSuccessMessage, { name: name }));
        }
        else
        {
            Craft.cp.displayError(Craft.t(this.settings.deleteFailMessage, { name: name })+" "+response.errors[0]);
        }
    }
});

var adminTable = new ShippingMethodsTable({
    tableSelector: '#shippingMethods',
    minObjects: 1,
    deleteAction: 'market/shippingMethod/delete'
});
{% endset %}
</script>
{% includeJs js %}

{% endset %}