<!-- Template: {{ _self }}.twig -->
{#
Outputs a fieldset for selecting one of a user’s available addresses or creating a new one.

@var addresses   \craft\commerce\models\Address[]
@var cart        \craft\commerce\elements\Order
@var classes     string
@var name        string
@var title       string
@var currentUser \craft\elements\User
#}
<div class="js-address-fieldset {{ classes }}">
  <h2 class="text-lg font-bold mb-4">
    {{- title -}}
  </h2>

  {% if addresses and currentUser %}
    <div class="flex flex-wrap -mx-2 pb-4">
      {% for address in addresses %}
        {% set editUrl = '/[[folderName]]/customer/addresses/edit?addressId=' ~ address.id ~ '&redirect=' ~ craft.app.request.fullPath %}
        <div class="px-2 w-1/2 pb-2">
          <label data-address-id="{{ address.id }}"
                 class="block relative address-select js-address-select [[classes.box.selection]]"
          >
            <span class="js-radio flex py-2">
              {{ input('radio', name ~ 'Id', address.id, {
                checked: attribute(cart, name ~ 'Id') == address.id,
                'data-model-name': name
              }) }}
              <span class="-mt-2 ml-3 mb-2">
                {{ include('[[folderName]]/_private/address/address') }}
              </span>
            </span>
            <span class="block mb-1">
              <a href="{{ url(editUrl) }}" class="[[classes.btn.small]] [[classes.btn.grayColor]]">
                {{- 'Edit'|t -}}
              </a>
            </span>
            <span class="absolute top-4 right-4">
              {% if cart.customer.primaryBillingAddressId == address.id %}
                <span title="{{ 'Primary billing address'|t }}">💳</span>
              {% endif %}
              {% if cart.customer.primaryShippingAddressId == address.id %}
                <span title="{{ 'Primary shipping address'|t }}">📦</span>
              {% endif %}
            </span>
          </label>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="js-address-select" data-model-name="{{ name }}">
    {% if attribute(cart, name ~ 'Id') %}
      {% set addressHasErrors = attribute(cart, name).hasErrors() %}
    {% else %}
      {% set addressHasErrors = false %}
    {% endif %}

    {% if currentUser %}
      <div class="js-radio">
        <label>
          {{ input('radio', name ~ 'Id', '', {
            checked: not addresses|length or addressHasErrors
          }) }}
          {{ 'New {title}'|t({ title: title }) }}
        </label>
      </div>
    {% endif %}

    <div class="js-body{% if currentUser %} hidden{% endif %}">
      {% if addressHasErrors %}<span class="flash">{{ cart.getErrors(name)|join }}</span><br>{% endif %}
      {{ include('[[folderName]]/_private/address/form', {
        'modelName': name,
        'address': attribute(cart, name)
      }) }}
    </div>
  </div>
</div>
