<!-- Template: {{ _self }}.twig -->
{% set countries = craft.commerce.countries.allEnabledCountriesAsList %}
{% set states = craft.commerce.states.allEnabledStatesAsListGroupedByCountryId %}

{% set modelName = modelName is defined ? modelName : 'address' %}
{% set model = address is defined ? address : null %}

<div class="js-address-box {{ modelName }}">

  <div class="flex -mx-4">
    <div class="flex-1 mx-4">

      <div class="mt-3">
        <label for="{{ modelName }}-attention">Attention</label>
        <input type="text"
               id="{{ modelName }}-attention"
               name="{{ modelName }}[attention]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.attention : '' }}">
        {% if model and model.getErrors('attention') %}
          <div class="text-red-700">{{ model.getErrors('attention')|join }}</div>
        {% endif %}
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-title">Title</label>
        <input type="text"
               id="{{ modelName }}-title"
               name="{{ modelName }}[title]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.title : '' }}">
        {% if model and model.getErrors('title') %}
          <span class="text-red-700">{{ model.getErrors('title')|join }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-firstName">First Name</label>
        <input type="text"
               id="{{ modelName }}-firstName"
               name="{{ modelName }}[firstName]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.firstName : '' }}">
        {% if model and model.getErrors('firstName') %}
          <div class="text-red-700">{{ model.getErrors('firstName')|join }}</div>
        {% endif %}
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-lastName">Last Name</label>
        <input type="text"
               id="{{ modelName }}-lastName"
               name="{{ modelName }}[lastName]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.lastName : '' }}">
        {% if model and model.getErrors('lastName') %}
          <div class="text-red-700">{{ model.getErrors('lastName')|join }}</div>
        {% endif %}
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-fullName">Full Name</label>
        <input type="text"
               id="{{ modelName }}-fullName"
               name="{{ modelName }}[fullName]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.fullName : '' }}">
        {% if model and model.getErrors('fullName') %}
          <div class="text-red-700">{{ model.getErrors('fullName')|join }}</div>
        {% endif %}
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-label">Label</label>
        <input type="text"
               id="{{ modelName }}-label"
               name="{{ modelName }}[label]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.label : '' }}">
        {% if model and model.getErrors('label') %}
          <div class="text-red-700">{{ model.getErrors('label')|join }}</div>
        {% endif %}
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-businessName">Business Name</label>
        <input type="text"
               id="{{ modelName }}-businessName"
               name="{{ modelName }}[businessName]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.businessName : '' }}">
        {% if model and model.getErrors('businessName') %}
          <div class="text-red-700">{{ model.getErrors('businessName')|join }}</div>
        {% endif %}
      </div>

      <div class="flex -mx-4 mt-3">
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-businessTaxId">Business Tax ID</label>
          <input type="text"
                 id="{{ modelName }}-businessTaxId"
                 name="{{ modelName }}[businessTaxId]"
                 class="w-full [[classes.input]]"
                 value="{{ model ? model.businessTaxId : '' }}">
          {% if model and model.getErrors('businessTaxId') %}
            <div class="text-red-700">{{ model.getErrors('businessTaxId')|join }}</div>
          {% endif %}
        </div>
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-businessId">Business ID</label>
          <input type="text"
                 id="{{ modelName }}-businessId"
                 name="{{ modelName }}[businessId]"
                 class="w-full [[classes.input]]"
                 value="{{ model ? model.businessId : '' }}">
          {% if model and model.getErrors('businessId') %}
            <div class="text-red-700">{{ model.getErrors('businessId')|join }}</div>
          {% endif %}
        </div>
      </div>

      <div class="flex -mx-4 mt-3">
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-custom1">Custom 1</label>
          <input type="text"
                 id="{{ modelName }}-custom1"
                 name="{{ modelName }}[custom1]"
                 class="w-full [[classes.input]]"
                 value="{{ model ? model.custom1 : '' }}">
          {% if model and model.getErrors('custom1') %}
            <div class="text-red-700">{{ model.getErrors('custom1')|join }}</div>
          {% endif %}
        </div>
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-custom2">Custom 2</label>
          <input type="text"
                 id="{{ modelName }}-custom2"
                 name="{{ modelName }}[custom2]"
                 class="w-full [[classes.input]]"
                 value="{{ model ? model.custom2 : '' }}">
          {% if model and model.getErrors('custom2') %}
            <div class="text-red-700">{{ model.getErrors('custom2')|join }}</div>
          {% endif %}
        </div>
      </div>

      <div class="flex -mx-4 mt-3">
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-custom3">Custom 3</label>
          <input type="text"
                 id="{{ modelName }}-custom3"
                 name="{{ modelName }}[custom3]"
                 class="w-full [[classes.input]]"
                 value="{{ model ? model.custom3 : '' }}">
          {% if model and model.getErrors('custom3') %}
            <div class="text-red-700">{{ model.getErrors('custom3')|join }}</div>
          {% endif %}
        </div>
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-custom4">Custom 4</label>
          <input type="text"
                 id="{{ modelName }}-custom4"
                 class="w-full [[classes.input]]"
                 name="{{ modelName }}[custom4]"
                 value="{{ model ? model.custom4 : '' }}">
          {% if model and model.getErrors('custom4') %}
            <div class="text-red-700">{{ model.getErrors('custom4')|join }}</div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="flex-1 mx-4">

      <div class="mt-3">
        <label for="{{ modelName }}-address1">Address 1</label>
        <input type="text"
               id="{{ modelName }}-address1"
               name="{{ modelName }}[address1]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.address1 : '' }}">
        {% if model and model.getErrors('address1') %}
          <div class="text-red-700">{{ model.getErrors('address1')|join }}</div>
        {% endif %}
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-address2">Address 2</label>
        <input type="text"
               id="{{ modelName }}-address2"
               name="{{ modelName }}[address2]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.address2 : '' }}">
        {% if model and model.getErrors('address2') %}
          <div class="text-red-700">{{ model.getErrors('address2')|join }}</div>
        {% endif %}
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-address3">Address 3</label>
        <input type="text"
               id="{{ modelName }}-address3"
               name="{{ modelName }}[address3]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.address3 : '' }}">
        {% if model and model.getErrors('address3') %}
          <div class="text-red-700">{{ model.getErrors('address3')|join }}</div>
        {% endif %}
      </div>

      <div class="flex -mx-4 mt-3">
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-city">City</label>
          <input type="text"
                 id="{{ modelName }}-city"
                 name="{{ modelName }}[city]"
                 class="w-full [[classes.input]]"
                 value="{{ model ? model.city : '' }}">
          {% if model and model.getErrors('city') %}
            <div class="text-red-700">{{ model.getErrors('city')|join }}</div>
          {% endif %}
        </div>
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-zipCode">Zip Code</label>
          <input type="text"
                 id="{{ modelName }}-zipCode"
                 name="{{ modelName }}[zipCode]"
                 class="w-full [[classes.input]]"
                 value="{{ model ? model.zipCode : '' }}">
          {% if model and model.getErrors('zipCode') %}
            <div class="text-red-700">{{ model.getErrors('zipCode')|join }}</div>
          {% endif %}
        </div>
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-phone">Phone</label>
        <input type="text"
               id="{{ modelName }}-phone"
               name="{{ modelName }}[phone]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.phone : '' }}">
        {% if model and model.getErrors('phone') %}
          <span class="text-red-700">{{ model.getErrors('phone')|join }}</span>
        {% endif %}
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-alternativePhone">Alternative Phone</label>
        <input type="text"
               id="{{ modelName }}-alternativePhone"
               name="{{ modelName }}[alternativePhone]"
               class="w-full [[classes.input]]"
               value="{{ model ? model.alternativePhone : '' }}">
        {% if model and model.getErrors('alternativePhone') %}
          <div class="text-red-700">{{ model.getErrors('alternativePhone')|join }}</div>
        {% endif %}
      </div>

      <div class="flex -mx-4 mt-3">
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-countryId">Country *</label>
          <select id="{{ modelName }}-countryId"
                  name="{{ modelName }}[countryId]"
                  class="js-address-country w-full [[classes.input]]">
            <option value="">Select Country...</option>
            {% for key, option in countries %}
              {% set optionValue = (model ? model.countryId : '') %}
              <option value="{{ key }}" {% if key == optionValue %} selected{% endif %}>{{ option }}</option>
            {% endfor %}
          </select>
          {% if model and model.getErrors('countryId') %}
            <div class="text-red-700">{{ model.getErrors('countryId')|join }}</div>
          {% endif %}
        </div>
        <div class="flex-1 mx-4">
          <label for="{{ modelName }}-state">State</label>
          {% set options = (model and states[model.countryId] is defined ? states[model.countryId] : []) %}
          <select id="{{ modelName }}-stateId" data-modelname="{{ modelName }}"
                  class="js-address-stateId w-full [[classes.input]] {% if options|length == 0 %}hidden{% endif %}"
                  name="{{ modelName }}[stateValue]">
            <option>Select Country...</option>
            {% for key, option in options %}
              {% set optionValue = (model ? model.stateId : '') %}
              <option value="{{ key }}" {% if key == optionValue %}selected{% endif %}>
                {{ option }}
              </option>
            {% endfor %}
          </select>
          <input type="text"
                 id="{{ modelName }}-stateName"
                 data-modelname="{{ modelName }}"
                 class="js-address-stateName {% if options|length > 0 %}hidden{% endif %} w-full [[classes.input]]"
                 {% if options|length == 0 %}name="{{ modelName }}[stateValue]"{% endif %}
                 value="{{ model ? model.stateName : '' }}"
          >
          {% if model and model.getErrors('stateValue') %}
            <div class="text-red-700">{{ model.getErrors('stateValue')|join }}</div>
          {% endif %}
        </div>
      </div>

      <div class="mt-3">
        <label for="{{ modelName }}-notes">Notes</label>
        <textarea id="{{ modelName }}-notes" class="w-full [[classes.input]]" name="{{ modelName }}[notes]"
                  cols="30" rows="10">{{ model ? model.notes : '' }}</textarea>
        {% if model and model.getErrors('notes') %}
          <div class="text-red-700">{{ model.getErrors('notes')|join }}</div>
        {% endif %}
      </div>

    </div>
  </div>
</div>

{% js %}
window.states = {{ craft.commerce.states.allEnabledStatesAsListGroupedByCountryId|json_encode|raw }};
{% endjs %}

{% js %}
var $countrySelects = document.querySelectorAll('select.js-address-country');

if ($countrySelects && $countrySelects.length) {
  $countrySelects.forEach(function(el) {
    el.addEventListener('change', function(ev) {
      var $this = ev.target;

      // get the value of the selected country.
      var cid = $this.value;
      var $closestAddressBox = $this.closest('.js-address-box');

      if ($closestAddressBox) {

        var $states = $closestAddressBox.querySelector('select.js-address-stateId');
        var $stateName = $closestAddressBox.querySelector('input.js-address-stateName');

        if ($states && $stateName) {
          var $options = $states.querySelectorAll('option');

          if ($options && $options.length) {
            $options.forEach(function(el) {
              el.remove();
            });
          }

          if (window.states.hasOwnProperty(cid)) {
            // We have states for this country, show the states drop down.
            $states.classList.remove('hidden');
            $states.setAttribute('name', $states.dataset.modelname + '[stateValue]');

            // We have states for this country, hide the stateName input.
            $stateName.removeAttribute('name');
            $stateName.classList.add('hidden');
            $stateName.value = '';

            // Add all states as options to drop down.
            for (var id in window.states[cid]) {
              var state = window.states[cid][id];
              var $option = document.createElement('OPTION');
              $option.text = state;
              $option.value = id;
              $states.appendChild($option);
            }

          } else {
            // hide the states dropdown, since this country has none.
            $states.classList.add('hidden');
            $states.removeAttribute('name');

            // show the stateName
            $stateName.classList.remove('hidden');
            $stateName.setAttribute('name', $stateName.dataset.modelname + '[stateValue]');
          }
        }
      }
    });
  });
}
{% endjs %}
