{% import "_includes/forms" as forms %}

<div class="payment-forms">

	{% set paymentFormOptions = [{ label: "Select a payment method"|t }] %}

	{% for paymentMethod in paymentMethods %}
		{% set paymentFormOptions = paymentFormOptions|merge([{ label: paymentMethod.name, value: paymentMethod.id }]) %}
	{% endfor %}

	{{ forms.selectField({
		id: 'payment-form-select',
		label: "Payment Method"|t,
		options: paymentFormOptions,
		value: order.paymentMethodId,
	}) }}

	{% for paymentMethod in paymentMethods %}
		<div id="payment-method-form-{{ paymentMethod.id }}"
			 class="payment-method-form {% if order.paymentMethodId != paymentMethod.id %}hidden{% endif %}">
			<form method="POST" class="form-horizontal">
				<input type="hidden" name="action"
					   value="commerce/payments/pay"/>
				<input type="hidden" name="redirect" value="{{ craft.request.path }}"/>
				<input type="hidden" name="cancelUrl" value="{{ craft.request.path }}"/>
				<input type="hidden" name="orderNumber" value="{{ order.number }}"/>
				<input type="hidden" name="paymentMethodId" value="{{ paymentMethod.id }}"/>
				{{ getCsrfInput() }}

				{% if paymentMethod.requiresCard() %}

					{% set currentYear = date()|date_modify("+1 year").format('Y') %}
					{% set formValues = {
					firstName: paymentForm is defined ? paymentForm.firstName : (order.billingAddress ? order.billingAddress.firstName : ''),
					lastName: paymentForm is defined ? paymentForm.lastName : (order.billingAddress ? order.billingAddress.lastName : ''),
					number: paymentForm is defined ? paymentForm.number : '',
					cvv: paymentForm is defined ? paymentForm.cvv : '',
					month: paymentForm is defined ? paymentForm.month : 1,
					year: paymentForm is defined ? paymentForm.year : currentYear,
					} %}

					<!-- Card Holder Name -->
					<div class="form-group {% if paymentForm is defined and (paymentForm.hasErrors('firstName') or paymentForm.hasErrors('firstName')) %}has-error{% endif %}">
						<label>Card Holder</label>

						<div class="grid" data-cols="2">
							<div class="item" data-colspan="1">
								{{ forms.text({
									name: 'firstName',
									maxlength: 70,
									placeholder: "First Name"|t,
									autocomplete: false,
									class: 'card-holder-first-name',
									value: formValues.firstName
								}) }}
							</div>
							<div class="item" data-colspan="1">
								{{ forms.text({
									name: 'lastName',
									maxlength: 70,
									placeholder: "Last Name"|t,
									autocomplete: false,
									class: 'card-holder-last-name',
									value: formValues.lastName
								}) }}
							</div>
						</div>

						<span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('firstName') }}{% endif %}</span>
						<span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('lastName') }}{% endif %}</span>
					</div>

					<!-- Card Number -->
					<div class="form-group {% if paymentForm is defined and paymentForm.hasErrors('number') %}has-error{% endif %}">

						<label>Card</label>

						<div class="multitext">
							<div class="multitextrow">

								{{ forms.text({
									name: 'number',
									maxlength: 19,
									placeholder: "Card Number"|t,
									autocomplete: false,
									class: 'card-number',
									value: formValues.number
								}) }}

							</div>

							<div class="multitextrow">
								{{ forms.text({
									id: 'cc-exp',
									type: 'tel',
									placeholder: "MM"|t~' / '~"YY"|t
								}) }}
								{{ forms.text({
									id: 'cc-cvc',
									type: 'tel',
									placeholder: "CVC"|t
								}) }}
							</div>
						</div>

						<span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('number') }}{% endif %}</span>
					</div>

					<hr class="disabled">

					<!-- Expiry-->
					<div class="form-group {% if paymentForm is defined and (paymentForm.hasErrors('month') or paymentForm.hasErrors('year')) %}has-error{% endif %}">
						<label>Card Expiry Date</label>

						<select class="form-control" name="month">
							{% for month in 1..12 %}
								<option value="{{ month }}" {% if formValues.month == month %}selected{% endif %}>{{ month }}</option>
							{% endfor %}
						</select>
						<span> / </span>
						<select class="required form-control"
								name="year">
							{% for year in currentYear-1..(currentYear + 12) %}
								<option value="{{ year }}"
										{% if formValues.year == year %}selected{% endif %}>{{ year }}</option>
							{% endfor %}
						</select>

						<span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('month') }}{% endif %}</span>

						<span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('year') }}{% endif %}</span>

					</div>

					<!-- CVV -->
					<div class="form-group {% if paymentForm is defined and paymentForm.hasErrors('cvv') %}has-error{% endif %}">

						<label>CVV/CVV2</label>
						<input type="text" name="cvv"
							   placeholder="CVV" maxlength="4"
							   class="card-cvc"
							   value="{{ formValues.cvv }}">

						<span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('cvv') }}{% endif %}</span>

					</div>

				{% endif %}
				<!-- Submit -->
				<button class="button button-primary" type="submit">
					Pay {{ order.totalPrice|currency(order.currency) }}
					Now
				</button>
			</form>
		</div>
	{% endfor %}

</div>
