{% extends "commerce/_layouts/cp" %}
{% do view.registerTranslations('commerce', []) %}

{% set crumbs = [
  { label: 'Customers'|t('commerce'), url: url('commerce/customers') },
] %}
{% if customerId is defined and customerId %}
  {% set crumbs = crumbs|merge([{ label: 'Customer #{id}'|t('commerce', { id: customerId }), url: cpUrl('commerce/customers/' ~ customerId) }]) %}
{% endif %}

{% set selectedSubnavItem = 'customers' %}

{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% block details %}
    {% if address and address.id %}
        <div class="meta read-only">
            {% if customer and customer.userId and address.id and (customer.primaryBillingAddressId == address.id or customer.primaryShippingAddressId == address.id) %}
                <p><span data-icon="info"></span>
                    {% if customer.primaryBillingAddressId == address.id and customer.primaryShippingAddressId == address.id %}
                        {{ 'This is the primary billing and shipping address for: {email}'|t('commerce', { email: customer.email }) }}
                    {% elseif customer.primaryBillingAddressId == address.id %}
                        {{ 'This is the primary billing address for: {email}'|t('commerce', { email: customer.email }) }}
                    {% elseif customer.primaryShippingAddressId == address.id %}
                        {{ 'This is the primary shipping address for: {email}'|t('commerce', { email: customer.email }) }}
                    {% endif %}
                </p>
            {% endif %}

            <div class="data">
                <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                <div id="date-created-value" class="value">{{ address.dateCreated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                <div id="date-updated-value" class="value">{{ address.dateUpdated|datetime('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
  {{ forms.textField({
    label: 'Attention'|t('commerce'),
    name: 'address[attention]',
    id: 'attention',
    value : address.attention,
    errors: address.getErrors('attention'),
  }) }}

  {{ forms.textField({
    label: 'Title'|t('commerce'),
    name: 'address[title]',
    id: 'title',
    value : address.title,
    errors: address.getErrors('title'),
  }) }}

  {{ forms.textField({
    label: 'Given Name'|t('commerce'),
    name: 'address[givenName]',
    id: 'givenName',
    value : address.givenName,
    errors: address.getErrors('givenName'),
  }) }}

  {{ forms.textField({
    label: 'Family Name'|t('commerce'),
    name: 'address[familyName]',
    id: 'familyName',
    value : address.familyName,
    errors: address.getErrors('familyName'),
  }) }}

  {{ forms.textField({
    label: 'Full Name'|t('commerce'),
    name: 'address[fullName]',
    id: 'fullName',
    value : address.fullName,
    errors: address.getErrors('fullName'),
  }) }}

  {{ forms.textField({
    label: 'Address 1'|t('commerce'),
    name: 'address[addressLine1]',
    id: 'addressLine1',
    value : address.addressLine1,
    errors: address.getErrors('addressLine1'),
  }) }}

  {{ forms.textField({
    label: 'Address 2'|t('commerce'),
    name: 'address[addressLine2]',
    id: 'addressLine2',
    value : address.addressLine2,
    errors: address.getErrors('addressLine2'),
  }) }}

  {{ forms.textField({
    label: 'Address 3'|t('commerce'),
    name: 'address[addressLine3]',
    id: 'addressLine3',
    value : address.addressLine3,
    errors: address.getErrors('addressLine3'),
  }) }}

  {{ forms.textField({
    label: 'Locality'|t('commerce'),
    name: 'address[locality]',
    id: 'locality',
    value : address.locality,
    errors: address.getErrors('locality'),
  }) }}

  {{ forms.textField({
    label: 'Postal Code'|t('commerce'),
    name: 'address[postalCode]',
    id: 'postalCode',
    value : address.postalCode,
    errors: address.getErrors('postalCode'),
  }) }}

  {{ forms.selectField({
    label: 'Country'|t('commerce'),
    id: 'country',
    name: 'address[countryId]',
    options: craft.commerce.countries.allEnabledCountriesAsList,
    value: address.countryId,
    errors: address.getErrors('countryId'),
    class: 'selectize fullwidth',
  }) }}

  {{ forms.textField({
    label: 'Administrative Area'|t('commerce'),
    name: 'address[administrativeAreaName]',
    id: 'administrativeAreaValue',
    value : address.administrativeAreaName,
    errors: address.getErrors('administrativeAreaValue'),
  }) }}

  {{ forms.selectField({
    label: 'State'|t('commerce'),
    id: 'administrativeAreaId',
    name: 'address[administrativeAreaValue]',
    options: craft.commerce.states.allEnabledStatesAsList,
    value: address.administrativeAreaId,
    errors: address.getErrors('administrativeAreaValue'),
  }) }}

  {{ forms.textField({
    label: 'Phone'|t('commerce'),
    name: 'address[phone]',
    id: 'phone',
    value : address.phone,
    errors: address.getErrors('phone'),
  }) }}

  {{ forms.textField({
    label: 'Phone (Alt)'|t('commerce'),
    name: 'address[alternativePhone]',
    id: 'alternativePhone',
    value : address.alternativePhone,
    errors: address.getErrors('alternativePhone'),
  }) }}

  {{ forms.textField({
    label: 'Label'|t('commerce'),
    name: 'address[label]',
    id: 'label',
    value : address.label,
    errors: address.getErrors('label'),
  }) }}

  {{ forms.textareaField({
    label: 'Notes'|t('commerce'),
    name: 'address[notes]',
    id: 'notes',
    value : address.notes,
    errors: address.getErrors('notes'),
  }) }}

  {{ forms.textField({
    label: 'Business Name'|t('commerce'),
    name: 'address[organization]',
    id: 'organization',
    value : address.organization,
    errors: address.getErrors('organization'),
  }) }}

  {{ forms.textField({
    label: 'Business Tax ID'|t('commerce'),
    name: 'address[businessTaxId]',
    id: 'businessTaxId',
    value : address.businessTaxId,
    errors: address.getErrors('businessTaxId'),
  }) }}

  {{ forms.textField({
    label: 'Business ID'|t('commerce'),
    name: 'address[businessId]',
    id: 'businessId',
    value : address.businessId,
    errors: address.getErrors('businessId'),
  }) }}

  {{ forms.textField({
    label: 'Custom 1'|t('commerce'),
    name: 'address[custom1]',
    id: 'custom1',
    value : address.custom1,
    errors: address.getErrors('custom1'),
  }) }}

  {{ forms.textField({
    label: 'Custom 2'|t('commerce'),
    name: 'address[custom2]',
    id: 'custom2',
    value : address.custom2,
    errors: address.getErrors('custom2'),
  }) }}

  {{ forms.textField({
    label: 'Custom 3'|t('commerce'),
    name: 'address[custom3]',
    id: 'custom3',
    value : address.custom3,
    errors: address.getErrors('custom3'),
  }) }}

  {{ forms.textField({
    label: 'Custom 4'|t('commerce'),
    name: 'address[custom4]',
    id: 'custom4',
    value : address.custom4,
    errors: address.getErrors('custom4'),
  }) }}

  {# Hidden fields #}
  <input type="hidden" name="id" value="{{ address.id }}">
  <input type="hidden" name="customerId" value="{{ customer ? customer.id|hash : null }}">
  <input type="hidden" name="action" value="commerce/addresses/save">
  {% if redirect %}
    {{ redirectInput(redirect) }}
  {% endif %}

{% endblock %}

{% js %}
var selectedStateId = {{ address.administrativeAreaId ?: 'null' }};
  var states = {{ craft.commerce.states.allEnabledStatesAsListGroupedByCountryId|json_encode|raw }};
  $('#country').selectize();

  $('select#country').change(function ()  {
    // get the value of the selected country.
    var cid = $(this).val();
    var $states = $('#administrativeAreaId');
    var $stateName = $('#administrativeAreaValue');
    $states.find('option').remove();

    if (states.hasOwnProperty(cid))
    {
      // We have states for this country, show the states drop down.
      $states.parents('#administrativeAreaId-field').removeClass('hidden');
      $states.attr('name', 'address[administrativeAreaValue]');

      // We have states for this country, hide the administrativeAreaName input.
      $stateName.removeAttr('name');
      $stateName.parents('#administrativeAreaValue-field').addClass('hidden');
      $stateName.val('');

      // Add all states as options to drop down.
      for (var id in states[cid])
      {
        var state = states[cid][id];
        var $option = $('<option/>');
        $option.attr('value', id).text(state);
        if (id == selectedStateId) {
          $option.attr('selected', 'selected');
        }
        $states.append($option);
      }

    } else {
      // hide the states dropdown, since this country has none.
      $states.parents('#administrativeAreaId-field').addClass('hidden');
      $states.removeAttr('name');

      // show the administrativeAreaName
      $stateName.parents('#administrativeAreaValue-field').removeClass('hidden');
      $stateName.attr('name', 'address[administrativeAreaValue]');
    }
  });

  $('select#country').trigger('change');

{% endjs %}
