{% extends "commerce/_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set content %}
<form method="post" accept-charset="UTF-8" data-saveshortcut>

    {# Are we editing an address book address for a user? #}
    {% if address.id %}
        <input type="hidden" name="action" value="commerce/address/save">
        <input type="hidden" name="redirect" value="{{ address.customer.user.cpEditUrl }}#profile">
        <input type="hidden" name="id" value="{{ address.id }}">
    {% endif %}

    {{ getCsrfInput() }}

    {{ forms.textField({
        label: "First Name"|t,
        name: 'firstName',
        value: address.firstName,
        errors: address.getErrors('firstName'),
        required: true,
    }) }}

    {{ forms.textField({
        label: "Last Name"|t,
        name: 'lastName',
        value: address.lastName,
        errors: address.getErrors('lastName'),
        required: true,
    }) }}

    {{ forms.textField({
        label: "Address1"|t,
        name: 'address1',
        value: address.address1,
        errors: address.getErrors('address1'),
    }) }}

    {{ forms.textField({
        label: "Address2"|t,
        name: 'address2',
        value: address.address2,
        errors: address.getErrors('address2'),
    }) }}


    {{ forms.textField({
        label: "City"|t,
        name: 'city',
        value: address.city,
        errors: address.getErrors('city'),
    }) }}

    {{ forms.textField({
        label: "Zip Code"|t,
        name: 'zipCode',
        value: address.zipCode,
        errors: address.getErrors('zipCode'),
    }) }}

    {{ forms.textField({
        label: "Phone"|t,
        name: 'phone',
        value: address.phone,
        errors: address.getErrors('phone'),
    }) }}

    {{ forms.textField({
        label: "Alternative Phone"|t,
        name: 'alternativePhone',
        value: address.alternativePhone,
        errors: address.getErrors('alternativePhone'),
    }) }}

    {{ forms.textField({
        label: "Company"|t,
        name: 'company',
        value: address.company,
        errors: address.getErrors('company'),
    }) }}

    {{ forms.selectField({
        label: "Country"|t,
        class: 'selectize fullwidth',
        id: 'countryId',
        name: 'countryId',
        value: address.countryId,
        options: countries,
        errors: address.getErrors('countryId'),
        required: true,
    }) }}

    {{ forms.selectField({
        label: "State"|t,
        class: 'selectize fullwidth',
        id: 'stateValue',
        name: 'stateValue',
        value: address.stateId,
        options: states[address.countryId] is defined ? states[address.countryId] : [],
        errors: address.getErrors('stateId')|merge(address.getErrors('stateName')),
    }) }}


    <hr>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </div>
</form>

{% endset %}

{% includejs %}
        var states = {{ states|json_encode|raw }}
        var stateName = {{ address.stateName|json_encode|raw }};

        $(function () {
            $('#countryId').selectize({
                dropdownParent: 'body',
                onChange: function (value) {
                    if (!states.hasOwnProperty(value)) {
                        $stateSelect.clearOptions();
                    } else {
                        var options = [];
                        for (var id in states[value]) {
                            options.push({value: id, text: states[value][id]});
                        }
                        $stateSelect.createItem(options);
                    }
                }
            });
            var $stateSelect = $('#stateValue').selectize({
                dropdownParent: 'body',
                create: true,
                persist: false,
                sortField: 'text'
            })[0].selectize;

            if (!$stateSelect.getValue()) {
                $stateSelect.addOption({value: stateName, text: stateName});
                $stateSelect.setValue(stateName);
            }

        });
{% endincludejs %}
