<!-- Template: {{ _self }}.twig -->
{#
Outputs the site’s global main navigation based on path and included `pages` array.

@var cart        \craft\commerce\elements\Order
@var currentUser \craft\elements\User
#}
{% set pages = [
  {
    label: 'Products',
    url: '[[folderName]]/products'
  },
  {
    label: 'Plans',
    url: '[[folderName]]/plans'
  },
  {
    label: 'Donations',
    url: '[[folderName]]/donations'
  }
] %}

{% if 'checkout' not in craft.app.request.pathInfo %}
  <div class="bg-gray-100">
    <div class="container mx-auto justify-between items-center p-6 relative">
      <nav class="-ml-4"
           role="navigation"
           aria-label="Main">
        {% for page in pages %}
          <a href="{{ url(page.url) }}"
             class="mx-4">
            {{- page.label|t -}}
          </a>
        {% endfor %}
        <div class="absolute right-2 top-0">
          {% if currentUser %}
            <a href="{{ url('[[folderName]]/customer') }}"
               class="mx-4 text-sm font-semibold">
              {{- currentUser.email -}}
            </a>
          {% else %}
            <a href="{{ url('[[folderName]]/customer/sign-in') }}"
               class="mx-4">
              {{- 'Sign In'|t -}}
            </a>
          {% endif %}
          <a href="{{ url('[[folderName]]/cart') }}"
             class="relative text-lg cursor-pointer inline-block mx-4 my-5 px-2 py-1 bg-white rounded-lg hover:shadow">
            {% if cart.totalQty %}
              <span class="absolute -mr-3 -mt-3 right-0 top-0 py-1 px-2 rounded-full text-white text-xs bg-[[color]]-800">
                {{- cart.totalQty -}}
              </span>
            {% endif %}
            <p role="img" aria-label="{{ 'Shopping Cart'|t }}">🛒</p>
          </a>
        </div>
      </nav>
    </div>
  </div>
{% endif %}
