<!-- Template: {{ _self }}.twig -->
{#
Outputs the checkout progress navigation using the request path and included `checkoutSteps` array.
#}
{% set checkoutSteps = [
  {
    label: 'Email',
    url: '[[folderName]]/checkout/email'
  },
  {
    label: 'Account',
    url: '[[folderName]]/checkout/register-signin'
  },
  {
    label: 'Address',
    url: '[[folderName]]/checkout/addresses'
  },
  {
    label: 'Shipping',
    url: '[[folderName]]/checkout/shipping'
  },
  {
    label: 'Payment Method',
    url: '[[folderName]]/checkout/payment-method'
  },
  {
    label: 'Payment',
    url: '[[folderName]]/checkout/payment'
  }
] %}

{% set totalSteps = checkoutSteps|length %}

{% if width is not defined %}
  {% set width = 0 %}
{% endif %}

{% set currentPath = craft.app.request.pathInfo %}

{% if currentPath in checkoutSteps|column('url') %}
  <div class="container mx-auto justify-between items-center p-6 text-center text-sm text-gray-600">
    <nav class="flex"
         role="navigation"
         aria-label="Checkout">
      {% for step in checkoutSteps %}
        {% set isCurrentStep = step.url == currentPath %}
        <span class="flex-1 pb-2">
          {% if isCurrentStep %}
            {# Calculate greatest thermometer width to use after this loop #}
            {% set width = ((loop.index) * 100 / totalSteps - 10) %}
            <span class="text-gray-800">
              {{- step.label|t -}}
            </span>
          {% else %}
            <a href="{{ url(step.url) }}"
               class="no-underline">
              {{- step.label|t -}}
            </a>
          {% endif %}
        </span>
      {% endfor %}
    </nav>
    <div class="h-2 w-full bg-gray-200 rounded"></div>
    <div class="h-2 bg-[[color]]-600 rounded -mt-2" style="width: {{ width }}%;"></div>
  </div>
{% endif %}
