<!-- Template: {{ _self }}.twig -->
{#
Outputs the site’s global main navigation based on path and included `pages` array.

@var cart        \craft\commerce\elements\Order
@var currentUser \craft\elements\User
#}
{% set pages = [
  {
    label: 'Products',
    url: '[[folderName]]/products'
  },
  {
    label: 'Plans',
    url: '[[folderName]]/plans'
  },
  {
    label: 'Donations',
    url: '[[folderName]]/donations'
  }
] %}

{% if currentUser %}
  {% set pages = pages|merge([{
    label: 'My Account',
    url: '[[folderName]]/customer'
  }]) %}
{% endif %}

{% if 'checkout' not in craft.app.request.pathInfo %}
  <div class="bg-gray-100">
    <div class="container mx-auto justify-between items-center p-6 relative">
      <nav class="-ml-4"
           role="navigation"
           aria-label="Main">
        {% for page in pages %}
          <a href="{{ url(page.url) }}" class="mx-4">
            {{- page.label|t -}}
          </a>
        {% endfor %}
      </nav>
      <a href="{{ url('[[folderName]]/cart') }}"
         class="absolute text-lg right-0 top-0 cursor-pointer mx-6 my-5 px-2 py-1 bg-white rounded-lg hover:shadow"
      >
        {% if cart.totalQty %}
          <span class="absolute -mr-3 -mt-3 right-0 top-0 py-1 px-2 rounded-full bg-[[color]]-800 text-white text-xs">
            {{- cart.totalQty -}}
          </span>
        {% endif %}
        <p role="img" aria-label="{{ 'Shopping Cart'|t }}">🛒</p>
      </a>
    </div>
  </div>
{% endif %}
