{% extends "market/_layouts/settings" %}

{% set content %}
    <h2>{{ "Countries"|t }}</h2>
    <table id="countries" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">ISO</th>
            <th scope="col">State required?</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr data-id="{{ country.id }}" data-name="{{ country.name }}">
                <th scope="row" data-title="Name"><a
                            href="{{ url('market/settings/countries/'~country.id) }}">{{ country.name }}</a></th>
                <td data-title="ISO">{{ country.iso }}</td>
                <td data-title="State required?">{{ country.stateRequired ? 'Yes'|t : 'No'|t }}</td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <br/>
    <div class="btngroup submit first">
        <a href="{{ url('market/settings/countries/new') }}" class="btn submit">New Country</a>
    </div>
{% endset %}


{% set js %}
var adminTable = new Craft.AdminTable({
tableSelector: '#countries',
deleteAction: 'market/country/delete',
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}',
deleteFailMessage: '{{ "Can not delete “{name}”, it is being used by various addresses."|t }}'
});
{% endset %}
{% includeJs js %}