{% extends "commerce/_layouts/settings" %}

{% set selectedTab = 'settings' %}

{% set content %}
        <h2>{{ "Custom Order Statuses"|t }}</h2>
        <p>{{ "Define the statuses that can be set on orders once they've been completed."|t }}</p>
        <table id="orderStatuses" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ "Status"|t }}</th>
                <th scope="col">{{ "Handle"|t }}</th>
                <th scope="col">{{ "Has Emails?"|t }}</th>
                <th scope="col">{{ "Default Status?"|t }}</th>
                <td class="thin"></td>
            </tr>
            </thead>
            <tbody>
            {% for orderStatus in orderStatuses %}
                <tr data-id="{{ orderStatus.id }}" data-name="{{ orderStatus.handle }}">
                    <th scope="row" data-title="Name"><a href="{{ orderStatus.getCpEditUrl() }}">{{ orderStatus.printName|raw }}</a></th>
                    <td data-title="Handle"><code>{{ orderStatus.handle }}</code></td>
                    <td data-title="Emails">
                        {% if orderStatus.emails | length %}
                            {{ orderStatus.emails | length }}
                        {% endif %}
                    </td>
                    <td>{{ orderStatus.default ? 'Yes' : 'No' }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <br/>
        <div class="btngroup submit">
            <a href="{{ url('commerce/settings/orderstatuses/new') }}" class="btn submit">New Order Status</a>
        </div>



{% endset %}


{% includejs %}
    new Craft.AdminTable({
        tableSelector: '#orderStatuses',
        deleteAction: 'commerce/orderStatus/delete',
        minObjects: 1,
        confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}'
    });
{% endincludejs %}
