<div class="commerce-widget-table-wrapper">
  <div id="{{ id }}"></div>
</div>

{% set tableData = [] %}
{% for stat in stats %}
  {% set tableData = tableData|merge([{
    title: (stat[nameField] ?? stat.description),
    qty: stat.qty,
    revenue: stat.revenue|commerceCurrency(craft.commerce.paymentCurrencies.getPrimaryPaymentCurrencyIso()),
  }]) %}
{% endfor %}

{% js %}
var columns = [
    { name: '__slot:title', title: '{{ nameFieldLabel|e }}' },
    { name: '{{ type }}', title: '{{ typeLabel|e }}' }
];

new Craft.VueAdminTable({
    columns: columns,
    container: '#{{ id }}',
    tableData: {{ tableData|json_encode|raw }}
});
{% endjs %}