{% extends "commerce/_layouts/settings" %}


{% block content %}
    <h2>{{ "Tax Categories"|t }}</h2>

    <table id="taxcategories" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Handle"|t }}</th>
            <th scope="col">{{ "Description"|t }}</th>
            <th scope="col">{{ "Default Category?"|t }}</th>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for taxCategory in taxCategories %}
            <tr data-id="{{ taxCategory.id }}" data-name="{{ taxCategory.name }}">
                <th scope="row" data-title="Name"><a
                            href="{{ url('commerce/settings/taxcategories/'~taxCategory.id) }}">{{ taxCategory.name }}</a>
                </th>
                <td data-title="Handle"><code>{{ taxCategory.handle }}</code></td>
                <td data-title="Description">{{ taxCategory.description }}</td>
                <td data-title="Is Default?">{{ taxCategory.default ? 'Yes'|t : 'No'|t }}</td>
                <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="buttons secondary-buttons">
        <a href="{{ url('commerce/settings/taxcategories/new') }}" class="btn submit add icon">New tax category</a>
    </div>
{% endblock %}

{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#taxcategories',
deleteAction: 'commerce/taxCategories/delete',
minObjects: 1,
confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}'
});
{% endincludejs %}
